Repository kyma-project/console, changes with the owners that CODEOWNERS names for each.
All owners: @akucharska, @michal-hudy, @pkosiec, @aerfio, @magicmatatjahu, @pekura, @maxmarkus, @jesusreal, @kwiatekus, @dariadomagala, @hardl, @y-kkamil, @antiheld, @joek, @lilitgh, @venturasr, @sayanh, @rakesh-garimella, @k15r, @johannesdoberer, @marynakhromova, @aszecowka, @PK85, @mszostok, @piotrmiskiewicz, @polskikiel, @jasiu001, @parostatkiem, @kazydek, @klaudiagrz, @tomekpapiernik, @bszwarc, @mmitoraj, @suleymanakbas91, @clebs, @a-thaler

CODEOWNERS:

# Default owners of the repository
* @akucharska @michal-hudy @pkosiec @aerfio @magicmatatjahu @pekura @maxmarkus @jesusreal @kwiatekus @dariadomagala @hardl @y-kkamil @antiheld @joek @lilitgh @venturasr @sayanh @rakesh-garimella @k15r @johannesdoberer @marynakhromova

/catalog/ @akucharska @michal-hudy @pkosiec @aerfio @magicmatatjahu
/instances/ @akucharska @michal-hudy @pkosiec @aerfio @magicmatatjahu
/brokers/ @akucharska @michal-hudy @pkosiec @aerfio @magicmatatjahu @aszecowka @PK85 @mszostok @piotrmiskiewicz @polskikiel @jasiu001
/content/ @akucharska @michal-hudy @pkosiec @aerfio @magicmatatjahu
/components/angular/ @pekura @maxmarkus @jesusreal @kwiatekus @dariadomagala @hardl @y-kkamil @antiheld @johannesdoberer @marynakhromova
/components/react/ @akucharska @michal-hudy @pkosiec @aerfio @magicmatatjahu
/core/ @pekura @maxmarkus @jesusreal @kwiatekus @dariadomagala @hardl @y-kkamil @antiheld @parostatkiem @johannesdoberer @marynakhromova
/tests/ @akucharska @michal-hudy @pkosiec @aerfio @magicmatatjahu @pekura @maxmarkus @jesusreal @kwiatekus @dariadomagala @hardl @y-kkamil @antiheld @johannesdoberer @marynakhromova
/lambda/ @rakesh-garimella @joek @sayanh @venturasr @lilitgh @k15r @pekura @maxmarkus @jesusreal @kwiatekus @dariadomagala @hardl @y-kkamil @antiheld @parostatkiem @johannesdoberer @marynakhromova

# Owners of all .md files in the repository
*.md @kazydek @klaudiagrz @tomekpapiernik @bszwarc @mmitoraj

# Owners of config file for MILV - milv.config.yaml
milv.config.yaml @akucharska @michal-hudy @pkosiec @aerfio @magicmatatjahu

# Owners of governance file
governance.Jenkinsfile @suleymanakbas91 @clebs @a-thaler @lilitgh @akucharska @michal-hudy @pkosiec @aerfio @magicmatatjahu

Use subscriptions for Applications
  core/src/app/content/namespaces/operation/abstract-graphql-element-list.component.ts
  core/src/app/content/namespaces/operation/graphql-data-provider.ts
  core/src/app/content/settings/applications/applications-entry-renderer/applications-entry-renderer.component.ts
  core/src/app/content/settings/applications/applications.component.ts
Owners: @pekura, @maxmarkus, @jesusreal, @kwiatekus, @dariadomagala, @hardl, @y-kkamil, @antiheld, @parostatkiem, @johannesdoberer, @marynakhromova

Fix typescript errors
  core/src/app/ws.ts
Owners: @pekura, @maxmarkus, @jesusreal, @kwiatekus, @dariadomagala, @hardl, @y-kkamil, @antiheld, @parostatkiem, @johannesdoberer, @marynakhromova

Fix subscription not closed issue
  core/src/app/content/settings/applications/application-details/application-binding-service.ts
  core/src/app/content/settings/applications/applications.component.ts
  core/src/app/shared/services/graphql-client-service.ts
Owners: @pekura, @maxmarkus, @jesusreal, @kwiatekus, @dariadomagala, @hardl, @y-kkamil, @antiheld, @parostatkiem, @johannesdoberer, @marynakhromova

Fix caching issue
  core/src/app/content/namespaces/operation/graphql-data-provider.ts
  core/src/app/content/namespaces/operation/pods/pods-entry-renderer/pods-entry-renderer.component.ts
  core/src/app/shared/services/graphql-client-service.ts
Owners: @pekura, @maxmarkus, @jesusreal, @kwiatekus, @dariadomagala, @hardl, @y-kkamil, @antiheld, @parostatkiem, @johannesdoberer, @marynakhromova

Minor changes
  core/src/app/content/namespaces/operation/graphql-data-provider.ts
Owners: @pekura, @maxmarkus, @jesusreal, @kwiatekus, @dariadomagala, @hardl, @y-kkamil, @antiheld, @parostatkiem, @johannesdoberer, @marynakhromova

Proccess the response as previously
  core/src/app/shared/services/graphql-client-service.ts
Owners: @pekura, @maxmarkus, @jesusreal, @kwiatekus, @dariadomagala, @hardl, @y-kkamil, @antiheld, @parostatkiem, @johannesdoberer, @marynakhromova

Small fixes
  core/src/app/content/namespaces/operation/graphql-data-provider.ts
  core/src/app/shared/services/graphql-client-service.ts
Owners: @pekura, @maxmarkus, @jesusreal, @kwiatekus, @dariadomagala, @hardl, @y-kkamil, @antiheld, @parostatkiem, @johannesdoberer, @marynakhromova

Small fixes
  core/src/app/content/namespaces/operation/graphql-data-provider.ts
  core/src/app/shared/services/graphql-client-service.ts
Owners: @pekura, @maxmarkus, @jesusreal, @kwiatekus, @dariadomagala, @hardl, @y-kkamil, @antiheld, @parostatkiem, @johannesdoberer, @marynakhromova

Use gql-client-service insead of apollo in gql data provider
  core/src/app/content/namespaces/configuration/apis/filtered-apis/filtered-apis.component.ts
  core/src/app/content/namespaces/configuration/resources/limit-ranges/limit-ranges.component.ts
  core/src/app/content/namespaces/configuration/resources/resource-quotas/resource-quotas.component.ts
  core/src/app/content/namespaces/operation/abstract-graphql-element-list.component.ts
  core/src/app/content/namespaces/operation/configmaps/configmaps.component.ts
  core/src/app/content/namespaces/operation/deployments/deployments.component.ts
  core/src/app/content/namespaces/operation/graphql-data-provider.ts
  core/src/app/content/namespaces/operation/pods/pods.component.ts
  core/src/app/content/namespaces/operation/replica-sets/replica-sets.component.ts
  core/src/app/content/settings/applications/applications.component.ts
  core/src/app/content/settings/idp-presets/idp-presets.component.ts
  core/src/app/content/settings/service-brokers/service-brokers.component.ts
  core/src/app/shared/services/graphql-client-service.ts
Owners: @pekura, @maxmarkus, @jesusreal, @kwiatekus, @dariadomagala, @hardl, @y-kkamil, @antiheld, @parostatkiem, @johannesdoberer, @marynakhromova

768 fiorification phase 3 (#777)
  components/angular/generic-list/angular.json
  components/angular/generic-list/package-lock.json
  components/angular/generic-list/src/app/modules/list/generic-list/generic-list.component.html
  components/angular/generic-list/src/app/modules/list/generic-table/generic-table.component.html
  core/src/app/content/namespaces/configuration/apis/api-definition-entry-renderer/api-definition-entry-renderer.component.html
  core/src/app/content/namespaces/configuration/apis/apis.component.html
  core/src/app/content/namespaces/configuration/resources/resources.component.html
  core/src/app/content/namespaces/configuration/resources/resources.component.spec.ts
  core/src/app/content/namespaces/configuration/resources/resources.component.ts
  core/src/app/content/namespaces/namespace-details/namespace-details.component.html
  core/src/app/content/namespaces/operation/kubernetes-element-list.component.html
  core/src/app/content/namespaces/operation/secrets/secret-detail/secret-detail.component.html
  core/src/app/content/namespaces/operation/secrets/secrets-entry-renderer/secrets-entry-renderer.component.html
  core/src/app/content/namespaces/operation/services/service-details/expose-api/expose-api.component.html
  core/src/app/content/namespaces/operation/services/service-details/service-details.component.html
  core/src/app/content/namespaces/operation/services/services-entry-renderer/services-entry-renderer.component.html
  core/src/app/content/settings/applications/application-details/application-details.component.html
  core/src/app/content/settings/applications/applications.component.html
  core/src/app/content/settings/idp-presets/idp-presets.component.html
  core/src/app/content/settings/organisation/organisation.component.html
  core/src/app/content/workspace-overview/workspace-overview/workspace-overview.component.html
  core/src/app/shared/components/edit-resource/edit-resource.component.html
  core/src/app/shared/components/permissions/permissions.component.html
  core/src/app/shared/components/permissions/role-details/role-details.component.html
  core/src/styles/fiori-fundamentals-overrides.scss
  lambda/src/app/lambdas/lambda-details/lambda-details.component.html
  lambda/src/app/lambdas/list/lambdas-entry-renderer/lambdas-entry-renderer.component.html
  lambda/src/app/lambdas/list/lambdas.component.html
  lambda/src/styles/fiori-fundamentals-overrides.scss
Owners: @pekura, @maxmarkus, @jesusreal, @kwiatekus, @dariadomagala, @hardl, @y-kkamil, @antiheld, @johannesdoberer, @marynakhromova, @parostatkiem, @rakesh-garimella, @joek, @sayanh, @venturasr, @lilitgh, @k15r

Minor changes
  components/angular/generic-list/src/app/modules/list/generic-list/generic-list.component.ts
  core/src/app/content/namespaces/operation/abstract-graphql-element-list.component.ts
  core/src/app/content/settings/applications/applications.component.ts
Owners: @pekura, @maxmarkus, @jesusreal, @kwiatekus, @dariadomagala, @hardl, @y-kkamil, @antiheld, @johannesdoberer, @marynakhromova, @parostatkiem

Update react-fundamental library to 0.5.0 (#765)
  components/react/package-lock.json
  components/react/package.json
  components/react/src/components/Panel/index.js
  components/react/src/components/Table/styled.js
  components/react/src/components/Tile/index.js
  components/react/src/components/Toolbar/styled.js
  components/react/src/components/index.js
  tests/ui-tests/tests/catalog-ui-test.js
Owners: @akucharska, @michal-hudy, @pkosiec, @aerfio, @magicmatatjahu, @pekura, @maxmarkus, @jesusreal, @kwiatekus, @dariadomagala, @hardl, @y-kkamil, @antiheld, @johannesdoberer, @marynakhromova

Fix
  components/angular/generic-list/src/app/modules/list/generic-list/generic-list.component.ts
  core/src/app/content/namespaces/operation/graphql-data-provider.ts
  core/src/app/shared/services/graphql-client-service.ts
Owners: @pekura, @maxmarkus, @jesusreal, @kwiatekus, @dariadomagala, @hardl, @y-kkamil, @antiheld, @johannesdoberer, @marynakhromova, @parostatkiem

Add tabs and integration with luigi
  catalog/src/components/ServiceClassList/ServiceClassList.component.js
Owners: @akucharska, @michal-hudy, @pkosiec, @aerfio, @magicmatatjahu

Add tabs for service instances view, add missing default clause
  catalog/src/components/ServiceClassList/ServiceClassList.component.js
  instances/src/components/ServiceInstances/ServiceInstances.component.js
Owners: @akucharska, @michal-hudy, @pkosiec, @aerfio, @magicmatatjahu

Run prettier for changed files
  catalog/src/components/ServiceClassList/ServiceClassList.component.js
  instances/src/components/ServiceInstances/ServiceInstances.component.js
Owners: @akucharska, @michal-hudy, @pkosiec, @aerfio, @magicmatatjahu

Comment code that is not going to work with current Luigi version
  catalog/src/components/ServiceClassList/ServiceClassList.component.js
Owners: @akucharska, @michal-hudy, @pkosiec, @aerfio, @magicmatatjahu

Prettier fix
  catalog/src/components/ServiceClassList/ServiceClassList.component.js
Owners: @akucharska, @michal-hudy, @pkosiec, @aerfio, @magicmatatjahu

Add support for addons and services
  catalog/src/components/ServiceClassList/ActiveFiltersList/styled.js
  catalog/src/components/ServiceClassList/Cards/Card.component.js
  catalog/src/components/ServiceClassList/FilterList/styled.js
  catalog/src/components/ServiceClassList/ServiceClassList.component.js
  catalog/src/components/ServiceClassList/ServiceClassList.container.js
  catalog/src/components/ServiceClassList/queries.js
  catalog/src/components/ServiceClassList/styled.js
  catalog/src/components/ServiceClassList/variables.js
  catalog/src/store/Filter/defaults.js
  catalog/src/store/Filter/resolvers.js
  components/react/src/components/Tabs/components.js
  components/react/src/components/Tabs/index.js
  components/react/src/components/Toolbar/index.js
  components/react/src/components/Toolbar/styled.js
  instances/src/components/ServiceInstances/ServiceInstances.container.js
Owners: @akucharska, @michal-hudy, @pkosiec, @aerfio, @magicmatatjahu

Add support for addons and services
  catalog/src/components/ServiceClassList/ServiceClassList.component.js
  catalog/src/components/ServiceClassList/variables.js
  catalog/src/store/Filter/resolvers.js
  components/react/src/components/Tabs/components.js
  components/react/src/components/Tabs/index.js
  core/src/luigi-config/luigi-config.js
  instances/src/components/DataProvider/fragments.js
  instances/src/components/ServiceInstanceDetails/ServiceInstanceDetails.component.js
  instances/src/components/ServiceInstances/ServiceInstances.component.js
  instances/src/components/ServiceInstances/ServiceInstances.container.js
  instances/src/components/ServiceInstances/ServiceInstancesToolbar/SearchDropdown.component.js
  instances/src/components/ServiceInstances/ServiceInstancesToolbar/ServiceInstancesToolbar.component.js
  instances/src/components/ServiceInstances/ServiceInstancesToolbar/styled.js
  instances/src/components/ServiceInstances/queries.js
  instances/src/components/ServiceInstances/styled.js
  instances/src/components/ServiceInstances/variables.js
  instances/src/store/Filter/defaults.js
  instances/src/store/Filter/resolvers.js
Owners: @akucharska, @michal-hudy, @pkosiec, @aerfio, @magicmatatjahu, @pekura, @maxmarkus, @jesusreal, @kwiatekus, @dariadomagala, @hardl, @y-kkamil, @antiheld, @parostatkiem, @johannesdoberer, @marynakhromova

fetch impersonated selfsubjectrules in console
  core/src/luigi-config/luigi-config.js
Owners: @pekura, @maxmarkus, @jesusreal, @kwiatekus, @dariadomagala, @hardl, @y-kkamil, @antiheld, @parostatkiem, @johannesdoberer, @marynakhromova

Review changes
  catalog/src/components/ServiceClassList/ServiceClassList.component.js
  catalog/src/store/Filter/resolvers.js
  catalog/src/variables.js
  instances/src/components/ServiceInstanceDetails/ServiceInstanceDetails.component.js
  instances/src/components/ServiceInstances/ServiceInstances.component.js
  instances/src/components/ServiceInstances/ServiceInstancesToolbar/ServiceInstancesToolbar.component.js
  instances/src/store/Filter/resolvers.js
  instances/src/variables.js
Owners: @akucharska, @michal-hudy, @pkosiec, @aerfio, @magicmatatjahu

prettier
  catalog/src/store/Filter/resolvers.js
  instances/src/store/Filter/resolvers.js
Owners: @akucharska, @michal-hudy, @pkosiec, @aerfio, @magicmatatjahu

Review changes
  catalog/src/components/ServiceClassList/ServiceClassList.component.js
  components/react/src/components/Tabs/components.js
  components/react/src/components/Tabs/index.js
  instances/src/components/ServiceInstances/ServiceInstances.component.js
Owners: @akucharska, @michal-hudy, @pkosiec, @aerfio, @magicmatatjahu

Review changes
  catalog/src/store/Filter/resolvers.js
  instances/src/store/Filter/resolvers.js
Owners: @akucharska, @michal-hudy, @pkosiec, @aerfio, @magicmatatjahu

Update catalog/src/components/ServiceClassList/Cards/Card.component.js
  catalog/src/components/ServiceClassList/Cards/Card.component.js
Owners: @akucharska, @michal-hudy, @pkosiec, @aerfio, @magicmatatjahu

Fix tests
  tests/ui-tests/tests/catalog-ui-test.js
Owners: @akucharska, @michal-hudy, @pkosiec, @aerfio, @magicmatatjahu, @pekura, @maxmarkus, @jesusreal, @kwiatekus, @dariadomagala, @hardl, @y-kkamil, @antiheld, @johannesdoberer, @marynakhromova

prettier
  tests/ui-tests/tests/catalog-ui-test.js
Owners: @akucharska, @michal-hudy, @pkosiec, @aerfio, @magicmatatjahu, @pekura, @maxmarkus, @jesusreal, @kwiatekus, @dariadomagala, @hardl, @y-kkamil, @antiheld, @johannesdoberer, @marynakhromova

Disable add-ons tests
  add-ons/Makefile
Owners: @akucharska, @michal-hudy, @pkosiec, @aerfio, @magicmatatjahu, @pekura, @maxmarkus, @jesusreal, @kwiatekus, @dariadomagala, @hardl, @y-kkamil, @antiheld, @joek, @lilitgh, @venturasr, @sayanh, @rakesh-garimella, @k15r, @johannesdoberer, @marynakhromova

Support addons (#782)
  add-ons/Makefile
  catalog/src/components/ServiceClassList/ActiveFiltersList/styled.js
  catalog/src/components/ServiceClassList/Cards/Card.component.js
  catalog/src/components/ServiceClassList/FilterList/styled.js
  catalog/src/components/ServiceClassList/ServiceClassList.component.js
  catalog/src/components/ServiceClassList/ServiceClassList.container.js
  catalog/src/components/ServiceClassList/queries.js
  catalog/src/components/ServiceClassList/styled.js
  catalog/src/store/Filter/defaults.js
  catalog/src/store/Filter/resolvers.js
  catalog/src/variables.js
  components/react/src/components/Tabs/components.js
  components/react/src/components/Tabs/index.js
  components/react/src/components/Toolbar/index.js
  components/react/src/components/Toolbar/styled.js
  core/src/luigi-config/luigi-config.js
  instances/src/components/DataProvider/fragments.js
  instances/src/components/ServiceInstances/ServiceInstances.component.js
  instances/src/components/ServiceInstances/ServiceInstances.container.js
  instances/src/components/ServiceInstances/ServiceInstancesToolbar/SearchDropdown.component.js
  instances/src/components/ServiceInstances/ServiceInstancesToolbar/ServiceInstancesToolbar.component.js
  instances/src/components/ServiceInstances/ServiceInstancesToolbar/styled.js
  instances/src/components/ServiceInstances/queries.js
  instances/src/components/ServiceInstances/styled.js
  instances/src/store/Filter/defaults.js
  instances/src/store/Filter/resolvers.js
  instances/src/variables.js
  tests/ui-tests/tests/catalog-ui-test.js
Owners: @akucharska, @michal-hudy, @pkosiec, @aerfio, @magicmatatjahu, @pekura, @maxmarkus, @jesusreal, @kwiatekus, @dariadomagala, @hardl, @y-kkamil, @antiheld, @joek, @lilitgh, @venturasr, @sayanh, @rakesh-garimella, @k15r, @johannesdoberer, @marynakhromova, @parostatkiem

Fix unit tests
  core/src/app/content/namespaces/configuration/resources/limit-ranges/limit-ranges.component.spec.ts
  core/src/app/content/namespaces/configuration/resources/resource-quotas/resource-quotas.component.spec.ts
  core/src/app/content/namespaces/operation/deployments/deployments.component.spec.ts
  core/src/app/content/namespaces/services/namespaces.service.spec.ts
  core/src/app/content/settings/applications/services/applications.service.spec.ts
  core/src/app/content/settings/idp-presets/idp-presets.service.spec.ts
  core/src/app/ws.ts
Owners: @pekura, @maxmarkus, @jesusreal, @kwiatekus, @dariadomagala, @hardl, @y-kkamil, @antiheld, @parostatkiem, @johannesdoberer, @marynakhromova

Run lint-fix in components/react
  components/react/src/components/Modal/index.js
  components/react/src/components/Notification/components.js
  components/react/src/components/Notification/index.js
Owners: @akucharska, @michal-hudy, @pkosiec, @aerfio, @magicmatatjahu

Add ts-ignore for one of useReducer parameter
  add-ons/package-lock.json
  add-ons/src/services/Filters.service.ts
Owners: @akucharska, @michal-hudy, @pkosiec, @aerfio, @magicmatatjahu, @pekura, @maxmarkus, @jesusreal, @kwiatekus, @dariadomagala, @hardl, @y-kkamil, @antiheld, @joek, @lilitgh, @venturasr, @sayanh, @rakesh-garimella, @k15r, @johannesdoberer, @marynakhromova

Run prettier again...
  add-ons/src/components/Table/Table.container.tsx
  add-ons/src/services/Filters.service.ts
Owners: @akucharska, @michal-hudy, @pkosiec, @aerfio, @magicmatatjahu, @pekura, @maxmarkus, @jesusreal, @kwiatekus, @dariadomagala, @hardl, @y-kkamil, @antiheld, @joek, @lilitgh, @venturasr, @sayanh, @rakesh-garimella, @k15r, @johannesdoberer, @marynakhromova

Remove yarn.lock from Dockerfile
  add-ons/Dockerfile
Owners: @akucharska, @michal-hudy, @pkosiec, @aerfio, @magicmatatjahu, @pekura, @maxmarkus, @jesusreal, @kwiatekus, @dariadomagala, @hardl, @y-kkamil, @antiheld, @joek, @lilitgh, @venturasr, @sayanh, @rakesh-garimella, @k15r, @johannesdoberer, @marynakhromova

Again improve Dockerfile
  add-ons/Dockerfile
Owners: @akucharska, @michal-hudy, @pkosiec, @aerfio, @magicmatatjahu, @pekura, @maxmarkus, @jesusreal, @kwiatekus, @dariadomagala, @hardl, @y-kkamil, @antiheld, @joek, @lilitgh, @venturasr, @sayanh, @rakesh-garimella, @k15r, @johannesdoberer, @marynakhromova

After tslint
  add-ons/package-lock.json
  add-ons/package.json
  add-ons/src/components/Modals/AddNewConfigurationModal/AddNewConfigurationModal.component.tsx
  add-ons/src/components/Modals/AddNewConfigurationModal/AddNewConfigurationModal.container.tsx
  add-ons/src/components/Modals/AddUrlModal/AddUrlModal.component.tsx
  add-ons/src/components/Modals/AddUrlModal/AddUrlModal.container.tsx
  add-ons/src/components/Modals/DeleteConfigurationModal/DeleteConfigurationModal.component.tsx
  add-ons/src/components/Modals/DeleteConfigurationModal/DeleteConfigurationModal.container.tsx
  add-ons/src/components/Modals/DeleteUrlModal/DeleteUrlModal.component.tsx
  add-ons/src/components/Modals/DeleteUrlModal/DeleteUrlModal.container.tsx
  add-ons/src/components/Table/FilterPopover/FilterPopover.container.tsx
  add-ons/src/components/Table/FilterPopover/FilterPopoverBody.component.tsx
  add-ons/src/components/Table/Table.container.tsx
  add-ons/src/constants.ts
  add-ons/src/core/apollo-client.ts
  add-ons/src/helpers/helm-broker-development-mode.ts
  add-ons/src/helpers/index.ts
  add-ons/src/index.tsx
  add-ons/src/services/Configurations.service.ts
  add-ons/src/services/Forms.tsx
  add-ons/src/services/Labels.service.ts
  add-ons/src/services/Mutations.service.ts
  add-ons/src/services/Notifications.service.ts
  add-ons/src/services/Queries.service.ts
  add-ons/src/services/Urls.service.ts
  add-ons/src/services/index.ts
  add-ons/tslint.json
  components/react/src/components/Modal/index.js
  components/react/src/components/Modal/styled.js
Owners: @akucharska, @michal-hudy, @pkosiec, @aerfio, @magicmatatjahu, @pekura, @maxmarkus, @jesusreal, @kwiatekus, @dariadomagala, @hardl, @y-kkamil, @antiheld, @joek, @lilitgh, @venturasr, @sayanh, @rakesh-garimella, @k15r, @johannesdoberer, @marynakhromova

Remove dupa.yaml :P
  add-ons/dupa.yaml
  add-ons/package.json
Owners: @akucharska, @michal-hudy, @pkosiec, @aerfio, @magicmatatjahu, @pekura, @maxmarkus, @jesusreal, @kwiatekus, @dariadomagala, @hardl, @y-kkamil, @antiheld, @joek, @lilitgh, @venturasr, @sayanh, @rakesh-garimella, @k15r, @johannesdoberer, @marynakhromova

Improve some components
  add-ons/.eslinterrc
  add-ons/src/helpers/helm-broker-development-mode.ts
  add-ons/src/helpers/random-names-generator.ts
  add-ons/src/index.tsx
  catalog/src/commons/helpers.js
  components/react/src/commons/index.js
  components/react/src/commons/random-names-data.js
  components/react/src/commons/random-names-generator.js
Owners: @akucharska, @michal-hudy, @pkosiec, @aerfio, @magicmatatjahu, @pekura, @maxmarkus, @jesusreal, @kwiatekus, @dariadomagala, @hardl, @y-kkamil, @antiheld, @joek, @lilitgh, @venturasr, @sayanh, @rakesh-garimella, @k15r, @johannesdoberer, @marynakhromova

Update package-lock from add-ons
  add-ons/package-lock.json
Owners: @akucharska, @michal-hudy, @pkosiec, @aerfio, @magicmatatjahu, @pekura, @maxmarkus, @jesusreal, @kwiatekus, @dariadomagala, @hardl, @y-kkamil, @antiheld, @joek, @lilitgh, @venturasr, @sayanh, @rakesh-garimella, @k15r, @johannesdoberer, @marynakhromova
