Repository kyma-project/console, changes with the owners that CODEOWNERS names for each.
All owners: @akucharska, @michal-hudy, @pkosiec, @aerfio, @magicmatatjahu, @pekura, @maxmarkus, @jesusreal, @kwiatekus, @dariadomagala, @hardl, @y-kkamil, @antiheld, @joek, @lilitgh, @venturasr, @sayanh, @rakesh-garimella, @k15r, @johannesdoberer, @marynakhromova, @aszecowka, @PK85, @mszostok, @piotrmiskiewicz, @polskikiel, @jasiu001, @parostatkiem, @kazydek, @klaudiagrz, @tomekpapiernik, @bszwarc, @mmitoraj, @suleymanakbas91, @clebs, @a-thaler

define keys for labels
  core/src/app/shared/datamodel/k8s/generic/meta-data.ts
Owners: @pekura, @maxmarkus, @jesusreal, @kwiatekus, @dariadomagala, @hardl, @y-kkamil, @antiheld, @parostatkiem, @johannesdoberer, @marynakhromova

Update local dev domain binding mechanizm
  core/src/luigi-config/luigi-config.js
Owners: @pekura, @maxmarkus, @jesusreal, @kwiatekus, @dariadomagala, @hardl, @y-kkamil, @antiheld, @parostatkiem, @johannesdoberer, @marynakhromova

refactor getData function together with Daria
  core/src/app/content/namespaces/operation/graphql-data-provider.ts
Owners: @pekura, @maxmarkus, @jesusreal, @kwiatekus, @dariadomagala, @hardl, @y-kkamil, @antiheld, @parostatkiem, @johannesdoberer, @marynakhromova

Remove 'unsubscribe' method
  core/src/app/content/namespaces/operation/graphql-data-provider.ts
Owners: @pekura, @maxmarkus, @jesusreal, @kwiatekus, @dariadomagala, @hardl, @y-kkamil, @antiheld, @parostatkiem, @johannesdoberer, @marynakhromova

Fix ui tests for service catalog
  tests/README.md
  tests/ui-tests/tests/catalog-ui-test.js
Owners: @kazydek, @klaudiagrz, @tomekpapiernik, @bszwarc, @mmitoraj, @akucharska, @michal-hudy, @pkosiec, @aerfio, @magicmatatjahu, @pekura, @maxmarkus, @jesusreal, @kwiatekus, @dariadomagala, @hardl, @y-kkamil, @antiheld, @johannesdoberer, @marynakhromova

update readme
  tests/README.md
Owners: @kazydek, @klaudiagrz, @tomekpapiernik, @bszwarc, @mmitoraj

Update tests/README.md
  tests/README.md
Owners: @kazydek, @klaudiagrz, @tomekpapiernik, @bszwarc, @mmitoraj

Apply suggestions from code review
  tests/README.md
Owners: @kazydek, @klaudiagrz, @tomekpapiernik, @bszwarc, @mmitoraj

Fix ui tests for service catalog (#802)
  tests/README.md
  tests/ui-tests/tests/catalog-ui-test.js
Owners: @kazydek, @klaudiagrz, @tomekpapiernik, @bszwarc, @mmitoraj, @akucharska, @michal-hudy, @pkosiec, @aerfio, @magicmatatjahu, @pekura, @maxmarkus, @jesusreal, @kwiatekus, @dariadomagala, @hardl, @y-kkamil, @antiheld, @johannesdoberer, @marynakhromova

change var for let in for loops
  core/src/luigi-config/rbac-rules-matcher.js
Owners: @pekura, @maxmarkus, @jesusreal, @kwiatekus, @dariadomagala, @hardl, @y-kkamil, @antiheld, @parostatkiem, @johannesdoberer, @marynakhromova

remove space
  core/src/app/content/workspace-overview/namespace-card/namespace-card.component.html
Owners: @pekura, @maxmarkus, @jesusreal, @kwiatekus, @dariadomagala, @hardl, @y-kkamil, @antiheld, @parostatkiem, @johannesdoberer, @marynakhromova

Upgrade to luigi 0.4.12-rc.1
  core/package-lock.json
  core/package.json
Owners: @pekura, @maxmarkus, @jesusreal, @kwiatekus, @dariadomagala, @hardl, @y-kkamil, @antiheld, @parostatkiem, @johannesdoberer, @marynakhromova

remove space at the beginning of namespace
  core/src/app/content/workspace-overview/namespace-card/namespace-card.component.html
Owners: @pekura, @maxmarkus, @jesusreal, @kwiatekus, @dariadomagala, @hardl, @y-kkamil, @antiheld, @parostatkiem, @johannesdoberer, @marynakhromova

add 'system' labels to system namespaces (#800)
  core/src/app/content/workspace-overview/namespace-card/namespace-card.component.html
  core/src/app/shared/datamodel/k8s/generic/meta-data.ts
Owners: @pekura, @maxmarkus, @jesusreal, @kwiatekus, @dariadomagala, @hardl, @y-kkamil, @antiheld, @parostatkiem, @johannesdoberer, @marynakhromova

Fix styles of filter dropdown
  components/react/src/components/Dropdown/index.js
  components/react/src/components/Dropdown/styled.js
Owners: @akucharska, @michal-hudy, @pkosiec, @aerfio, @magicmatatjahu

Prettier
  components/react/src/components/Dropdown/styled.js
Owners: @akucharska, @michal-hudy, @pkosiec, @aerfio, @magicmatatjahu

Update CSP in nginx conf file by adding web sockets address to connect-src directive
  core/nginx/nginx.conf
Owners: @pekura, @maxmarkus, @jesusreal, @kwiatekus, @dariadomagala, @hardl, @y-kkamil, @antiheld, @parostatkiem, @johannesdoberer, @marynakhromova

Fix TSLint for add-ons view
  add-ons/Makefile
  add-ons/package-lock.json
  add-ons/package.json
  add-ons/src/components/Modals/AddNewConfigurationModal/AddNewConfigurationModal.component.tsx
  add-ons/src/components/Modals/AddNewConfigurationModal/AddNewConfigurationModal.container.tsx
  add-ons/src/components/Modals/AddUrlModal/AddUrlModal.component.tsx
  add-ons/src/components/Modals/DeleteConfigurationModal/DeleteConfigurationModal.component.tsx
  add-ons/src/components/Modals/DeleteUrlModal/DeleteUrlModal.component.tsx
  add-ons/src/components/Notification/Notification.component.tsx
  add-ons/src/components/Table/ActiveFilters.component.tsx
  add-ons/src/components/Table/FilterPopover/FilterPopover.component.tsx
  add-ons/src/components/Table/FilterPopover/FilterPopoverBody.component.tsx
  add-ons/src/components/Table/Search/Search.component.tsx
  add-ons/src/components/Table/Table.component.tsx
  add-ons/src/components/Table/TableContent.component.tsx
  add-ons/src/components/Toolbar/Toolbar.component.tsx
  add-ons/src/constants.ts
  add-ons/src/core/apollo-client-ws.ts
  add-ons/src/core/apollo-client.ts
  add-ons/src/core/app-initializer.ts
  add-ons/src/services/Configurations.service.ts
  add-ons/src/services/Filters.service.ts
  add-ons/src/services/Forms.tsx
  add-ons/src/services/Labels.service.ts
  add-ons/src/services/Notifications.service.ts
  add-ons/src/services/types.ts
  add-ons/src/types.ts
  add-ons/tslint.json
Owners: @akucharska, @michal-hudy, @pkosiec, @aerfio, @magicmatatjahu, @pekura, @maxmarkus, @jesusreal, @kwiatekus, @dariadomagala, @hardl, @y-kkamil, @antiheld, @joek, @lilitgh, @venturasr, @sayanh, @rakesh-garimella, @k15r, @johannesdoberer, @marynakhromova

Fix TSLint for add-ons view (#810)
  add-ons/Makefile
  add-ons/package-lock.json
  add-ons/package.json
  add-ons/src/components/Modals/AddNewConfigurationModal/AddNewConfigurationModal.component.tsx
  add-ons/src/components/Modals/AddNewConfigurationModal/AddNewConfigurationModal.container.tsx
  add-ons/src/components/Modals/AddUrlModal/AddUrlModal.component.tsx
  add-ons/src/components/Modals/DeleteConfigurationModal/DeleteConfigurationModal.component.tsx
  add-ons/src/components/Modals/DeleteUrlModal/DeleteUrlModal.component.tsx
  add-ons/src/components/Notification/Notification.component.tsx
  add-ons/src/components/Table/ActiveFilters.component.tsx
  add-ons/src/components/Table/FilterPopover/FilterPopover.component.tsx
  add-ons/src/components/Table/FilterPopover/FilterPopoverBody.component.tsx
  add-ons/src/components/Table/Search/Search.component.tsx
  add-ons/src/components/Table/Table.component.tsx
  add-ons/src/components/Table/TableContent.component.tsx
  add-ons/src/components/Toolbar/Toolbar.component.tsx
  add-ons/src/constants.ts
  add-ons/src/core/apollo-client-ws.ts
  add-ons/src/core/apollo-client.ts
  add-ons/src/core/app-initializer.ts
  add-ons/src/services/Configurations.service.ts
  add-ons/src/services/Filters.service.ts
  add-ons/src/services/Forms.tsx
  add-ons/src/services/Labels.service.ts
  add-ons/src/services/Notifications.service.ts
  add-ons/src/services/types.ts
  add-ons/src/types.ts
  add-ons/tslint.json
Owners: @akucharska, @michal-hudy, @pkosiec, @aerfio, @magicmatatjahu, @pekura, @maxmarkus, @jesusreal, @kwiatekus, @dariadomagala, @hardl, @y-kkamil, @antiheld, @joek, @lilitgh, @venturasr, @sayanh, @rakesh-garimella, @k15r, @johannesdoberer, @marynakhromova

Review changes
  components/react/src/components/Dropdown/index.js
Owners: @akucharska, @michal-hudy, @pkosiec, @aerfio, @magicmatatjahu

Fix unnecessary requests for services and applications (#799)
  core/src/app/content/namespaces/configuration/apis/apis.component.ts
  core/src/app/content/namespaces/configuration/apis/filtered-apis/filtered-apis.component.ts
  core/src/app/content/namespaces/configuration/resources/limit-ranges/limit-ranges.component.ts
  core/src/app/content/namespaces/configuration/resources/resource-quotas/resource-quotas.component.ts
  core/src/app/content/namespaces/namespace-details/namespace-details.component.ts
  core/src/app/content/namespaces/operation/abstract-graphql-element-list.component.ts
  core/src/app/content/namespaces/operation/abstract-kubernetes-element-list.component.ts
  core/src/app/content/namespaces/operation/configmaps/configmaps.component.ts
  core/src/app/content/namespaces/operation/deployments/deployments.component.ts
  core/src/app/content/namespaces/operation/pods/pods.component.ts
  core/src/app/content/namespaces/operation/replica-sets/replica-sets.component.ts
  core/src/app/content/namespaces/operation/secrets/secrets.component.ts
  core/src/app/content/namespaces/operation/services/services.component.ts
  core/src/app/content/settings/applications/applications.component.ts
  core/src/app/content/settings/idp-presets/idp-presets.component.ts
  core/src/app/content/settings/service-brokers/service-brokers.component.ts
  core/src/app/shared/components/permissions/bindings/bindings.component.ts
  core/src/app/shared/components/permissions/roles/roles.component.ts
Owners: @pekura, @maxmarkus, @jesusreal, @kwiatekus, @dariadomagala, @hardl, @y-kkamil, @antiheld, @parostatkiem, @johannesdoberer, @marynakhromova

Fix disabled button for creating config is list is empty
  add-ons/src/components/Modals/AddNewConfigurationModal/AddNewConfigurationModal.component.tsx
  add-ons/src/components/Modals/AddNewConfigurationModal/AddNewConfigurationModal.container.tsx
Owners: @akucharska, @michal-hudy, @pkosiec, @aerfio, @magicmatatjahu, @pekura, @maxmarkus, @jesusreal, @kwiatekus, @dariadomagala, @hardl, @y-kkamil, @antiheld, @joek, @lilitgh, @venturasr, @sayanh, @rakesh-garimella, @k15r, @johannesdoberer, @marynakhromova

fix package-lock.json
  core/package-lock.json
Owners: @pekura, @maxmarkus, @jesusreal, @kwiatekus, @dariadomagala, @hardl, @y-kkamil, @antiheld, @parostatkiem, @johannesdoberer, @marynakhromova

Stabilize Lambdas UI test
  tests/ui-tests/tests/lambda-ui-test.js
Owners: @akucharska, @michal-hudy, @pkosiec, @aerfio, @magicmatatjahu, @pekura, @maxmarkus, @jesusreal, @kwiatekus, @dariadomagala, @hardl, @y-kkamil, @antiheld, @johannesdoberer, @marynakhromova

Evaluating self subject rules (#771)
  core/package-lock.json
  core/package.json
  core/src/luigi-config/luigi-config.js
  core/src/luigi-config/rbac-rules-matcher.js
  core/src/luigi-config/rbac-rules-matcher.test.js
Owners: @pekura, @maxmarkus, @jesusreal, @kwiatekus, @dariadomagala, @hardl, @y-kkamil, @antiheld, @parostatkiem, @johannesdoberer, @marynakhromova

Fix styles for filter dropdown (#808)
  components/react/src/components/Dropdown/index.js
  components/react/src/components/Dropdown/styled.js
Owners: @akucharska, @michal-hudy, @pkosiec, @aerfio, @magicmatatjahu

Fix disabled button for creating config is list is empty (#813)
  add-ons/src/components/Modals/AddNewConfigurationModal/AddNewConfigurationModal.component.tsx
  add-ons/src/components/Modals/AddNewConfigurationModal/AddNewConfigurationModal.container.tsx
Owners: @akucharska, @michal-hudy, @pkosiec, @aerfio, @magicmatatjahu, @pekura, @maxmarkus, @jesusreal, @kwiatekus, @dariadomagala, @hardl, @y-kkamil, @antiheld, @joek, @lilitgh, @venturasr, @sayanh, @rakesh-garimella, @k15r, @johannesdoberer, @marynakhromova

fix problem with svg not showing
  catalog/src/commons/helpers.js
Owners: @akucharska, @michal-hudy, @pkosiec, @aerfio, @magicmatatjahu

fix issue with inlined list and badly formated code with backticks
  catalog/src/components/ServiceClassList/ServiceClassList.component.js
  components/react/package.json
  components/react/src/components/ReactMarkdown/helpers.js
  components/react/src/components/ReactMarkdown/index.js
  components/react/src/components/ReactMarkdown/styled.js
Owners: @akucharska, @michal-hudy, @pkosiec, @aerfio, @magicmatatjahu

fix images in instances
  instances/src/commons/helpers.js
Owners: @akucharska, @michal-hudy, @pkosiec, @aerfio, @magicmatatjahu

Fix Note panel not looking bolded enough
  components/react/src/components/ReactMarkdown/components/Strong.js
  components/react/src/components/ReactMarkdown/index.js
Owners: @akucharska, @michal-hudy, @pkosiec, @aerfio, @magicmatatjahu

fix list once again, further this time
  components/react/src/components/ReactMarkdown/helpers.js
Owners: @akucharska, @michal-hudy, @pkosiec, @aerfio, @magicmatatjahu

Add <Link/> component to <ReactMarkdown/> to link to new tab
  components/react/src/components/ReactMarkdown/components/Link.js
  components/react/src/components/ReactMarkdown/index.js
Owners: @akucharska, @michal-hudy, @pkosiec, @aerfio, @magicmatatjahu

improve regex for list
  components/react/src/components/ReactMarkdown/helpers.js
Owners: @akucharska, @michal-hudy, @pkosiec, @aerfio, @magicmatatjahu

Alter package-lock to remove vulnerable dependency (#807)
  components/angular/generic-list/package-lock.json
  core/package-lock.json
  lambda/package-lock.json
Owners: @pekura, @maxmarkus, @jesusreal, @kwiatekus, @dariadomagala, @hardl, @y-kkamil, @antiheld, @johannesdoberer, @marynakhromova, @parostatkiem, @rakesh-garimella, @joek, @sayanh, @venturasr, @lilitgh, @k15r

add `rel="noopener noreferrer"`
  components/react/src/components/ReactMarkdown/components/Link.js
Owners: @akucharska, @michal-hudy, @pkosiec, @aerfio, @magicmatatjahu

Update regex so so that it works in tabs in content-ui
  components/react/src/components/ReactMarkdown/helpers.js
  components/react/src/components/ReactMarkdown/index.js
Owners: @akucharska, @michal-hudy, @pkosiec, @aerfio, @magicmatatjahu

Fix websockets in console core lists
  core/src/app/content/namespaces/operation/graphql-data-provider.ts
Owners: @pekura, @maxmarkus, @jesusreal, @kwiatekus, @dariadomagala, @hardl, @y-kkamil, @antiheld, @parostatkiem, @johannesdoberer, @marynakhromova

Update regex for assets
  catalog/src/commons/helpers.js
  content/src/components/DocsContent/DocsProcessor.js
  instances/src/commons/helpers.js
Owners: @akucharska, @michal-hudy, @pkosiec, @aerfio, @magicmatatjahu

Make regex for assets easier to read
  catalog/src/commons/helpers.js
  content/src/components/DocsContent/DocsProcessor.js
  instances/src/commons/helpers.js
Owners: @akucharska, @michal-hudy, @pkosiec, @aerfio, @magicmatatjahu

CODEOWNERS:

# Default owners of the repository
* @akucharska @michal-hudy @pkosiec @aerfio @magicmatatjahu @pekura @maxmarkus @jesusreal @kwiatekus @dariadomagala @hardl @y-kkamil @antiheld @joek @lilitgh @venturasr @sayanh @rakesh-garimella @k15r @johannesdoberer @marynakhromova

/catalog/ @akucharska @michal-hudy @pkosiec @aerfio @magicmatatjahu
/instances/ @akucharska @michal-hudy @pkosiec @aerfio @magicmatatjahu
/brokers/ @akucharska @michal-hudy @pkosiec @aerfio @magicmatatjahu @aszecowka @PK85 @mszostok @piotrmiskiewicz @polskikiel @jasiu001
/content/ @akucharska @michal-hudy @pkosiec @aerfio @magicmatatjahu
/components/angular/ @pekura @maxmarkus @jesusreal @kwiatekus @dariadomagala @hardl @y-kkamil @antiheld @johannesdoberer @marynakhromova
/components/react/ @akucharska @michal-hudy @pkosiec @aerfio @magicmatatjahu
/core/ @pekura @maxmarkus @jesusreal @kwiatekus @dariadomagala @hardl @y-kkamil @antiheld @parostatkiem @johannesdoberer @marynakhromova
/tests/ @akucharska @michal-hudy @pkosiec @aerfio @magicmatatjahu @pekura @maxmarkus @jesusreal @kwiatekus @dariadomagala @hardl @y-kkamil @antiheld @johannesdoberer @marynakhromova
/lambda/ @rakesh-garimella @joek @sayanh @venturasr @lilitgh @k15r @pekura @maxmarkus @jesusreal @kwiatekus @dariadomagala @hardl @y-kkamil @antiheld @parostatkiem @johannesdoberer @marynakhromova

# Owners of all .md files in the repository
*.md @kazydek @klaudiagrz @tomekpapiernik @bszwarc @mmitoraj

# Owners of config file for MILV - milv.config.yaml
milv.config.yaml @akucharska @michal-hudy @pkosiec @aerfio @magicmatatjahu

# Owners of governance file
governance.Jenkinsfile @suleymanakbas91 @clebs @a-thaler @lilitgh @akucharska @michal-hudy @pkosiec @aerfio @magicmatatjahu
