Repository kyma-project/console, changes with the owners that CODEOWNERS names for each.
All owners: @akucharska, @michal-hudy, @aerfio, @m00g3n, @magicmatatjahu, @kwiatekus, @dariadomagala, @y-kkamil, @antiheld, @joek, @lilitgh, @venturasr, @sayanh, @rakesh-garimella, @k15r, @parostatkiem, @sjanota, @aszecowka, @PK85, @mszostok, @piotrmiskiewicz, @polskikiel, @jasiu001, @kazydek, @klaudiagrz, @tomekpapiernik, @bszwarc, @mmitoraj, @suleymanakbas91, @clebs, @a-thaler

Check validity on field change
  compass/src/shared/components/ModalWithForm/ModalWithForm.component.js
Owners: @kwiatekus, @dariadomagala, @y-kkamil, @akucharska, @parostatkiem, @sjanota

Remove checking if name is unique
  compass/src/components/Runtimes/CreateRuntimeForm/CreateRuntimeForm.component.js
  compass/src/components/Runtimes/CreateRuntimeForm/CreateRuntimeForm.container.js
  compass/src/components/Runtimes/CreateRuntimeForm/test/CreateRuntimeForm.test.js
  compass/src/components/Runtimes/CreateRuntimeForm/test/__snapshots__/CreateRuntimeForm.test.js.snap
  compass/src/components/Runtimes/CreateRuntimeForm/test/mock.js
  compass/src/components/Runtimes/gql.js
Owners: @kwiatekus, @dariadomagala, @y-kkamil, @akucharska, @parostatkiem, @sjanota

Minor changes
  compass/src/components/Runtimes/CreateRuntimeForm/CreateRuntimeForm.component.js
  compass/src/components/Runtimes/CreateRuntimeForm/test/CreateRuntimeForm.test.js
Owners: @kwiatekus, @dariadomagala, @y-kkamil, @akucharska, @parostatkiem, @sjanota

Remove unused label param
  compass/src/components/Runtimes/CreateRuntimeForm/CreateRuntimeForm.component.js
Owners: @kwiatekus, @dariadomagala, @y-kkamil, @akucharska, @parostatkiem, @sjanota

Unify modal buttons with the rest of the app
  compass/src/shared/components/ModalWithForm/ModalWithForm.component.js
Owners: @kwiatekus, @dariadomagala, @y-kkamil, @akucharska, @parostatkiem, @sjanota

Make description field not required
  compass/src/components/Runtimes/CreateRuntimeForm/CreateRuntimeForm.component.js
Owners: @kwiatekus, @dariadomagala, @y-kkamil, @akucharska, @parostatkiem, @sjanota

Remove contet changes
  content/package-lock.json
Owners: @akucharska, @michal-hudy, @aerfio, @m00g3n, @magicmatatjahu

Fix merge problems
  compass/src/components/Runtimes/Runtimes.component.js
  compass/src/components/Runtimes/Runtimes.js
Owners: @kwiatekus, @dariadomagala, @y-kkamil, @akucharska, @parostatkiem, @sjanota

Update snapshots
  compass/src/components/Runtimes/CreateRuntimeForm/test/__snapshots__/CreateRuntimeForm.test.js.snap
  compass/src/components/Runtimes/RuntimeList/RuntimeList.js
Owners: @kwiatekus, @dariadomagala, @y-kkamil, @akucharska, @parostatkiem, @sjanota

Finish modal, add remove functionality to list
  compass/src/components/Application/ApplicationDetails/ApplicationDetails.component.js
  compass/src/components/Application/ApplicationDetails/ApplicationScenarioDisplay/ApplicationScenarioDisplay.component.js
  compass/src/components/Application/ApplicationDetails/ApplicationScenarioDisplay/ApplicationScenarioDisplay.container.js
  compass/src/components/Application/ApplicationDetails/ApplicationScenarioDisplay/ApplicationScenarioModal/ApplicationScenarioModal.component.js
  compass/src/components/Application/ApplicationDetails/ApplicationScenarioDisplay/ApplicationScenarioModal/style.scss
  compass/src/components/Application/gql.js
Owners: @kwiatekus, @dariadomagala, @y-kkamil, @akucharska, @parostatkiem, @sjanota

Fix broken tests
  core/src/app/content/namespaces/namespace-edit/namespace-edit.component.spec.ts
  core/src/app/content/settings/applications/application-details/create-bindings-modal/create-binding-modal.component.spec.ts
  core/src/app/content/settings/applications/create-application-modal/create-application-modal.component.spec.ts
  core/src/app/content/settings/applications/edit-application-modal/edit-application-modal.component.spec.ts
  core/src/app/content/settings/idp-presets/create-preset-modal/create-preset-modal.component.spec.ts
  core/src/app/shared/components/role-binding-modal/role-binding-modal.component.spec.ts
Owners: @kwiatekus, @dariadomagala, @y-kkamil, @parostatkiem, @akucharska, @sjanota

Linter won't allow focused tests
  core/package-lock.json
  core/package.json
  core/tslint.json
Owners: @kwiatekus, @dariadomagala, @y-kkamil, @parostatkiem, @akucharska, @sjanota

Pretty
  core/src/app/content/settings/applications/application-details/create-bindings-modal/create-binding-modal.component.spec.ts
  core/src/app/content/settings/applications/create-application-modal/create-application-modal.component.spec.ts
  core/src/app/content/settings/applications/edit-application-modal/edit-application-modal.component.spec.ts
  core/src/app/content/settings/idp-presets/create-preset-modal/create-preset-modal.component.spec.ts
Owners: @kwiatekus, @dariadomagala, @y-kkamil, @parostatkiem, @akucharska, @sjanota

Allow Api hostname without domain
  core/src/app/content/namespaces/configuration/apis/api-definition-entry-renderer/api-definition-entry-renderer.component.html
  core/src/app/content/namespaces/configuration/apis/api-definition-entry-renderer/api-definition-entry-renderer.component.ts
  core/src/app/shared/services/generic-helpers.service.spec.ts
  core/src/app/shared/services/generic-helpers.service.ts
Owners: @kwiatekus, @dariadomagala, @y-kkamil, @parostatkiem, @akucharska, @sjanota

Move addDomainIfMissing to entry renderer
  core/src/app/content/namespaces/configuration/apis/api-definition-entry-renderer/api-definition-entry-renderer.component.spec.ts
  core/src/app/content/namespaces/configuration/apis/api-definition-entry-renderer/api-definition-entry-renderer.component.ts
  core/src/app/shared/services/generic-helpers.service.spec.ts
  core/src/app/shared/services/generic-helpers.service.ts
Owners: @kwiatekus, @dariadomagala, @y-kkamil, @parostatkiem, @akucharska, @sjanota

CODEOWNERS:

# Default owners of the repository
* @akucharska @michal-hudy @aerfio @m00g3n @magicmatatjahu @kwiatekus @dariadomagala @y-kkamil @antiheld @joek @lilitgh @venturasr @sayanh @rakesh-garimella @k15r @parostatkiem @sjanota

/catalog/ @akucharska @michal-hudy @aerfio @m00g3n @magicmatatjahu @kwiatekus @dariadomagala @y-kkamil @parostatkiem @sjanota
/instances/ @akucharska @michal-hudy @aerfio @m00g3n @magicmatatjahu @kwiatekus @dariadomagala @y-kkamil @parostatkiem @sjanota
/brokers/ @akucharska @michal-hudy @aerfio @m00g3n @magicmatatjahu @aszecowka @PK85 @mszostok @piotrmiskiewicz @polskikiel @jasiu001 @kwiatekus @dariadomagala @y-kkamil @parostatkiem @sjanota
/content/ @akucharska @michal-hudy @aerfio @m00g3n @magicmatatjahu
/compass/ @kwiatekus @dariadomagala @y-kkamil @akucharska @parostatkiem @sjanota
/components/angular/ @kwiatekus @dariadomagala @y-kkamil @akucharska @parostatkiem @sjanota
/components/react/ @akucharska @michal-hudy @aerfio @m00g3n @magicmatatjahu @kwiatekus @dariadomagala @y-kkamil @parostatkiem @sjanota
/core/ @kwiatekus @dariadomagala @y-kkamil @parostatkiem @akucharska @sjanota
/tests/ @akucharska @michal-hudy @aerfio @m00g3n @magicmatatjahu @kwiatekus @dariadomagala @y-kkamil @parostatkiem @sjanota
/lambda/ @rakesh-garimella @joek @sayanh @venturasr @lilitgh @k15r @kwiatekus @dariadomagala @y-kkamil @parostatkiem @akucharska @sjanota

# Owners of all .md files in the repository
*.md @kazydek @klaudiagrz @tomekpapiernik @bszwarc @mmitoraj

# Owners of config file for MILV - milv.config.yaml
milv.config.yaml @akucharska @michal-hudy @aerfio @m00g3n @magicmatatjahu

# Owners of governance file
governance.Jenkinsfile @suleymanakbas91 @clebs @a-thaler @lilitgh @akucharska @michal-hudy @aerfio @m00g3n @magicmatatjahu
