Repository kyma-project/console, changes with the owners that CODEOWNERS names for each.
All owners: @akucharska, @dariadomagala, @y-kkamil, @antiheld, @parostatkiem, @kwiatekus, @Wawrzyn321, @michal-hudy, @aerfio, @m00g3n, @magicmatatjahu, @pPrecel, @kazydek, @klaudiagrz, @tomekpapiernik, @bszwarc, @mmitoraj, @majakurcius, @alexandra-simeonova

Extend GenericList with collapsing content and extend ModalWithForm with popup message
  core-ui/src/components/ModalWithForm/ModalWithForm.js
  core-ui/src/components/ModalWithForm/test/ModalWithForm.test.js
  core-ui/src/components/ModalWithForm/test/__snapshots__/ModalWithForm.test.js.snap
  shared/components/GenericList/GenericList.js
  shared/components/GenericList/GenericList.scss
  shared/components/GenericList/SearchInput.js
  shared/components/GenericList/components.js
  shared/components/GenericList/constants.js
  shared/components/GenericList/helpers.js
  shared/components/GenericList/test/GenericList.test.js
  shared/components/PageHeader/PageHeader.js
  shared/components/Spinner/Spinner.js
  shared/contexts/NotificationContext.js
Owners: @akucharska, @dariadomagala, @y-kkamil, @antiheld, @parostatkiem, @kwiatekus, @Wawrzyn321

Propagate env variables to compass
  .clusterConfig.default
  compass/package.json
  compass/public-luigi/config/config.js
  compass/public/config/config.js
  compass/src/components/TenantSearch/TenantSearch.js
  compass/src/config/luigi-config/auth.js
  compass/src/config/luigi-config/clusterConfig.js
  compass/src/config/luigi-config/helpers/getAlternativePath.js
  compass/src/config/luigi-config/helpers/getAlternativePath.test.js
  compass/src/config/luigi-config/helpers/navigation-helpers.js
  compass/src/config/luigi-config/navigation.js
  compass/src/setupTests.js
  compass/src/store/getConfigValue.js
  compass/src/store/index.js
  compass/webpack-generateConfig.config.js
Owners: @akucharska, @dariadomagala, @y-kkamil, @antiheld, @parostatkiem, @kwiatekus, @Wawrzyn321

After review
  shared/components/GenericList/GenericList.js
  shared/components/GenericList/constants.js
  shared/components/GenericList/test/GenericList.test.js
  shared/components/Spinner/Spinner.js
Owners: @akucharska, @dariadomagala, @y-kkamil, @antiheld, @parostatkiem, @kwiatekus, @Wawrzyn321

Fix code after rebase
  core-ui/package-lock.json
  core-ui/package.json
  core-ui/src/components/ApiRules/test/ApiRules.test.js
  core-ui/src/components/Applications/ApplicationList/test/ApplicationList.test.js
  core-ui/src/components/Applications/BoundNamespacesList/test/BoundNamespacesList.test.js
  core-ui/src/components/Lambdas/LambdaDetails/Tabs/Configuration/ServiceBindings/test/ServiceBindings.test.js
  core-ui/src/components/Lambdas/LambdaDetails/Tabs/Configuration/ServiceBindings/test/ServiceBindingsWrapper.test.js
Owners: @akucharska, @dariadomagala, @y-kkamil, @antiheld, @parostatkiem, @kwiatekus, @Wawrzyn321, @michal-hudy, @aerfio, @m00g3n, @pPrecel, @magicmatatjahu

Fix tests
  core-ui/src/components/Lambdas/LambdaDetails/Tabs/Configuration/EventTriggers/test/EventTriggersWrapper.test.js
Owners: @michal-hudy, @aerfio, @m00g3n, @pPrecel, @magicmatatjahu

Reduce pupeteer tests to one smoke test
  tests/package-lock.json
  tests/package.json
  tests/ui-tests/tests/smoke.js
  tests/ui-tests/utils/address.js
Owners: @akucharska, @dariadomagala, @y-kkamil, @parostatkiem, @kwiatekus, @Wawrzyn321

Fix message
  shared/components/GenericList/SearchInput.js
Owners: @akucharska, @dariadomagala, @y-kkamil, @antiheld, @parostatkiem, @kwiatekus, @Wawrzyn321

Remove bound namespaces on applicatons list view
  core-ui/src/components/Applications/ApplicationList/ApplicationList.js
  core-ui/src/gql/queries.js
Owners: @akucharska, @dariadomagala, @y-kkamil, @antiheld, @parostatkiem, @kwiatekus, @Wawrzyn321

Display API tab with dropdown
  components/generic-documentation/src/layouts/CatalogUI.tsx
  components/generic-documentation/src/renderers/Group.renderer.tsx
  components/generic-documentation/src/renderers/styledOther.ts
Owners: @akucharska, @dariadomagala, @y-kkamil, @antiheld, @parostatkiem, @kwiatekus, @Wawrzyn321

Improve selecting of active iframe and navigation links
  tests/helpers.js
  tests/tests/tests.js
Owners: @akucharska, @dariadomagala, @y-kkamil, @parostatkiem, @kwiatekus, @Wawrzyn321

Merge ns tests, click on applications in nav
  tests/helpers.js
  tests/tests/tests.js
Owners: @akucharska, @dariadomagala, @y-kkamil, @parostatkiem, @kwiatekus, @Wawrzyn321

Introduce apiDefinition type to keep things in one place
  components/generic-documentation/src/constants.ts
  components/generic-documentation/src/loader/loader.ts
  components/generic-documentation/src/renderers/Group.renderer.tsx
  components/generic-documentation/src/renderers/SingleAPIcontent.tsx
Owners: @akucharska, @dariadomagala, @y-kkamil, @antiheld, @parostatkiem, @kwiatekus, @Wawrzyn321

Filter out markdown from api list
  components/generic-documentation/src/renderers/Group.renderer.tsx
Owners: @akucharska, @dariadomagala, @y-kkamil, @antiheld, @parostatkiem, @kwiatekus, @Wawrzyn321

Improve selecting of left navigation links
  tests/helpers.js
  tests/tests/tests.js
Owners: @akucharska, @dariadomagala, @y-kkamil, @parostatkiem, @kwiatekus, @Wawrzyn321

Use ModalWithForm in application template modal (core-ui)
  core-ui/src/components/Applications/ApplicationList/ApplicationList.js
  core-ui/src/components/Applications/CreateApplicationFromTemplateForm/CreateApplicationFromTemplateForm.js
  core-ui/src/components/Applications/CreateApplicationFromTemplateForm/CreateApplicationFromTemplateForm.scss
  core-ui/src/components/Applications/CreateApplicationFromTemplateForm/test/CreateApplicationFromTemplateForm.test.js
  core-ui/src/components/Applications/CreateApplicationFromTemplateForm/test/mocks.js
  core-ui/src/components/ModalWithForm/ModalWithForm.js
Owners: @akucharska, @dariadomagala, @y-kkamil, @antiheld, @parostatkiem, @kwiatekus, @Wawrzyn321

Clean up code & improve dropdown click behaviour
  components/generic-documentation/src/renderers/Group.renderer.tsx
Owners: @akucharska, @dariadomagala, @y-kkamil, @antiheld, @parostatkiem, @kwiatekus, @Wawrzyn321

add empty changes to catalog & instances
  service-catalog-ui/catalog/src/index.js
  service-catalog-ui/instances/src/index.js
Owners: @akucharska, @dariadomagala, @y-kkamil, @antiheld, @parostatkiem, @kwiatekus, @Wawrzyn321

fix linter errors
  components/generic-documentation/src/constants.ts
  components/generic-documentation/src/renderers/Group.renderer.tsx
Owners: @akucharska, @dariadomagala, @y-kkamil, @antiheld, @parostatkiem, @kwiatekus, @Wawrzyn321

Replace link with mocks in ConnectApplicationModal tests
  core-ui/src/components/Applications/ConnectApplicationModal/test/ConnectApplicationModal.test.js
Owners: @akucharska, @dariadomagala, @y-kkamil, @antiheld, @parostatkiem, @kwiatekus, @Wawrzyn321

Split ConnectApplicationModal into modal and content
  core-ui/src/components/Applications/ConnectApplicationModal/ConnectApplication.js
  core-ui/src/components/Applications/ConnectApplicationModal/ConnectApplication.scss
  core-ui/src/components/Applications/ConnectApplicationModal/ConnectApplicationModal.js
  core-ui/src/components/Applications/ConnectApplicationModal/test/ConnectApplicationModal.test.js
Owners: @akucharska, @dariadomagala, @y-kkamil, @antiheld, @parostatkiem, @kwiatekus, @Wawrzyn321

Fix ConnectApplicationModal in Compass
  compass/src/components/Application/ApplicationDetails/ApplicationDetailsHeader/ApplicationDetailsHeader.js
  compass/src/components/Application/ApplicationDetails/ConnectApplicationModal/ConnectApplication.js
  compass/src/components/Application/ApplicationDetails/ConnectApplicationModal/ConnectApplication.scss
  compass/src/components/Application/ApplicationDetails/ConnectApplicationModal/ConnectApplicationModal.container.js
  compass/src/components/Application/ApplicationDetails/ConnectApplicationModal/ConnectApplicationModal.js
  compass/src/components/Application/ApplicationDetails/ConnectApplicationModal/test/ConnectApplicationModal.test.js
Owners: @dariadomagala, @y-kkamil, @akucharska, @parostatkiem, @kwiatekus, @Wawrzyn321

ui tests stabilisation
  tests/config.js
  tests/helpers.js
  tests/tests/tests.js
Owners: @akucharska, @dariadomagala, @y-kkamil, @parostatkiem, @kwiatekus, @Wawrzyn321

fix awaits
  tests/tests/tests.js
Owners: @akucharska, @dariadomagala, @y-kkamil, @parostatkiem, @kwiatekus, @Wawrzyn321

CODEOWNERS:

# Default owners of the repository
* @akucharska @dariadomagala @y-kkamil @antiheld @parostatkiem @kwiatekus @Wawrzyn321

/catalog/ @akucharska @dariadomagala @y-kkamil @parostatkiem @kwiatekus @Wawrzyn321
/instances/ @akucharska @dariadomagala @y-kkamil @parostatkiem @kwiatekus @Wawrzyn321
/brokers/ @akucharska @dariadomagala @y-kkamil @parostatkiem @kwiatekus @Wawrzyn321
/content/ @michal-hudy @aerfio @m00g3n @magicmatatjahu
/compass/ @dariadomagala @y-kkamil @akucharska @parostatkiem @kwiatekus @Wawrzyn321
/components/angular/ @dariadomagala @y-kkamil @akucharska @parostatkiem @kwiatekus @Wawrzyn321
/components/react/ @michal-hudy @aerfio @m00g3n @magicmatatjahu @akucharska @dariadomagala @y-kkamil @parostatkiem @kwiatekus @Wawrzyn321
/core/ @dariadomagala @y-kkamil @parostatkiem @akucharska @kwiatekus @Wawrzyn321
/tests/ @akucharska @dariadomagala @y-kkamil @parostatkiem @kwiatekus @Wawrzyn321
/lambda/ @dariadomagala @y-kkamil @parostatkiem @akucharska @kwiatekus @Wawrzyn321
/core-ui/src/components/Lambdas/ @michal-hudy @aerfio @m00g3n @pPrecel @magicmatatjahu

# Owners of all .md files in the repository
*.md @kazydek @klaudiagrz @tomekpapiernik @bszwarc @mmitoraj @majakurcius @alexandra-simeonova

# Owners of config file for MILV - milv.config.yaml
milv.config.yaml @michal-hudy @aerfio @m00g3n @magicmatatjahu
