Repository kyma-project/console, changes with the owners that CODEOWNERS names for each.
All owners: @akucharska, @michal-hudy, @pkosiec, @aerfio, @magicmatatjahu, @pekura, @maxmarkus, @jesusreal, @kwiatekus, @dariadomagala, @hardl, @y-kkamil, @antiheld, @joek, @lilitgh, @venturasr, @sayanh, @rakesh-garimella, @k15r, @johannesdoberer, @marynakhromova, @aszecowka, @PK85, @mszostok, @piotrmiskiewicz, @polskikiel, @jasiu001, @parostatkiem, @kazydek, @klaudiagrz, @tomekpapiernik, @bszwarc, @mmitoraj, @suleymanakbas91, @clebs, @a-thaler

Fix React OData component license (#764)
  catalog/package.json
  components/react-odata/package.json
  instances/package.json
Owners: @akucharska, @michal-hudy, @pkosiec, @aerfio, @magicmatatjahu, @pekura, @maxmarkus, @jesusreal, @kwiatekus, @dariadomagala, @hardl, @y-kkamil, @antiheld, @joek, @lilitgh, @venturasr, @sayanh, @rakesh-garimella, @k15r, @johannesdoberer, @marynakhromova

install newest fundamental react and fiori fundamentals
  components/react/package-lock.json
  components/react/package.json
Owners: @akucharska, @michal-hudy, @pkosiec, @aerfio, @magicmatatjahu

Update components in components/react
  components/react/src/components/Panel/index.js
  components/react/src/components/Table/styled.js
  components/react/src/components/Tile/index.js
  components/react/src/components/Toolbar/styled.js
  components/react/src/components/index.js
Owners: @akucharska, @michal-hudy, @pkosiec, @aerfio, @magicmatatjahu

update test file to check something
  tests/ui-tests/utils/testContext.js
Owners: @akucharska, @michal-hudy, @pkosiec, @aerfio, @magicmatatjahu, @pekura, @maxmarkus, @jesusreal, @kwiatekus, @dariadomagala, @hardl, @y-kkamil, @antiheld, @johannesdoberer, @marynakhromova

responsive improvements
  core/src/styles/fiori-fundamentals-overrides.scss
  lambda/src/styles/fiori-fundamentals-overrides.scss
Owners: @pekura, @maxmarkus, @jesusreal, @kwiatekus, @dariadomagala, @hardl, @y-kkamil, @antiheld, @parostatkiem, @johannesdoberer, @marynakhromova, @rakesh-garimella, @joek, @sayanh, @venturasr, @lilitgh, @k15r

responsive improvements
  core/src/styles/fiori-fundamentals-overrides.scss
  lambda/src/styles/fiori-fundamentals-overrides.scss
Owners: @pekura, @maxmarkus, @jesusreal, @kwiatekus, @dariadomagala, @hardl, @y-kkamil, @antiheld, @parostatkiem, @johannesdoberer, @marynakhromova, @rakesh-garimella, @joek, @sayanh, @venturasr, @lilitgh, @k15r

update two files to trigger tests
  catalog/src/components/ServiceClassDetails/CreateInstanceModal/BasicData.component.js
  instances/src/components/ServiceInstances/ServiceInstancesTable/ServiceInstancesTable.component.js
Owners: @akucharska, @michal-hudy, @pkosiec, @aerfio, @magicmatatjahu

revert chenges to few files
  catalog/src/components/ServiceClassDetails/CreateInstanceModal/BasicData.component.js
  instances/src/components/ServiceInstances/ServiceInstancesTable/ServiceInstancesTable.component.js
  tests/ui-tests/utils/testContext.js
Owners: @akucharska, @michal-hudy, @pkosiec, @aerfio, @magicmatatjahu, @pekura, @maxmarkus, @jesusreal, @kwiatekus, @dariadomagala, @hardl, @y-kkamil, @antiheld, @johannesdoberer, @marynakhromova

change header structure on workspace overview and permissions view
  core/src/app/content/workspace-overview/workspace-overview/workspace-overview.component.html
  core/src/app/shared/components/permissions/permissions.component.html
Owners: @pekura, @maxmarkus, @jesusreal, @kwiatekus, @dariadomagala, @hardl, @y-kkamil, @antiheld, @parostatkiem, @johannesdoberer, @marynakhromova

update tests with waitforselector
  tests/ui-tests/tests/catalog-ui-test.js
Owners: @akucharska, @michal-hudy, @pkosiec, @aerfio, @magicmatatjahu, @pekura, @maxmarkus, @jesusreal, @kwiatekus, @dariadomagala, @hardl, @y-kkamil, @antiheld, @johannesdoberer, @marynakhromova

Switch to apollo client in graphql data provider
  core/package-lock.json
  core/package.json
  core/src/app/app.module.ts
  core/src/app/content/namespaces/configuration/apis/filtered-apis/filtered-apis.component.ts
  core/src/app/content/namespaces/configuration/resources/limit-ranges/limit-ranges.component.ts
  core/src/app/content/namespaces/configuration/resources/resource-quotas/resource-quotas.component.ts
  core/src/app/content/namespaces/operation/abstract-graphql-element-list.component.ts
  core/src/app/content/namespaces/operation/configmaps/configmaps.component.ts
  core/src/app/content/namespaces/operation/deployments/deployments.component.ts
  core/src/app/content/namespaces/operation/graphql-data-provider.ts
  core/src/app/content/namespaces/operation/pods/pods.component.ts
  core/src/app/content/namespaces/operation/replica-sets/replica-sets.component.ts
  core/src/app/content/settings/applications/applications.component.ts
  core/src/app/content/settings/idp-presets/idp-presets.component.ts
  core/src/app/content/settings/service-brokers/service-brokers.component.ts
  core/src/tsconfig.app.json
Owners: @pekura, @maxmarkus, @jesusreal, @kwiatekus, @dariadomagala, @hardl, @y-kkamil, @antiheld, @parostatkiem, @johannesdoberer, @marynakhromova

make minimal changes in catalog, instances, brokers and docs to trigger build of image for PR
  brokers/src/components/App/App.component.js
  catalog/src/components/App/App.component.js
  content/src/components/Navigation/LeftNavigation/NavigationList/NavigationGroup.js
  instances/src/components/ServiceInstances/ServiceInstancesTable/ServiceInstancesTable.component.js
Owners: @akucharska, @michal-hudy, @pkosiec, @aerfio, @magicmatatjahu, @aszecowka, @PK85, @mszostok, @piotrmiskiewicz, @polskikiel, @jasiu001

use "simpleMobileOnly" responsive navigation setting
  core/src/luigi-config/luigi-config.js
Owners: @pekura, @maxmarkus, @jesusreal, @kwiatekus, @dariadomagala, @hardl, @y-kkamil, @antiheld, @parostatkiem, @johannesdoberer, @marynakhromova

revert last changes
  brokers/src/components/App/App.component.js
  catalog/src/components/App/App.component.js
  content/src/components/Navigation/LeftNavigation/NavigationList/NavigationGroup.js
Owners: @akucharska, @michal-hudy, @pkosiec, @aerfio, @magicmatatjahu, @aszecowka, @PK85, @mszostok, @piotrmiskiewicz, @polskikiel, @jasiu001

update files in instances to have no changes against master
  instances/src/components/ServiceInstances/ServiceInstancesTable/ServiceInstancesTable.component.js
Owners: @akucharska, @michal-hudy, @pkosiec, @aerfio, @magicmatatjahu

Fix empty CMF issue
  core/src/luigi-config/luigi-config.js
Owners: @pekura, @maxmarkus, @jesusreal, @kwiatekus, @dariadomagala, @hardl, @y-kkamil, @antiheld, @parostatkiem, @johannesdoberer, @marynakhromova

Evaluating self subject rules
  core/src/luigi-config/luigi-config.js
Owners: @pekura, @maxmarkus, @jesusreal, @kwiatekus, @dariadomagala, @hardl, @y-kkamil, @antiheld, @parostatkiem, @johannesdoberer, @marynakhromova

Update package.json to fix compilation problems
  core/package-lock.json
  core/package.json
Owners: @pekura, @maxmarkus, @jesusreal, @kwiatekus, @dariadomagala, @hardl, @y-kkamil, @antiheld, @parostatkiem, @johannesdoberer, @marynakhromova

console with luigi 0.4.11 (#772)
  core/package-lock.json
  core/package.json
Owners: @pekura, @maxmarkus, @jesusreal, @kwiatekus, @dariadomagala, @hardl, @y-kkamil, @antiheld, @parostatkiem, @johannesdoberer, @marynakhromova

Use watchQuery instead of query
  core/src/app/content/namespaces/operation/graphql-data-provider.ts
Owners: @pekura, @maxmarkus, @jesusreal, @kwiatekus, @dariadomagala, @hardl, @y-kkamil, @antiheld, @parostatkiem, @johannesdoberer, @marynakhromova

Fix for not refreshing components
  core/src/app/content/namespaces/operation/graphql-data-provider.ts
Owners: @pekura, @maxmarkus, @jesusreal, @kwiatekus, @dariadomagala, @hardl, @y-kkamil, @antiheld, @parostatkiem, @johannesdoberer, @marynakhromova

Use apollo for all views
  core/src/app/content/namespaces/services/namespaces.service.ts
  core/src/app/content/settings/applications/application-details/application-binding-service.ts
  core/src/app/content/settings/applications/services/applications.service.ts
  core/src/app/content/settings/idp-presets/idp-presets.service.ts
  core/src/app/shared/components/json-editor-modal/graphql-mutator-modal.component.ts
  core/src/app/shared/services/graphql-client-service.ts
Owners: @pekura, @maxmarkus, @jesusreal, @kwiatekus, @dariadomagala, @hardl, @y-kkamil, @antiheld, @parostatkiem, @johannesdoberer, @marynakhromova

Fix TypeScript error
  core/src/app/shared/services/graphql-client-service.ts
Owners: @pekura, @maxmarkus, @jesusreal, @kwiatekus, @dariadomagala, @hardl, @y-kkamil, @antiheld, @parostatkiem, @johannesdoberer, @marynakhromova

header restyling, table links consistency, header buttons consistency, improvements in angular generic table and list components
  components/angular/generic-list/angular.json
  components/angular/generic-list/package-lock.json
  components/angular/generic-list/src/app/modules/list/generic-list/generic-list.component.html
  components/angular/generic-list/src/app/modules/list/generic-table/generic-table.component.html
  core/src/app/content/namespaces/configuration/apis/api-definition-entry-renderer/api-definition-entry-renderer.component.html
  core/src/app/content/namespaces/configuration/apis/apis.component.html
  core/src/app/content/namespaces/configuration/resources/resources.component.html
  core/src/app/content/namespaces/configuration/resources/resources.component.spec.ts
  core/src/app/content/namespaces/configuration/resources/resources.component.ts
  core/src/app/content/namespaces/namespace-details/namespace-details.component.html
  core/src/app/content/namespaces/operation/kubernetes-element-list.component.html
  core/src/app/content/namespaces/operation/secrets/secret-detail/secret-detail.component.html
  core/src/app/content/namespaces/operation/secrets/secrets-entry-renderer/secrets-entry-renderer.component.html
  core/src/app/content/namespaces/operation/services/service-details/expose-api/expose-api.component.html
  core/src/app/content/namespaces/operation/services/service-details/service-details.component.html
  core/src/app/content/namespaces/operation/services/services-entry-renderer/services-entry-renderer.component.html
  core/src/app/content/settings/applications/application-details/application-details.component.html
  core/src/app/content/settings/applications/applications.component.html
  core/src/app/content/settings/idp-presets/idp-presets.component.html
  core/src/app/content/settings/organisation/organisation.component.html
  core/src/app/content/workspace-overview/workspace-overview/workspace-overview.component.html
  core/src/app/shared/components/edit-resource/edit-resource.component.html
  core/src/app/shared/components/permissions/role-details/role-details.component.html
  core/src/styles/fiori-fundamentals-overrides.scss
  lambda/src/app/lambdas/lambda-details/lambda-details.component.html
  lambda/src/app/lambdas/list/lambdas-entry-renderer/lambdas-entry-renderer.component.html
  lambda/src/app/lambdas/list/lambdas.component.html
  lambda/src/styles/fiori-fundamentals-overrides.scss
Owners: @pekura, @maxmarkus, @jesusreal, @kwiatekus, @dariadomagala, @hardl, @y-kkamil, @antiheld, @johannesdoberer, @marynakhromova, @parostatkiem, @rakesh-garimella, @joek, @sayanh, @venturasr, @lilitgh, @k15r

Manage Subscriptions in console core
  core/package-lock.json
  core/package.json
  core/src/app/app.config.ts
  core/src/app/app.module.ts
  core/src/app/ws.ts
Owners: @pekura, @maxmarkus, @jesusreal, @kwiatekus, @dariadomagala, @hardl, @y-kkamil, @antiheld, @parostatkiem, @johannesdoberer, @marynakhromova

Remove wrong type
  core/src/app/ws.ts
Owners: @pekura, @maxmarkus, @jesusreal, @kwiatekus, @dariadomagala, @hardl, @y-kkamil, @antiheld, @parostatkiem, @johannesdoberer, @marynakhromova

avoid save if button state is disabled
  core/src/app/content/settings/applications/create-application-modal/create-application-modal.component.html
  core/src/app/content/settings/idp-presets/create-preset-modal/create-preset-modal.component.html
Owners: @pekura, @maxmarkus, @jesusreal, @kwiatekus, @dariadomagala, @hardl, @y-kkamil, @antiheld, @parostatkiem, @johannesdoberer, @marynakhromova

Remove old workaround
  core/src/app/ws.ts
Owners: @pekura, @maxmarkus, @jesusreal, @kwiatekus, @dariadomagala, @hardl, @y-kkamil, @antiheld, @parostatkiem, @johannesdoberer, @marynakhromova

Evaluating self subject rules
  core/package-lock.json
  core/package.json
  core/src/luigi-config/luigi-config.js
  core/src/luigi-config/rbac-rules-matcher.js
  core/src/luigi-config/rbac-rules-matcher.test.js
Owners: @pekura, @maxmarkus, @jesusreal, @kwiatekus, @dariadomagala, @hardl, @y-kkamil, @antiheld, @parostatkiem, @johannesdoberer, @marynakhromova

Evaluating self subject rules
  core/package.json
  core/src/luigi-config/luigi-config.js
  core/src/luigi-config/rbac-rules-matcher.js
  core/src/luigi-config/rbac-rules-matcher.test.js
Owners: @pekura, @maxmarkus, @jesusreal, @kwiatekus, @dariadomagala, @hardl, @y-kkamil, @antiheld, @parostatkiem, @johannesdoberer, @marynakhromova

Evaluating self subject rules
  core/src/luigi-config/luigi-config.js
Owners: @pekura, @maxmarkus, @jesusreal, @kwiatekus, @dariadomagala, @hardl, @y-kkamil, @antiheld, @parostatkiem, @johannesdoberer, @marynakhromova

refactored to use default disabled attribute
  core/src/app/content/settings/applications/create-application-modal/create-application-modal.component.html
  core/src/app/content/settings/idp-presets/create-preset-modal/create-preset-modal.component.html
Owners: @pekura, @maxmarkus, @jesusreal, @kwiatekus, @dariadomagala, @hardl, @y-kkamil, @antiheld, @parostatkiem, @johannesdoberer, @marynakhromova

Evaluating self subject rules from cmf
  core/src/luigi-config/luigi-config.js
Owners: @pekura, @maxmarkus, @jesusreal, @kwiatekus, @dariadomagala, @hardl, @y-kkamil, @antiheld, @parostatkiem, @johannesdoberer, @marynakhromova

Fix empty CMF issue (#770)
  core/src/luigi-config/luigi-config.js
Owners: @pekura, @maxmarkus, @jesusreal, @kwiatekus, @dariadomagala, @hardl, @y-kkamil, @antiheld, @parostatkiem, @johannesdoberer, @marynakhromova

Use subscriptions in pods list
  components/angular/generic-list/src/app/modules/list/generic-list/generic-list.component.ts
  core/src/app/content/namespaces/operation/abstract-graphql-element-list.component.ts
  core/src/app/content/namespaces/operation/graphql-data-provider.ts
  core/src/app/content/namespaces/operation/pods/pods.component.ts
  core/src/app/ws.ts
Owners: @pekura, @maxmarkus, @jesusreal, @kwiatekus, @dariadomagala, @hardl, @y-kkamil, @antiheld, @johannesdoberer, @marynakhromova, @parostatkiem

Adjust pods table width
  core/src/app/content/namespaces/operation/pods/pods-header-renderer/pods-header-renderer.component.html
Owners: @pekura, @maxmarkus, @jesusreal, @kwiatekus, @dariadomagala, @hardl, @y-kkamil, @antiheld, @parostatkiem, @johannesdoberer, @marynakhromova

Fix for editing error
  core/src/app/content/namespaces/operation/abstract-graphql-element-list.component.ts
Owners: @pekura, @maxmarkus, @jesusreal, @kwiatekus, @dariadomagala, @hardl, @y-kkamil, @antiheld, @parostatkiem, @johannesdoberer, @marynakhromova

Remove unused url from graphQlDataProvider
  core/src/app/content/namespaces/configuration/apis/filtered-apis/filtered-apis.component.ts
  core/src/app/content/namespaces/configuration/resources/limit-ranges/limit-ranges.component.ts
  core/src/app/content/namespaces/configuration/resources/resource-quotas/resource-quotas.component.ts
  core/src/app/content/namespaces/operation/abstract-graphql-element-list.component.ts
  core/src/app/content/namespaces/operation/deployments/deployments.component.ts
  core/src/app/content/namespaces/operation/graphql-data-provider.ts
  core/src/app/content/settings/idp-presets/idp-presets.component.ts
  core/src/app/content/settings/service-brokers/service-brokers.component.ts
Owners: @pekura, @maxmarkus, @jesusreal, @kwiatekus, @dariadomagala, @hardl, @y-kkamil, @antiheld, @parostatkiem, @johannesdoberer, @marynakhromova

create button: avoid save when button state is disabled (#779)
  core/src/app/content/settings/applications/create-application-modal/create-application-modal.component.html
  core/src/app/content/settings/idp-presets/create-preset-modal/create-preset-modal.component.html
Owners: @pekura, @maxmarkus, @jesusreal, @kwiatekus, @dariadomagala, @hardl, @y-kkamil, @antiheld, @parostatkiem, @johannesdoberer, @marynakhromova

762 improvements for responsiveness on mobile devices (#767)
  core/src/index.html
  core/src/luigi-config/luigi-config.js
  core/src/styles/fiori-fundamentals-overrides.scss
  lambda/src/styles/fiori-fundamentals-overrides.scss
Owners: @pekura, @maxmarkus, @jesusreal, @kwiatekus, @dariadomagala, @hardl, @y-kkamil, @antiheld, @parostatkiem, @johannesdoberer, @marynakhromova, @rakesh-garimella, @joek, @sayanh, @venturasr, @lilitgh, @k15r

CODEOWNERS:

# Default owners of the repository
* @akucharska @michal-hudy @pkosiec @aerfio @magicmatatjahu @pekura @maxmarkus @jesusreal @kwiatekus @dariadomagala @hardl @y-kkamil @antiheld @joek @lilitgh @venturasr @sayanh @rakesh-garimella @k15r @johannesdoberer @marynakhromova

/catalog/ @akucharska @michal-hudy @pkosiec @aerfio @magicmatatjahu
/instances/ @akucharska @michal-hudy @pkosiec @aerfio @magicmatatjahu
/brokers/ @akucharska @michal-hudy @pkosiec @aerfio @magicmatatjahu @aszecowka @PK85 @mszostok @piotrmiskiewicz @polskikiel @jasiu001
/content/ @akucharska @michal-hudy @pkosiec @aerfio @magicmatatjahu
/components/angular/ @pekura @maxmarkus @jesusreal @kwiatekus @dariadomagala @hardl @y-kkamil @antiheld @johannesdoberer @marynakhromova
/components/react/ @akucharska @michal-hudy @pkosiec @aerfio @magicmatatjahu
/core/ @pekura @maxmarkus @jesusreal @kwiatekus @dariadomagala @hardl @y-kkamil @antiheld @parostatkiem @johannesdoberer @marynakhromova
/tests/ @akucharska @michal-hudy @pkosiec @aerfio @magicmatatjahu @pekura @maxmarkus @jesusreal @kwiatekus @dariadomagala @hardl @y-kkamil @antiheld @johannesdoberer @marynakhromova
/lambda/ @rakesh-garimella @joek @sayanh @venturasr @lilitgh @k15r @pekura @maxmarkus @jesusreal @kwiatekus @dariadomagala @hardl @y-kkamil @antiheld @parostatkiem @johannesdoberer @marynakhromova

# Owners of all .md files in the repository
*.md @kazydek @klaudiagrz @tomekpapiernik @bszwarc @mmitoraj

# Owners of config file for MILV - milv.config.yaml
milv.config.yaml @akucharska @michal-hudy @pkosiec @aerfio @magicmatatjahu

# Owners of governance file
governance.Jenkinsfile @suleymanakbas91 @clebs @a-thaler @lilitgh @akucharska @michal-hudy @pkosiec @aerfio @magicmatatjahu
