Repository kyma-project/console, changes with the owners that CODEOWNERS names for each.
All owners: @akucharska, @dariadomagala, @y-kkamil, @antiheld, @parostatkiem, @michal-hudy, @aerfio, @m00g3n, @magicmatatjahu, @kazydek, @klaudiagrz, @tomekpapiernik, @bszwarc, @mmitoraj, @majakurcius, @alexandra-simeonova

buggy subscriptions
  core-ui/src/components/NamespaceList/NamespaceList.js
  core-ui/src/queries/queries.js
Owners: @akucharska, @dariadomagala, @y-kkamil, @antiheld, @parostatkiem

Fix pods for logs
  core/src/app/content/namespaces/operation/pods/pods-entry-renderer/pods-entry-renderer.component.ts
  core/src/app/content/namespaces/operation/pods/pods.component.ts
  lambda/src/app/lambdas/list/lambdas-entry-renderer/lambdas-entry-renderer.component.ts
  lambda/src/app/lambdas/list/lambdas.component.ts
Owners: @dariadomagala, @y-kkamil, @parostatkiem, @akucharska

Rename splitiewMode to compact in lambda view
  core/src/app/content/namespaces/operation/pods/pods.component.ts
  lambda/src/app/lambdas/list/lambdas.component.ts
  logging/src/components/LogsContainer.js
Owners: @dariadomagala, @y-kkamil, @parostatkiem, @akucharska, @antiheld

Changes after code review
  core/src/app/content/namespaces/operation/pods/pods.component.ts
  lambda/src/app/lambdas/list/lambdas.component.ts
  logging/src/components/Shared/ResultsOptionsDropdown/ResultsOptionsDropdown.js
Owners: @dariadomagala, @y-kkamil, @parostatkiem, @akucharska, @antiheld

Fix multiple occurences of namespace on the list
  core-ui/src/components/NamespaceList/NamespaceList.js
Owners: @akucharska, @dariadomagala, @y-kkamil, @antiheld, @parostatkiem

Changes after code review
  core/src/app/content/namespaces/operation/pods/pods.component.ts
  lambda/src/app/lambdas/list/lambdas.component.ts
Owners: @dariadomagala, @y-kkamil, @parostatkiem, @akucharska

Changes after code review
  lambda/src/app/lambdas/lambda-details/lambda-details.component.ts
  logging/src/components/LogsContainer.js
  logging/src/constants.js
Owners: @dariadomagala, @y-kkamil, @parostatkiem, @akucharska, @antiheld

Changes after code review
  core/src/app/content/namespaces/operation/pods/pods.component.ts
Owners: @dariadomagala, @y-kkamil, @parostatkiem, @akucharska

test commit
  core-ui/src/components/NamespaceList/NamespaceList.js
Owners: @akucharska, @dariadomagala, @y-kkamil, @antiheld, @parostatkiem

Update builder.js
  service-catalog-ui/instances/src/commons/builder.js
Owners: @akucharska, @dariadomagala, @y-kkamil, @antiheld, @parostatkiem

CODEOWNERS:

# Default owners of the repository
* @akucharska @dariadomagala @y-kkamil @antiheld @parostatkiem

/catalog/ @akucharska @dariadomagala @y-kkamil @parostatkiem
/instances/ @akucharska @dariadomagala @y-kkamil @parostatkiem
/brokers/ @akucharska @dariadomagala @y-kkamil @parostatkiem
/content/ @michal-hudy @aerfio @m00g3n @magicmatatjahu
/compass/ @dariadomagala @y-kkamil @akucharska @parostatkiem
/components/angular/ @dariadomagala @y-kkamil @akucharska @parostatkiem
/components/react/ @michal-hudy @aerfio @m00g3n @magicmatatjahu @akucharska @dariadomagala @y-kkamil @parostatkiem
/core/ @dariadomagala @y-kkamil @parostatkiem @akucharska
/tests/ @akucharska @dariadomagala @y-kkamil @parostatkiem
/lambda/ @dariadomagala @y-kkamil @parostatkiem @akucharska

# Owners of all .md files in the repository
*.md @kazydek @klaudiagrz @tomekpapiernik @bszwarc @mmitoraj @majakurcius @alexandra-simeonova

# Owners of config file for MILV - milv.config.yaml
milv.config.yaml @michal-hudy @aerfio @m00g3n @magicmatatjahu
