Repository kyma-project/console, changes with the owners that CODEOWNERS names for each.
All owners: @akucharska, @dariadomagala, @antiheld, @parostatkiem, @kwiatekus, @Wawrzyn321, @michal-hudy, @aerfio, @m00g3n, @magicmatatjahu, @pPrecel, @kazydek, @klaudiagrz, @tomekpapiernik, @bszwarc, @mmitoraj, @majakurcius, @alexandra-simeonova

CODEOWNERS:

# Default owners of the repository
* @akucharska @dariadomagala @antiheld @parostatkiem @kwiatekus @Wawrzyn321

/catalog/ @akucharska @dariadomagala @parostatkiem @kwiatekus @Wawrzyn321
/instances/ @akucharska @dariadomagala @parostatkiem @kwiatekus @Wawrzyn321
/brokers/ @akucharska @dariadomagala @parostatkiem @kwiatekus @Wawrzyn321
/content/ @michal-hudy @aerfio @m00g3n @magicmatatjahu @pPrecel
/compass/ @dariadomagala @akucharska @parostatkiem @kwiatekus @Wawrzyn321
/components/angular/ @dariadomagala @akucharska @parostatkiem @kwiatekus @Wawrzyn321
/components/react/ @michal-hudy @aerfio @m00g3n @magicmatatjahu @pPrecel @akucharska @dariadomagala @parostatkiem @kwiatekus @Wawrzyn321
/core/ @dariadomagala @parostatkiem @akucharska @kwiatekus @Wawrzyn321
/tests/ @akucharska @dariadomagala @parostatkiem @kwiatekus @Wawrzyn321
/core-ui/src/components/Lambdas/ @michal-hudy @aerfio @m00g3n @pPrecel @magicmatatjahu

# Owners of all .md files in the repository
*.md @kazydek @klaudiagrz @tomekpapiernik @bszwarc @mmitoraj @majakurcius @alexandra-simeonova
/core-ui/src/components/Lambdas/constants.js @kazydek @klaudiagrz @tomekpapiernik @bszwarc @mmitoraj @majakurcius @alexandra-simeonova

# Owners of config file for MILV - milv.config.yaml
milv.config.yaml @michal-hudy @aerfio @m00g3n @magicmatatjahu @pPrecel

experimental 6
  tests/helpers.js
  tests/tests/tests.js
Owners: @akucharska, @dariadomagala, @parostatkiem, @kwiatekus, @Wawrzyn321

experimental 7
  tests/helpers.js
Owners: @akucharska, @dariadomagala, @parostatkiem, @kwiatekus, @Wawrzyn321

enable firefox test on cluster
  tests/package.json
Owners: @akucharska, @dariadomagala, @parostatkiem, @kwiatekus, @Wawrzyn321

increase navLink retry
  tests/helpers.js
Owners: @akucharska, @dariadomagala, @parostatkiem, @kwiatekus, @Wawrzyn321

Use alpha release
  tests/package-lock.json
  tests/package.json
Owners: @akucharska, @dariadomagala, @parostatkiem, @kwiatekus, @Wawrzyn321

change chrome to chromium on cluster
  tests/package.json
Owners: @akucharska, @dariadomagala, @parostatkiem, @kwiatekus, @Wawrzyn321

update usage kind, and make UI resilient to "n" suffix in cpu values
  core-ui/src/components/Lambdas/LambdaDetails/Tabs/Configuration/ResourceManagement/ResourceManagement.js
  core-ui/src/components/Lambdas/LambdaDetails/Tabs/Configuration/ResourceManagement/test/ResourceManagement.test.js
  core-ui/src/components/Lambdas/constants.js
Owners: @michal-hudy, @aerfio, @m00g3n, @pPrecel, @magicmatatjahu, @kazydek, @klaudiagrz, @tomekpapiernik, @bszwarc, @mmitoraj, @majakurcius, @alexandra-simeonova

remove redundant ".?" in errors
  core-ui/src/components/Lambdas/LambdaDetails/Tabs/Configuration/ResourceManagement/LambdaReplicas.js
  core-ui/src/components/Lambdas/LambdaDetails/Tabs/Configuration/ResourceManagement/LambdaResources.js
Owners: @michal-hudy, @aerfio, @m00g3n, @pPrecel, @magicmatatjahu

remove console.log
  core-ui/src/components/Lambdas/LambdaDetails/Tabs/Configuration/ResourceManagement/ResourceManagement.js
Owners: @michal-hudy, @aerfio, @m00g3n, @pPrecel, @magicmatatjahu

Update core-ui/src/components/Lambdas/constants.js
  core-ui/src/components/Lambdas/constants.js
Owners: @kazydek, @klaudiagrz, @tomekpapiernik, @bszwarc, @mmitoraj, @majakurcius, @alexandra-simeonova

Remove old query
  core-ui/src/gql/queries.js
Owners: @akucharska, @dariadomagala, @antiheld, @parostatkiem, @kwiatekus, @Wawrzyn321

Read groups info from luigi context
  core/src/app/content/settings/organisation/organisation.component.ts
Owners: @dariadomagala, @parostatkiem, @akucharska, @kwiatekus, @Wawrzyn321

Add missed namespace arg for functions/triggers mutations.
  core-ui/src/components/Lambdas/gql/hooks/mutations/test/useCreateManyEventTriggers.test.js
  core-ui/src/components/Lambdas/gql/hooks/mutations/test/useDeleteEventTrigger.test.js
  core-ui/src/components/Lambdas/gql/hooks/mutations/test/useDeleteLambda.test.js
  core-ui/src/components/Lambdas/gql/hooks/mutations/useCreateManyEventTriggers.js
  core-ui/src/components/Lambdas/gql/hooks/mutations/useDeleteEventTrigger.js
  core-ui/src/components/Lambdas/gql/hooks/mutations/useDeleteLambda.js
  core-ui/src/components/Lambdas/gql/mutations.js
Owners: @michal-hudy, @aerfio, @m00g3n, @pPrecel, @magicmatatjahu

rename "label" to "metadata definition"
  compass/src/components/Labels/CreateLabelModal/CreateLabelModal.component.js
  compass/src/components/MetadataDefinitions/MetadataDefinitionDetails/MetadataDefinitionDetails.component.js
  compass/src/components/MetadataDefinitions/MetadataDefinitions.component.js
  compass/src/config/luigi-config/navigation.js
Owners: @dariadomagala, @akucharska, @parostatkiem, @kwiatekus, @Wawrzyn321

CreateLabelModal -> CreateMDmodal
  compass/src/components/Labels/gql.js
  compass/src/components/MetadataDefinitions/CreateLabelModal/CreateLabelModal.container.js
  compass/src/components/MetadataDefinitions/CreateMDmodal/CreateMDmodal.component.js
  compass/src/components/MetadataDefinitions/CreateMDmodal/CreateMDmodal.container.js
  compass/src/components/MetadataDefinitions/CreateMDmodal/LabelSpecificationUploadHelper.js
  compass/src/components/MetadataDefinitions/MetadataDefinitions.component.js
  compass/src/components/MetadataDefinitions/gql.js
Owners: @dariadomagala, @akucharska, @parostatkiem, @kwiatekus, @Wawrzyn321

LabelsTable -> MetadataDefinitionsTable
  compass/src/components/Application/ApplicationDetails/ApplicationDetails.js
  compass/src/components/Runtimes/RuntimeDetails/RuntimeDetails.js
  compass/src/components/Shared/MetadataDefinitionTable/MetadataDefinitionTable.js
  compass/src/components/Shared/MetadataDefinitionTable/test/LabelsTable.test.js
Owners: @dariadomagala, @akucharska, @parostatkiem, @kwiatekus, @Wawrzyn321

fix test
  compass/src/components/Shared/MetadataDefinitionTable/test/MetadataDefinitionTable.test.js
Owners: @dariadomagala, @akucharska, @parostatkiem, @kwiatekus, @Wawrzyn321

Change column widths in secrets, services nad replica sets to more readable
  core/src/app/content/namespaces/operation/replica-sets/replica-sets-entry-renderer/replica-sets-entry-renderer.component.html
  core/src/app/content/namespaces/operation/replica-sets/replica-sets-header-renderer/replica-sets-header-renderer.component.html
  core/src/app/content/namespaces/operation/secrets/secrets-header-renderer/secrets-header-renderer.component.html
  core/src/app/content/namespaces/operation/services/services-entry-renderer/services-entry-renderer.component.html
  core/src/app/content/namespaces/operation/services/services-header-renderer/services-header-renderer.component.html
  core/src/styles/fiori-fundamentals-overrides.scss
Owners: @dariadomagala, @parostatkiem, @akucharska, @kwiatekus, @Wawrzyn321

Remove space in tag
  core/src/app/content/namespaces/operation/services/services-header-renderer/services-header-renderer.component.html
Owners: @dariadomagala, @parostatkiem, @akucharska, @kwiatekus, @Wawrzyn321

review changes
  compass/src/components/MetadataDefinitions/CreateMDmodal/CreateMDmodal.component.js
  compass/src/components/MetadataDefinitions/MetadataDefinitions.component.js
Owners: @dariadomagala, @akucharska, @parostatkiem, @kwiatekus, @Wawrzyn321

remove obsolete file
  compass/src/components/MetadataDefinitions/CreateLabelModal/CreateLabelModal.container.js
Owners: @dariadomagala, @akucharska, @parostatkiem, @kwiatekus, @Wawrzyn321

adjust deployments also
  core/src/app/content/namespaces/operation/deployments/deployment-entry-renderer/deployment-entry-renderer.component.html
Owners: @dariadomagala, @parostatkiem, @akucharska, @kwiatekus, @Wawrzyn321

Missing adjustments in deployments
  core/src/app/content/namespaces/operation/deployments/deployment-header-renderer/deployment-header-renderer.component.html
Owners: @dariadomagala, @parostatkiem, @akucharska, @kwiatekus, @Wawrzyn321

Show no permissions page
  components/generic-documentation/package-lock.json
  core/angular.json
  core/package-lock.json
  core/src/luigi-config/navigation/navigation-data-init.js
  core/src/nopermissions.html
  logging/package-lock.json
Owners: @akucharska, @dariadomagala, @antiheld, @parostatkiem, @kwiatekus, @Wawrzyn321

Set color
  core/src/nopermissions.html
Owners: @dariadomagala, @parostatkiem, @akucharska, @kwiatekus, @Wawrzyn321

add some awaits
  tests/helpers.js
  tests/tests/tests.js
Owners: @akucharska, @dariadomagala, @parostatkiem, @kwiatekus, @Wawrzyn321

Remove relogin button
  core/src/nopermissions.html
Owners: @dariadomagala, @parostatkiem, @akucharska, @kwiatekus, @Wawrzyn321

fix many things
  tests/helpers.js
  tests/package.json
  tests/tests/tests.js
Owners: @akucharska, @dariadomagala, @parostatkiem, @kwiatekus, @Wawrzyn321

switch back to chromium
  tests/package.json
Owners: @akucharska, @dariadomagala, @parostatkiem, @kwiatekus, @Wawrzyn321

beautify code
  tests/helpers.js
Owners: @akucharska, @dariadomagala, @parostatkiem, @kwiatekus, @Wawrzyn321

Remove instances start from service-catalog-ui/package.json
  service-catalog-ui/package.json
Owners: @akucharska, @dariadomagala, @antiheld, @parostatkiem, @kwiatekus, @Wawrzyn321

add artificial wait()
  tests/helpers.js
Owners: @akucharska, @dariadomagala, @parostatkiem, @kwiatekus, @Wawrzyn321

core-ui makefile
  Makefile
  core-ui/Makefile
  scripts/makefile-node-common.mk
Owners: @akucharska, @dariadomagala, @antiheld, @parostatkiem, @kwiatekus, @Wawrzyn321
