Repository kyma-project/console, changes with the owners that CODEOWNERS names for each.
All owners: @akucharska, @michal-hudy, @pkosiec, @aerfio, @magicmatatjahu, @pekura, @maxmarkus, @jesusreal, @kwiatekus, @dariadomagala, @hardl, @y-kkamil, @antiheld, @joek, @lilitgh, @venturasr, @sayanh, @rakesh-garimella, @k15r, @johannesdoberer, @marynakhromova, @aszecowka, @PK85, @mszostok, @piotrmiskiewicz, @polskikiel, @jasiu001, @parostatkiem, @kazydek, @klaudiagrz, @tomekpapiernik, @bszwarc, @mmitoraj, @suleymanakbas91, @clebs, @a-thaler

CODEOWNERS:

# Default owners of the repository
* @akucharska @michal-hudy @pkosiec @aerfio @magicmatatjahu @pekura @maxmarkus @jesusreal @kwiatekus @dariadomagala @hardl @y-kkamil @antiheld @joek @lilitgh @venturasr @sayanh @rakesh-garimella @k15r @johannesdoberer @marynakhromova

/catalog/ @akucharska @michal-hudy @pkosiec @aerfio @magicmatatjahu
/instances/ @akucharska @michal-hudy @pkosiec @aerfio @magicmatatjahu
/brokers/ @akucharska @michal-hudy @pkosiec @aerfio @magicmatatjahu @aszecowka @PK85 @mszostok @piotrmiskiewicz @polskikiel @jasiu001
/content/ @akucharska @michal-hudy @pkosiec @aerfio @magicmatatjahu
/components/angular/ @pekura @maxmarkus @jesusreal @kwiatekus @dariadomagala @hardl @y-kkamil @antiheld @johannesdoberer @marynakhromova
/components/react/ @akucharska @michal-hudy @pkosiec @aerfio @magicmatatjahu
/core/ @pekura @maxmarkus @jesusreal @kwiatekus @dariadomagala @hardl @y-kkamil @antiheld @parostatkiem @johannesdoberer @marynakhromova
/tests/ @akucharska @michal-hudy @pkosiec @aerfio @magicmatatjahu @pekura @maxmarkus @jesusreal @kwiatekus @dariadomagala @hardl @y-kkamil @antiheld @johannesdoberer @marynakhromova
/lambda/ @rakesh-garimella @joek @sayanh @venturasr @lilitgh @k15r @pekura @maxmarkus @jesusreal @kwiatekus @dariadomagala @hardl @y-kkamil @antiheld @parostatkiem @johannesdoberer @marynakhromova

# Owners of all .md files in the repository
*.md @kazydek @klaudiagrz @tomekpapiernik @bszwarc @mmitoraj

# Owners of config file for MILV - milv.config.yaml
milv.config.yaml @akucharska @michal-hudy @pkosiec @aerfio @magicmatatjahu

# Owners of governance file
governance.Jenkinsfile @suleymanakbas91 @clebs @a-thaler @lilitgh @akucharska @michal-hudy @pkosiec @aerfio @magicmatatjahu

add temporary console.logs
  content/src/components/Navigation/LeftNavigation/NavigationList/NavigationList.js
Owners: @akucharska, @michal-hudy, @pkosiec, @aerfio, @magicmatatjahu

show "Components" tab as first one after "Kyma" in left nav
  content/src/components/DocsContent/DocsContent.container.js
  content/src/components/Navigation/LeftNavigation/NavigationList/NavigationGroup.js
  content/src/components/Navigation/LeftNavigation/NavigationList/NavigationList.js
Owners: @akucharska, @michal-hudy, @pkosiec, @aerfio, @magicmatatjahu

remove unneded console,logs and handle array of files
  content/src/components/Navigation/LeftNavigation/NavigationList/NavigationGroup.js
  content/src/components/Navigation/LeftNavigation/NavigationList/NavigationSections.js
Owners: @akucharska, @michal-hudy, @pkosiec, @aerfio, @magicmatatjahu

Fix scrollspy issue
  content/src/components/MainPage/MainPage.component.js
Owners: @akucharska, @michal-hudy, @pkosiec, @aerfio, @magicmatatjahu

Update docs nav sections to be collapsible
  content/package-lock.json
  content/package.json
  content/src/components/Navigation/LeftNavigation/NavigationList/NavigationGroup.js
  content/src/components/Navigation/LeftNavigation/NavigationList/styled.js
  package-lock.json
Owners: @akucharska, @michal-hudy, @pkosiec, @aerfio, @magicmatatjahu, @pekura, @maxmarkus, @jesusreal, @kwiatekus, @dariadomagala, @hardl, @y-kkamil, @antiheld, @joek, @lilitgh, @venturasr, @sayanh, @rakesh-garimella, @k15r, @johannesdoberer, @marynakhromova

Add dropdown icon and fix scrollspy
  content/src/components/Navigation/LeftNavigation/NavigationList/NavigationGroup.js
  content/src/components/Navigation/LeftNavigation/NavigationList/styled.js
  content/src/components/Navigation/ScrollSpy/ScrollSpy.component.js
Owners: @akucharska, @michal-hudy, @pkosiec, @aerfio, @magicmatatjahu

remove leftover types
  content/src/components/Navigation/ScrollSpy/ScrollSpy.component.js
Owners: @akucharska, @michal-hudy, @pkosiec, @aerfio, @magicmatatjahu

Add few fixes
  content/src/components/MainPage/MainPage.component.js
  content/src/components/MainPage/MainPage.container.js
  content/src/components/MainPage/queries.js
  content/src/components/Navigation/LeftNavigation/NavigationList/NavigationGroup.js
  content/src/components/Navigation/LeftNavigation/NavigationList/NavigationList.js
Owners: @akucharska, @michal-hudy, @pkosiec, @aerfio, @magicmatatjahu

strip resource rules
  core/src/luigi-config/luigi-config.js
Owners: @pekura, @maxmarkus, @jesusreal, @kwiatekus, @dariadomagala, @hardl, @y-kkamil, @antiheld, @parostatkiem, @johannesdoberer, @marynakhromova

Add few fixes
  content/src/components/MainPage/MainPage.component.js
  content/src/components/MainPage/MainPage.container.js
  content/src/components/MainPage/queries.js
  content/src/components/Navigation/LeftNavigation/NavigationList/NavigationGroup.js
  content/src/components/Navigation/LeftNavigation/NavigationList/NavigationList.js
Owners: @akucharska, @michal-hudy, @pkosiec, @aerfio, @magicmatatjahu

Add few fixes
  content/src/components/MainPage/MainPage.component.js
Owners: @akucharska, @michal-hudy, @pkosiec, @aerfio, @magicmatatjahu

Remove not needed providers from tests, simplify code
  core/src/app/app.module.ts
  core/src/app/content/namespaces/configuration/resources/limit-ranges/limit-ranges.component.spec.ts
  core/src/app/content/namespaces/configuration/resources/resource-quotas/resource-quotas.component.spec.ts
  core/src/app/content/namespaces/operation/deployments/deployments.component.spec.ts
  core/src/app/content/namespaces/operation/graphql-data-provider.ts
  core/src/app/content/namespaces/services/namespaces.service.spec.ts
  core/src/app/content/settings/idp-presets/idp-presets.service.spec.ts
  core/src/app/shared/services/graphql-client-service.ts
Owners: @pekura, @maxmarkus, @jesusreal, @kwiatekus, @dariadomagala, @hardl, @y-kkamil, @antiheld, @parostatkiem, @johannesdoberer, @marynakhromova

update query
  content/src/components/MainPage/MainPage.container.js
  content/src/components/MainPage/queries.js
Owners: @akucharska, @michal-hudy, @pkosiec, @aerfio, @magicmatatjahu

Fix MainPage.container
  content/src/components/MainPage/MainPage.container.js
Owners: @akucharska, @michal-hudy, @pkosiec, @aerfio, @magicmatatjahu

fix html warning
  content/public/index.html
Owners: @akucharska, @michal-hudy, @pkosiec, @aerfio, @magicmatatjahu

Update LeftNavigation to handle more groupNames
  content/src/commons/helpers.js
  content/src/components/DocsContent/DocsContent.component.js
  content/src/components/DocsContent/DocsContent.container.js
  content/src/components/MainPage/MainPage.component.js
  content/src/components/MainPage/queries.js
  content/src/components/Navigation/LeftNavigation/NavigationList/NavigationList.js
Owners: @akucharska, @michal-hudy, @pkosiec, @aerfio, @magicmatatjahu

remove unnecesary import
  content/src/components/MainPage/MainPage.component.js
Owners: @akucharska, @michal-hudy, @pkosiec, @aerfio, @magicmatatjahu

fix nasty typo and make content fetching easier
  content/src/components/DocsContent/DocsContent.container.js
  content/src/components/MainPage/MainPage.container.js
Owners: @akucharska, @michal-hudy, @pkosiec, @aerfio, @magicmatatjahu

remove unused import
  content/src/components/MainPage/MainPage.container.js
Owners: @akucharska, @michal-hudy, @pkosiec, @aerfio, @magicmatatjahu

remove comments
  content/src/components/DocsContent/DocsContent.container.js
  content/src/components/Navigation/LeftNavigation/NavigationList/NavigationList.js
Owners: @akucharska, @michal-hudy, @pkosiec, @aerfio, @magicmatatjahu

add temporary console.logs
  content/src/components/Navigation/LeftNavigation/NavigationList/NavigationList.js
Owners: @akucharska, @michal-hudy, @pkosiec, @aerfio, @magicmatatjahu

show "Components" tab as first one after "Kyma" in left nav
  content/src/components/DocsContent/DocsContent.container.js
  content/src/components/Navigation/LeftNavigation/NavigationList/NavigationGroup.js
  content/src/components/Navigation/LeftNavigation/NavigationList/NavigationList.js
Owners: @akucharska, @michal-hudy, @pkosiec, @aerfio, @magicmatatjahu

remove unneded console,logs and handle array of files
  content/src/components/Navigation/LeftNavigation/NavigationList/NavigationGroup.js
  content/src/components/Navigation/LeftNavigation/NavigationList/NavigationSections.js
Owners: @akucharska, @michal-hudy, @pkosiec, @aerfio, @magicmatatjahu

Fix scrollspy issue
  content/src/components/MainPage/MainPage.component.js
Owners: @akucharska, @michal-hudy, @pkosiec, @aerfio, @magicmatatjahu

Update docs nav sections to be collapsible
  content/package-lock.json
  content/package.json
  content/src/components/Navigation/LeftNavigation/NavigationList/NavigationGroup.js
  content/src/components/Navigation/LeftNavigation/NavigationList/styled.js
Owners: @akucharska, @michal-hudy, @pkosiec, @aerfio, @magicmatatjahu

Add dropdown icon and fix scrollspy
  content/src/components/Navigation/LeftNavigation/NavigationList/NavigationGroup.js
  content/src/components/Navigation/LeftNavigation/NavigationList/styled.js
  content/src/components/Navigation/ScrollSpy/ScrollSpy.component.js
Owners: @akucharska, @michal-hudy, @pkosiec, @aerfio, @magicmatatjahu

remove leftover types
  content/src/components/Navigation/ScrollSpy/ScrollSpy.component.js
Owners: @akucharska, @michal-hudy, @pkosiec, @aerfio, @magicmatatjahu

Add few fixes
  content/src/components/MainPage/MainPage.component.js
  content/src/components/MainPage/MainPage.container.js
  content/src/components/MainPage/queries.js
  content/src/components/Navigation/LeftNavigation/NavigationList/NavigationGroup.js
  content/src/components/Navigation/LeftNavigation/NavigationList/NavigationList.js
Owners: @akucharska, @michal-hudy, @pkosiec, @aerfio, @magicmatatjahu

Add few fixes
  content/src/components/MainPage/MainPage.container.js
Owners: @akucharska, @michal-hudy, @pkosiec, @aerfio, @magicmatatjahu

Small refactorings
  core/src/app/content/namespaces/operation/graphql-data-provider.ts
  core/src/app/shared/services/graphql-client-service.ts
Owners: @pekura, @maxmarkus, @jesusreal, @kwiatekus, @dariadomagala, @hardl, @y-kkamil, @antiheld, @parostatkiem, @johannesdoberer, @marynakhromova

Add few fixes
  content/src/App.js
Owners: @akucharska, @michal-hudy, @pkosiec, @aerfio, @magicmatatjahu

Add few fixes
  content/src/components/DocsContent/DocsContent.component.js
  content/src/components/DocsContent/DocsContent.container.js
  content/src/components/Navigation/LeftNavigation/NavigationList/NavigationGroup.js
  content/src/components/Navigation/LeftNavigation/NavigationList/styled.js
Owners: @akucharska, @michal-hudy, @pkosiec, @aerfio, @magicmatatjahu

Add few fixes
  content/src/components/DocsContent/DocsContent.component.js
  content/src/components/Navigation/RightNavigation/RightNavigation.js
Owners: @akucharska, @michal-hudy, @pkosiec, @aerfio, @magicmatatjahu

Make Content-UI more versatile (#797)
  content/package-lock.json
  content/package.json
  content/public/index.html
  content/src/App.js
  content/src/commons/helpers.js
  content/src/components/DocsContent/DocsContent.component.js
  content/src/components/DocsContent/DocsContent.container.js
  content/src/components/MainPage/MainPage.component.js
  content/src/components/MainPage/MainPage.container.js
  content/src/components/MainPage/queries.js
  content/src/components/Navigation/LeftNavigation/NavigationList/NavigationGroup.js
  content/src/components/Navigation/LeftNavigation/NavigationList/NavigationList.js
  content/src/components/Navigation/LeftNavigation/NavigationList/NavigationSections.js
  content/src/components/Navigation/LeftNavigation/NavigationList/styled.js
  content/src/components/Navigation/RightNavigation/RightNavigation.js
  content/src/components/Navigation/ScrollSpy/ScrollSpy.component.js
Owners: @akucharska, @michal-hudy, @pkosiec, @aerfio, @magicmatatjahu

Don't send request on page nuber and filters changed
  core/src/app/content/namespaces/operation/graphql-data-provider.ts
Owners: @pekura, @maxmarkus, @jesusreal, @kwiatekus, @dariadomagala, @hardl, @y-kkamil, @antiheld, @parostatkiem, @johannesdoberer, @marynakhromova

Unsubscribe from the previous subscription before creating a new one, small bug fix
  core/src/app/content/namespaces/configuration/apis/api-definition-entry-renderer/api-definition-entry-renderer.component.ts
  core/src/app/content/namespaces/configuration/apis/apis.component.ts
  core/src/app/content/namespaces/configuration/apis/filtered-apis/filtered-apis-entry-renderer/filtered-apis-entry-renderer.component.ts
  core/src/app/content/namespaces/configuration/apis/filtered-apis/filtered-apis.component.ts
  core/src/app/content/namespaces/configuration/resources/limit-ranges/limit-ranges.component.ts
  core/src/app/content/namespaces/configuration/resources/resource-quotas/resource-quotas.component.ts
  core/src/app/content/namespaces/operation/abstract-graphql-element-list.component.ts
  core/src/app/content/namespaces/operation/deployments/deployment-entry-renderer/deployment-entry-renderer.component.ts
  core/src/app/content/namespaces/operation/deployments/deployments.component.ts
  core/src/app/content/namespaces/operation/graphql-data-provider.ts
  core/src/app/content/namespaces/operation/pods/pods-entry-renderer/pods-entry-renderer.component.ts
  core/src/app/content/namespaces/operation/secrets/secret-detail/secret-detail.component.ts
  core/src/app/content/namespaces/operation/secrets/secrets.component.ts
  core/src/app/content/namespaces/operation/services/service-details/expose-api/expose-api.component.ts
  core/src/app/content/namespaces/operation/services/service-details/service-details.component.ts
  core/src/app/content/namespaces/operation/services/services.component.ts
  core/src/app/content/settings/applications/applications-entry-renderer/applications-entry-renderer.component.ts
  core/src/app/shared/components/resource-uploader/services/resource-upload.service.ts
  core/src/app/shared/components/role-binding-modal/role-binding-modal.component.ts
Owners: @pekura, @maxmarkus, @jesusreal, @kwiatekus, @dariadomagala, @hardl, @y-kkamil, @antiheld, @parostatkiem, @johannesdoberer, @marynakhromova

Update add-ons module url in config
  core/src/app/app.config.ts
Owners: @pekura, @maxmarkus, @jesusreal, @kwiatekus, @dariadomagala, @hardl, @y-kkamil, @antiheld, @parostatkiem, @johannesdoberer, @marynakhromova

Update local domain bindings mechanizm
  core/src/luigi-config/luigi-config.js
Owners: @pekura, @maxmarkus, @jesusreal, @kwiatekus, @dariadomagala, @hardl, @y-kkamil, @antiheld, @parostatkiem, @johannesdoberer, @marynakhromova

add label to system namespaces
  core/src/app/content/workspace-overview/namespace-card/namespace-card.component.html
Owners: @pekura, @maxmarkus, @jesusreal, @kwiatekus, @dariadomagala, @hardl, @y-kkamil, @antiheld, @parostatkiem, @johannesdoberer, @marynakhromova

Fix
  core/src/app/content/namespaces/operation/graphql-data-provider.ts
Owners: @pekura, @maxmarkus, @jesusreal, @kwiatekus, @dariadomagala, @hardl, @y-kkamil, @antiheld, @parostatkiem, @johannesdoberer, @marynakhromova
