Repository kyma-project/console, changes with the owners that CODEOWNERS names for each.
All owners: @akucharska, @dariadomagala, @antiheld, @parostatkiem, @kwiatekus, @Wawrzyn321, @michal-hudy, @aerfio, @m00g3n, @magicmatatjahu, @pPrecel, @kazydek, @klaudiagrz, @tomekpapiernik, @bszwarc, @mmitoraj, @majakurcius, @alexandra-simeonova

Fix test name
  compass/src/components/Shared/LabelsTable/test/LabelsTable.test.js
Owners: @dariadomagala, @akucharska, @parostatkiem, @kwiatekus, @Wawrzyn321

Fix tenant search
  compass/src/components/TenantSearch/TenantSearch.js
Owners: @dariadomagala, @akucharska, @parostatkiem, @kwiatekus, @Wawrzyn321

Fix labels table search
  compass/src/components/Shared/LabelsTable/LabelsTable.js
  compass/src/components/Shared/LabelsTable/test/LabelsTable.test.js
Owners: @dariadomagala, @akucharska, @parostatkiem, @kwiatekus, @Wawrzyn321

Use simple css selectors
  compass/src/components/Runtimes/RuntimeDetails/RuntimeDetails.scss
Owners: @dariadomagala, @akucharska, @parostatkiem, @kwiatekus, @Wawrzyn321

Rename flag
  tests/config.js
  tests/tests/tests.js
Owners: @akucharska, @dariadomagala, @parostatkiem, @kwiatekus, @Wawrzyn321

Test logs & functions conditionally
  tests/config.js
  tests/tests/tests.js
Owners: @akucharska, @dariadomagala, @parostatkiem, @kwiatekus, @Wawrzyn321

Use beforeEach for log in
  tests/tests/tests.js
Owners: @akucharska, @dariadomagala, @parostatkiem, @kwiatekus, @Wawrzyn321

After review
  .prettierignore
  tslint.json
Owners: @akucharska, @dariadomagala, @antiheld, @parostatkiem, @kwiatekus, @Wawrzyn321

GenericList improvements
  shared/components/GenericList/GenericList.scss
Owners: @akucharska, @dariadomagala, @antiheld, @parostatkiem, @kwiatekus, @Wawrzyn321

Extract copiable links to shared
  compass/src/components/Shared/LabelsTable/LabelsTable.js
  core-ui/src/components/ApiRules/ApiRuleDetails/ApiRuleDetails.js
  core-ui/src/components/Applications/ConnectApplicationModal/ConnectApplication.js
  shared/components/CopiableText/CopiableText.js
  shared/components/CopiableText/CopiableText.scss
  shared/components/Link/CopiableLink.js
  shared/components/Link/Link.js
  shared/index.js
Owners: @dariadomagala, @akucharska, @parostatkiem, @kwiatekus, @Wawrzyn321, @antiheld

Remove old CSS rules
  shared/components/CopiableText/CopiableText.scss
Owners: @akucharska, @dariadomagala, @antiheld, @parostatkiem, @kwiatekus, @Wawrzyn321

add retry to the failing test
  tests/tests/tests.js
Owners: @akucharska, @dariadomagala, @parostatkiem, @kwiatekus, @Wawrzyn321

Fix CopiableText tests
  shared/components/CopiableText/CopiableText.js
  shared/components/CopiableText/test/CopiableText.test.js
Owners: @akucharska, @dariadomagala, @antiheld, @parostatkiem, @kwiatekus, @Wawrzyn321

support allow access strategy in API Rules UI
  core-ui/src/components/ApiRules/AccessStrategy/AccessStrategy.js
Owners: @akucharska, @dariadomagala, @antiheld, @parostatkiem, @kwiatekus, @Wawrzyn321

Unify findActiveFrame function
  tests/helpers.js
  tests/tests/tests.js
Owners: @akucharska, @dariadomagala, @parostatkiem, @kwiatekus, @Wawrzyn321

Make genericList rows more compact
  shared/components/GenericList/GenericList.js
  shared/components/GenericList/GenericList.scss
  shared/components/GenericList/components.js
  shared/components/ListActions/ListActions.js
Owners: @akucharska, @dariadomagala, @antiheld, @parostatkiem, @kwiatekus, @Wawrzyn321

support allow access strategy in API Rules UI
  core-ui/src/components/ApiRules/AccessStrategy/AccessStrategy.js
  core-ui/src/components/ApiRules/ApiRuleForm/AccessStrategyForm/AccessStrategyForm.js
Owners: @akucharska, @dariadomagala, @antiheld, @parostatkiem, @kwiatekus, @Wawrzyn321

support allow access strategy in API Rules UI
  core-ui/src/components/ApiRules/AccessStrategy/AccessStrategy.js
  core-ui/src/components/ApiRules/ApiRuleForm/AccessStrategyForm/AccessStrategyForm.js
Owners: @akucharska, @dariadomagala, @antiheld, @parostatkiem, @kwiatekus, @Wawrzyn321

remove retries
  tests/config.js
  tests/tests/tests.js
Owners: @akucharska, @dariadomagala, @parostatkiem, @kwiatekus, @Wawrzyn321

addd .testcaferc.json
  tests/.testcaferc.json
Owners: @akucharska, @dariadomagala, @parostatkiem, @kwiatekus, @Wawrzyn321

add extra visibilityCheck
  tests/helpers.js
Owners: @akucharska, @dariadomagala, @parostatkiem, @kwiatekus, @Wawrzyn321

experiment 1
  tests/helpers.js
Owners: @akucharska, @dariadomagala, @parostatkiem, @kwiatekus, @Wawrzyn321

Revert "experiment 1"
  tests/helpers.js
Owners: @akucharska, @dariadomagala, @parostatkiem, @kwiatekus, @Wawrzyn321

decrease iframe selector timeout
  tests/helpers.js
Owners: @akucharska, @dariadomagala, @parostatkiem, @kwiatekus, @Wawrzyn321

increase navLinkTimeout
  tests/config.js
Owners: @akucharska, @dariadomagala, @parostatkiem, @kwiatekus, @Wawrzyn321

Fix ownerRef for Event Triggers and some texts
  core-ui/src/components/Lambdas/LambdasList/LambdasList.js
  core-ui/src/components/Lambdas/constants.js
  core-ui/src/components/Lambdas/helpers/eventTriggers/createOwnerRef.js
  core-ui/src/components/Lambdas/helpers/eventTriggers/test/createOwnerRef.test.js
  shared/components/K8sNameInput/K8sNameInput.js
Owners: @michal-hudy, @aerfio, @m00g3n, @pPrecel, @magicmatatjahu, @kazydek, @klaudiagrz, @tomekpapiernik, @bszwarc, @mmitoraj, @majakurcius, @alexandra-simeonova, @akucharska, @dariadomagala, @antiheld, @parostatkiem, @kwiatekus, @Wawrzyn321

improve iframe loading
  tests/helpers.js
Owners: @akucharska, @dariadomagala, @parostatkiem, @kwiatekus, @Wawrzyn321

increase nav link timeout even more
  tests/config.js
Owners: @akucharska, @dariadomagala, @parostatkiem, @kwiatekus, @Wawrzyn321

expermiental 2
  tests/helpers.js
Owners: @akucharska, @dariadomagala, @parostatkiem, @kwiatekus, @Wawrzyn321

code review
  core-ui/src/components/ApiRules/AccessStrategy/AccessStrategy.js
  core-ui/src/components/ApiRules/ApiRuleForm/AccessStrategyForm/AccessStrategyForm.js
  core-ui/src/components/ApiRules/accessStrategyTypes.js
  core-ui/src/index.scss
Owners: @akucharska, @dariadomagala, @antiheld, @parostatkiem, @kwiatekus, @Wawrzyn321

Add applications labels
  compass/src/App.component.js
  compass/src/components/Application/ApplicationDetails/ApplicationDetails.component.js
  compass/src/components/Application/ApplicationDetails/ApplicationDetails.container.js
  compass/src/components/Application/ApplicationDetails/ApplicationDetails.js
  compass/src/components/Application/ApplicationDetails/ApplicationDetails.scss
  compass/src/components/Application/ApplicationDetails/ApplicationDetailsHeader/ApplicationDetailsHeader.js
  compass/src/components/Application/ApplicationDetails/ApplicationDetailsScenarios/ApplicationDetailsScenarios.js
  compass/src/components/Application/ApplicationDetails/ApplicationDetailsScenarios/ApplicationDetailsScenarios.test.js
  compass/src/components/Application/ApplicationDetails/test/ApplicationDetails.test.js
Owners: @dariadomagala, @akucharska, @parostatkiem, @kwiatekus, @Wawrzyn321

experimental 3
  tests/config.js
  tests/helpers.js
Owners: @akucharska, @dariadomagala, @parostatkiem, @kwiatekus, @Wawrzyn321

Update compass/src/components/Application/ApplicationDetails/test/ApplicationDetails.test.js
  compass/src/components/Application/ApplicationDetails/test/ApplicationDetails.test.js
Owners: @dariadomagala, @akucharska, @parostatkiem, @kwiatekus, @Wawrzyn321

Add -q for testing
  tests/package.json
Owners: @akucharska, @dariadomagala, @parostatkiem, @kwiatekus, @Wawrzyn321

Review changes
  compass/src/components/Application/ApplicationDetails/ApplicationDetails.js
  compass/src/components/Application/ApplicationDetails/ApplicationDetailsHeader/ApplicationDetailsHeader.js
  compass/src/components/Application/ApplicationDetails/ApplicationDetailsScenarios/ApplicationDetailsScenarios.test.js
  compass/src/components/Application/ApplicationDetails/test/ApplicationDetails.test.js
Owners: @dariadomagala, @akucharska, @parostatkiem, @kwiatekus, @Wawrzyn321

code review
  core-ui/src/components/ApiRules/accessStrategyTypes.js
Owners: @akucharska, @dariadomagala, @antiheld, @parostatkiem, @kwiatekus, @Wawrzyn321

Fix scenarios
  compass/src/components/Applications/Applications.component.js
Owners: @dariadomagala, @akucharska, @parostatkiem, @kwiatekus, @Wawrzyn321

experimental 5
  tests/helpers.js
Owners: @akucharska, @dariadomagala, @parostatkiem, @kwiatekus, @Wawrzyn321

Adjust brokers test
  tests/tests/tests.js
Owners: @akucharska, @dariadomagala, @parostatkiem, @kwiatekus, @Wawrzyn321

Fix bugs connected with resource management section in Function UI view
  core-ui/src/components/Lambdas/LambdaDetails/Tabs/Configuration/ResourceManagement/LambdaReplicas.js
  core-ui/src/components/Lambdas/LambdaDetails/Tabs/Configuration/ResourceManagement/LambdaResources.js
  core-ui/src/components/Lambdas/LambdaDetails/Tabs/Configuration/ResourceManagement/ResourceManagement.js
  core-ui/src/components/Lambdas/LambdaDetails/Tabs/Configuration/ResourceManagement/test/ResourceManagement.test.js
  core-ui/src/components/Lambdas/constants.js
Owners: @michal-hudy, @aerfio, @m00g3n, @pPrecel, @magicmatatjahu, @kazydek, @klaudiagrz, @tomekpapiernik, @bszwarc, @mmitoraj, @majakurcius, @alexandra-simeonova

CODEOWNERS:

# Default owners of the repository
* @akucharska @dariadomagala @antiheld @parostatkiem @kwiatekus @Wawrzyn321

/catalog/ @akucharska @dariadomagala @parostatkiem @kwiatekus @Wawrzyn321
/instances/ @akucharska @dariadomagala @parostatkiem @kwiatekus @Wawrzyn321
/brokers/ @akucharska @dariadomagala @parostatkiem @kwiatekus @Wawrzyn321
/content/ @michal-hudy @aerfio @m00g3n @magicmatatjahu @pPrecel
/compass/ @dariadomagala @akucharska @parostatkiem @kwiatekus @Wawrzyn321
/components/angular/ @dariadomagala @akucharska @parostatkiem @kwiatekus @Wawrzyn321
/components/react/ @michal-hudy @aerfio @m00g3n @magicmatatjahu @pPrecel @akucharska @dariadomagala @parostatkiem @kwiatekus @Wawrzyn321
/core/ @dariadomagala @parostatkiem @akucharska @kwiatekus @Wawrzyn321
/tests/ @akucharska @dariadomagala @parostatkiem @kwiatekus @Wawrzyn321
/core-ui/src/components/Lambdas/ @michal-hudy @aerfio @m00g3n @pPrecel @magicmatatjahu

# Owners of all .md files in the repository
*.md @kazydek @klaudiagrz @tomekpapiernik @bszwarc @mmitoraj @majakurcius @alexandra-simeonova
/core-ui/src/components/Lambdas/constants.js @kazydek @klaudiagrz @tomekpapiernik @bszwarc @mmitoraj @majakurcius @alexandra-simeonova

# Owners of config file for MILV - milv.config.yaml
milv.config.yaml @michal-hudy @aerfio @m00g3n @magicmatatjahu @pPrecel
