Repository kyma-project/console, changes with the owners that CODEOWNERS names for each.
All owners: @akucharska, @michal-hudy, @pkosiec, @mjasinski5, @magicmatatjahu, @pekura, @maxmarkus, @jesusreal, @kwiatekus, @dariadomagala, @hardl, @y-kkamil, @antiheld, @joek, @lilitgh, @venturasr, @sayanh, @rakesh-garimella, @kazydek, @klaudiagrz, @tomekpapiernik, @bszwarc, @suleymanakbas91, @clebs, @a-thaler

Fix issues after merge
  core/src/app/content/environments/operation/deployments/deployment-entry-renderer/deployment-entry-renderer.component.html
Owners: @pekura, @maxmarkus, @jesusreal, @kwiatekus, @dariadomagala, @hardl, @y-kkamil, @antiheld

Add "Clear all filters" button and checked filters list in catalog ui
  catalog/src/components/ServiceClassList/ActiveFiltersList/ActiveFiltersList.component.js
  catalog/src/components/ServiceClassList/ActiveFiltersList/styled.js
  catalog/src/components/ServiceClassList/FilterList/Filter.component.js
  catalog/src/components/ServiceClassList/FilterList/FilterList.component.js
  catalog/src/components/ServiceClassList/FilterList/styled.js
  catalog/src/components/ServiceClassList/ServiceClassList.component.js
  catalog/src/components/ServiceClassList/ServiceClassList.container.js
  catalog/src/components/ServiceClassList/mutations.js
  catalog/src/components/ServiceClassList/queries.js
  catalog/src/store/Filter/resolvers.js
  tests/ui-tests/commands/catalog.js
  tests/ui-tests/tests/catalog-ui-test.js
Owners: @akucharska, @michal-hudy, @pkosiec, @mjasinski5, @magicmatatjahu, @pekura, @maxmarkus, @jesusreal, @kwiatekus, @dariadomagala, @hardl, @y-kkamil, @antiheld

Add "Clear all filters" button and checked filters list in catalog ui (#223)
  catalog/src/components/ServiceClassList/ActiveFiltersList/ActiveFiltersList.component.js
  catalog/src/components/ServiceClassList/ActiveFiltersList/styled.js
  catalog/src/components/ServiceClassList/FilterList/Filter.component.js
  catalog/src/components/ServiceClassList/FilterList/FilterList.component.js
  catalog/src/components/ServiceClassList/FilterList/styled.js
  catalog/src/components/ServiceClassList/ServiceClassList.component.js
  catalog/src/components/ServiceClassList/ServiceClassList.container.js
  catalog/src/components/ServiceClassList/mutations.js
  catalog/src/components/ServiceClassList/queries.js
  catalog/src/store/Filter/resolvers.js
  tests/ui-tests/commands/catalog.js
  tests/ui-tests/tests/catalog-ui-test.js
Owners: @akucharska, @michal-hudy, @pkosiec, @mjasinski5, @magicmatatjahu, @pekura, @maxmarkus, @jesusreal, @kwiatekus, @dariadomagala, @hardl, @y-kkamil, @antiheld

Display graphql error for ReEnvs creation and improve graphql errors handling
  core/src/app/content/environments/operation/graphql-data-provider.ts
  core/src/app/content/settings/remote-environments/create-remote-environment-modal/create-remote-environment-modal.component.ts
Owners: @pekura, @maxmarkus, @jesusreal, @kwiatekus, @dariadomagala, @hardl, @y-kkamil, @antiheld

Fix error handling in generic list
  components/angular/generic-list/src/app/modules/list/plain-list/plain-list.component.ts
  core/src/app/content/settings/idp-presets/create-preset-modal/create-preset-modal.component.ts
Owners: @pekura, @maxmarkus, @jesusreal, @kwiatekus, @dariadomagala, @hardl, @y-kkamil, @antiheld

Update package-lock
  components/angular/generic-list/package-lock.json
Owners: @pekura, @maxmarkus, @jesusreal, @kwiatekus, @dariadomagala, @hardl, @y-kkamil, @antiheld

Fix error handling
  components/angular/generic-list/src/app/modules/list/generic-list/generic-list.component.ts
  components/angular/generic-list/src/app/modules/list/plain-list/plain-list.component.ts
Owners: @pekura, @maxmarkus, @jesusreal, @kwiatekus, @dariadomagala, @hardl, @y-kkamil, @antiheld

Extract tooltip to separate component
  core/src/app/app.module.ts
  core/src/app/content/environments/operation/pods/pods-entry-renderer/pods-entry-renderer.component.html
  core/src/app/shared/components/status-label/status-label.component.html
  core/src/app/shared/components/status-label/status-label.component.scss
  core/src/app/shared/components/status-label/status-label.component.spec.ts
  core/src/app/shared/components/status-label/status-label.component.ts
  core/src/app/shared/components/tooltip/tooltip.component.html
  core/src/app/shared/components/tooltip/tooltip.component.scss
  core/src/app/shared/components/tooltip/tooltip.component.spec.ts
  core/src/app/shared/components/tooltip/tooltip.component.ts
Owners: @pekura, @maxmarkus, @jesusreal, @kwiatekus, @dariadomagala, @hardl, @y-kkamil, @antiheld

Upgrade to angular6
  lambda/.angular-cli.json
  lambda/angular.json
  lambda/karma.conf.js
  lambda/package-lock.json
  lambda/package.json
  lambda/src/app/apis/apis.service.ts
  lambda/src/app/event-activations/event-activations.service.ts
  lambda/src/app/graphql-client/graphql-client.service.ts
  lambda/src/app/lambdas/lambda-details/lambda-details.component.ts
  lambda/src/app/lambdas/lambda-details/lambda-details.service.ts
  lambda/src/app/lambdas/lambda-details/lambda-env/lambda-env.component.ts
  lambda/src/app/lambdas/lambda-details/lambda-instance-bindings/lambda-instance-binding-creator/lambda-instance-binding-creator.component.ts
  lambda/src/app/lambdas/lambda-details/lambda-instance-bindings/lambda-instance-bindings.component.ts
  lambda/src/app/lambdas/list/deployment-details.service.ts
  lambda/src/app/lambdas/list/lambdas.component.ts
  lambda/src/app/service-binding-usages/service-binding-usages.service.ts
  lambda/src/app/service-bindings/service-bindings.service.ts
  lambda/src/app/service-instances/service-instances.service.ts
  lambda/src/app/shared/data-provider/kubernetes-data-provider.ts
  lambda/src/app/shared/datamodel/k8s/function.ts
  lambda/src/app/shared/datamodel/k8s/service-binding.ts
  lambda/src/app/shared/datamodel/k8s/service-instance-list.ts
  lambda/src/app/shared/datamodel/k8s/service-instance.ts
  lambda/src/app/shared/datamodel/k8s/subscription-list.ts
  lambda/src/app/shared/datamodel/k8s/subscription.ts
  lambda/src/app/subscriptions/subscriptions.service.ts
  lambda/src/tsconfig.spec.json
  lambda/tsconfig.json
Owners: @rakesh-garimella, @joek, @sayanh, @venturasr, @lilitgh

Files migrated to angular6
  lambda/src/app/event-activations/event-activations.service.ts
  lambda/src/app/lambdas/lambda-details/lambda-details.component.ts
  lambda/src/app/lambdas/list/lambdas.component.ts
  lambda/src/app/shared/datamodel/k8s/subscription.ts
  lambda/src/app/subscriptions/subscriptions.service.ts
Owners: @rakesh-garimella, @joek, @sayanh, @venturasr, @lilitgh

Add a warning window to prevent usaved changes
  core/src/app/app.module.ts
  core/src/app/extensibility/directives/ext-app-listener.directive.ts
  core/src/app/navigation/app-routing.module.ts
  core/src/app/navigation/unsaved-changes.ts
  lambda/src/app/lambdas/lambda-details/lambda-details.component.ts
Owners: @pekura, @maxmarkus, @jesusreal, @kwiatekus, @dariadomagala, @hardl, @y-kkamil, @antiheld, @rakesh-garimella, @joek, @sayanh, @venturasr, @lilitgh

Few more changes for angular6
  lambda/src/app/graphql-client/graphql-client.service.ts
Owners: @rakesh-garimella, @joek, @sayanh, @venturasr, @lilitgh

Upgrade to angular6 (#165)
  lambda/.angular-cli.json
  lambda/angular.json
  lambda/karma.conf.js
  lambda/package-lock.json
  lambda/package.json
  lambda/src/app/apis/apis.service.ts
  lambda/src/app/event-activations/event-activations.service.ts
  lambda/src/app/graphql-client/graphql-client.service.ts
  lambda/src/app/lambdas/lambda-details/lambda-details.component.ts
  lambda/src/app/lambdas/lambda-details/lambda-details.service.ts
  lambda/src/app/lambdas/lambda-details/lambda-env/lambda-env.component.ts
  lambda/src/app/lambdas/lambda-details/lambda-instance-bindings/lambda-instance-binding-creator/lambda-instance-binding-creator.component.ts
  lambda/src/app/lambdas/lambda-details/lambda-instance-bindings/lambda-instance-bindings.component.ts
  lambda/src/app/lambdas/list/deployment-details.service.ts
  lambda/src/app/lambdas/list/lambdas.component.ts
  lambda/src/app/service-binding-usages/service-binding-usages.service.ts
  lambda/src/app/service-bindings/service-bindings.service.ts
  lambda/src/app/service-instances/service-instances.service.ts
  lambda/src/app/shared/data-provider/kubernetes-data-provider.ts
  lambda/src/app/shared/datamodel/k8s/function.ts
  lambda/src/app/shared/datamodel/k8s/service-binding.ts
  lambda/src/app/shared/datamodel/k8s/service-instance-list.ts
  lambda/src/app/shared/datamodel/k8s/service-instance.ts
  lambda/src/app/shared/datamodel/k8s/subscription-list.ts
  lambda/src/app/shared/datamodel/k8s/subscription.ts
  lambda/src/app/subscriptions/subscriptions.service.ts
  lambda/src/tsconfig.spec.json
  lambda/tsconfig.json
Owners: @rakesh-garimella, @joek, @sayanh, @venturasr, @lilitgh

Only show service instance if they are provisioned
  lambda/src/app/lambdas/lambda-details/lambda-instance-bindings/lambda-instance-binding-creator/lambda-instance-binding-creator.component.ts
  lambda/src/app/shared/datamodel/k8s/service-instance.ts
Owners: @rakesh-garimella, @joek, @sayanh, @venturasr, @lilitgh

Prevent leaking of labels from edit modal to details view and form data to persist when closing without saving and opening again
  core/src/app/content/settings/remote-environments/edit-remote-environment-modal/edit-remote-environment-modal.component.html
  core/src/app/content/settings/remote-environments/edit-remote-environment-modal/edit-remote-environment-modal.component.ts
  core/src/app/content/settings/remote-environments/remote-environment-details/remote-environment-details.component.html
Owners: @pekura, @maxmarkus, @jesusreal, @kwiatekus, @dariadomagala, @hardl, @y-kkamil, @antiheld

Trigger labels validation only after finishing entering a label
  core/src/app/content/settings/remote-environments/edit-remote-environment-modal/edit-remote-environment-modal.component.spec.ts
  core/src/app/content/settings/remote-environments/remote-environment-details/remote-environment-details.component.spec.ts
  core/src/app/shared/components/labels-input/labels-input.component.html
  core/src/app/shared/components/labels-input/labels-input.component.spec.ts
  core/src/app/shared/components/labels-input/labels-input.component.ts
Owners: @pekura, @maxmarkus, @jesusreal, @kwiatekus, @dariadomagala, @hardl, @y-kkamil, @antiheld

Show metadata labels in service-catalog ui
  catalog/OSBAContract.md
  catalog/assets/screen-catalog-page.png
  catalog/src/components/Main/queries.js
  catalog/src/components/ServiceClassList/ActiveFiltersList/ActiveFiltersList.component.js
  catalog/src/components/ServiceClassList/Cards/Card.component.js
  catalog/src/components/ServiceClassList/Cards/Cards.component.js
  catalog/src/components/ServiceClassList/Cards/styled.js
  catalog/src/components/ServiceClassList/FilterList/Filter.component.js
  catalog/src/components/ServiceClassList/FilterList/FilterList.component.js
  catalog/src/components/ServiceClassList/ServiceClassList.component.js
  catalog/src/components/ServiceClassList/queries.js
  catalog/src/store/Filter/defaults.js
  catalog/src/store/Filter/resolvers.js
  components/react/src/components/Dropdown/components.js
  components/react/src/components/Tooltip/components.js
  components/react/src/components/Tooltip/index.js
Owners: @kazydek, @klaudiagrz, @tomekpapiernik, @bszwarc, @akucharska, @michal-hudy, @pkosiec, @mjasinski5, @magicmatatjahu

Only show service instance if they are provisioned (#231)
  lambda/src/app/lambdas/lambda-details/lambda-instance-bindings/lambda-instance-binding-creator/lambda-instance-binding-creator.component.ts
  lambda/src/app/shared/datamodel/k8s/service-instance.ts
Owners: @rakesh-garimella, @joek, @sayanh, @venturasr, @lilitgh

Upgraded ng2-ace-editor and ng-click-outside
  lambda/package-lock.json
  lambda/package.json
Owners: @rakesh-garimella, @joek, @sayanh, @venturasr, @lilitgh

Upgraded ng2-ace-editor and ng-click-outside (#234)
  lambda/package-lock.json
  lambda/package.json
Owners: @rakesh-garimella, @joek, @sayanh, @venturasr, @lilitgh

Show Labels in details view and update OSBA Contract
  catalog/OSBAContract.md
  catalog/src/commons/helpers.js
  catalog/src/components/ServiceClassDetails/ServiceClassDetails.component.js
  catalog/src/components/ServiceClassDetails/ServiceClassInfo/ServiceClassInfo.component.js
  catalog/src/components/ServiceClassDetails/queries.js
  catalog/src/components/ServiceClassList/Cards/Card.component.js
  catalog/src/store/Filter/resolvers.js
Owners: @kazydek, @klaudiagrz, @tomekpapiernik, @bszwarc, @akucharska, @michal-hudy, @pkosiec, @mjasinski5, @magicmatatjahu

Ui for editing remote environments (#222)
  core/src/app/app.module.ts
  core/src/app/content/settings/remote-environments/edit-remote-environment-modal/edit-remote-environment-modal.component.html
  core/src/app/content/settings/remote-environments/edit-remote-environment-modal/edit-remote-environment-modal.component.scss
  core/src/app/content/settings/remote-environments/edit-remote-environment-modal/edit-remote-environment-modal.component.spec.ts
  core/src/app/content/settings/remote-environments/edit-remote-environment-modal/edit-remote-environment-modal.component.ts
  core/src/app/content/settings/remote-environments/remote-environment-details/remote-environment-details.component.html
  core/src/app/content/settings/remote-environments/remote-environment-details/remote-environment-details.component.spec.ts
  core/src/app/content/settings/remote-environments/remote-environment-details/remote-environment-details.component.ts
  core/src/app/content/settings/remote-environments/services/remote-environments.service.spec.ts
  core/src/app/content/settings/remote-environments/services/remote-environments.service.ts
  core/src/app/shared/components/labels-input/labels-input.component.html
  core/src/app/shared/components/labels-input/labels-input.component.scss
  core/src/app/shared/components/labels-input/labels-input.component.spec.ts
  core/src/app/shared/components/labels-input/labels-input.component.ts
  core/src/styles/toolbar.scss
Owners: @pekura, @maxmarkus, @jesusreal, @kwiatekus, @dariadomagala, @hardl, @y-kkamil, @antiheld

Update .prettierrc and apply these changes to modified files
  .prettierrc
  core/src/app/content/environments/operation/deployments/deployment-entry-renderer/deployment-entry-renderer.component.html
  core/src/app/content/environments/operation/pods/pods-entry-renderer/pods-entry-renderer.component.html
  core/src/app/content/environments/operation/replica-sets/replica-sets-entry-renderer/replica-sets-entry-renderer.component.html
  core/src/app/content/environments/operation/services/services-entry-renderer/services-entry-renderer.component.html
  core/src/app/content/settings/remote-environments/remote-environments-entry-renderer/remote-environments-entry-renderer.component.html
  core/src/app/content/settings/service-brokers/services-entry-renderer/service-broker-entry-renderer.component.html
  core/src/app/shared/components/status-label/status-label.component.html
  core/src/app/shared/components/status-label/status-label.component.ts
Owners: @akucharska, @michal-hudy, @pkosiec, @mjasinski5, @magicmatatjahu, @pekura, @maxmarkus, @jesusreal, @kwiatekus, @dariadomagala, @hardl, @y-kkamil, @antiheld, @joek, @lilitgh, @venturasr, @sayanh, @rakesh-garimella

fix singular terms in environment details component
  core/src/app/content/environments/environment-details/environment-details.component.html
Owners: @pekura, @maxmarkus, @jesusreal, @kwiatekus, @dariadomagala, @hardl, @y-kkamil, @antiheld

make terms singular for 1 instance
  core/README.md
  core/src/app/content/workspace-overview/environment-card/environment-card.component.html
Owners: @kazydek, @klaudiagrz, @tomekpapiernik, @bszwarc, @pekura, @maxmarkus, @jesusreal, @kwiatekus, @dariadomagala, @hardl, @y-kkamil, @antiheld

Add user key to whitesource config
  lambda/Jenkinsfile
Owners: @rakesh-garimella, @joek, @sayanh, @venturasr, @lilitgh

Multi view microfrontends - move cluster placement mfs to admin section (#235)
  core/src/app/app.config.ts
  core/src/app/navigation/app-routing.module.ts
  core/src/app/navigation/app.navigation.data.ts
  core/src/app/navigation/navigation.component.ts
Owners: @pekura, @maxmarkus, @jesusreal, @kwiatekus, @dariadomagala, @hardl, @y-kkamil, @antiheld

Add user key to whitesource config
  lambda/Jenkinsfile
Owners: @rakesh-garimella, @joek, @sayanh, @venturasr, @lilitgh

Add user key to whitesource config (#236)
  lambda/Jenkinsfile
Owners: @rakesh-garimella, @joek, @sayanh, @venturasr, @lilitgh

CODEOWNERS:

# Default owners of the repository
* @akucharska @michal-hudy @pkosiec @mjasinski5 @magicmatatjahu @pekura @maxmarkus @jesusreal @kwiatekus @dariadomagala @hardl @y-kkamil @antiheld @joek @lilitgh @venturasr @sayanh @rakesh-garimella

/catalog/ @akucharska @michal-hudy @pkosiec @mjasinski5 @magicmatatjahu
/instances/ @akucharska @michal-hudy @pkosiec @mjasinski5 @magicmatatjahu
/content/ @akucharska @michal-hudy @pkosiec @mjasinski5 @magicmatatjahu
/components/angular/ @pekura @maxmarkus @jesusreal @kwiatekus @dariadomagala @hardl @y-kkamil @antiheld
/components/react/ @akucharska @michal-hudy @pkosiec @mjasinski5 @magicmatatjahu
/core/ @pekura @maxmarkus @jesusreal @kwiatekus @dariadomagala @hardl @y-kkamil @antiheld
/tests/ @akucharska @michal-hudy @pkosiec @mjasinski5 @magicmatatjahu @pekura @maxmarkus @jesusreal @kwiatekus @dariadomagala @hardl @y-kkamil @antiheld
/lambda/ @rakesh-garimella @joek @sayanh @venturasr @lilitgh

# Owners of all .md files in the repository
*.md @kazydek @klaudiagrz @tomekpapiernik @bszwarc

# Owners of config file for MILV - milv.config.yaml
milv.config.yaml @akucharska @michal-hudy @pkosiec @mjasinski5 @magicmatatjahu

# Owners of governance file
governance.Jenkinsfile @suleymanakbas91 @clebs @a-thaler @lilitgh @akucharska @michal-hudy @pkosiec @mjasinski5 @magicmatatjahu
