Repository kyma-project/console, changes with the owners that CODEOWNERS names for each.
All owners: @akucharska, @michal-hudy, @aerfio, @m00g3n, @magicmatatjahu, @pekura, @maxmarkus, @jesusreal, @kwiatekus, @dariadomagala, @hardl, @y-kkamil, @antiheld, @joek, @lilitgh, @venturasr, @sayanh, @rakesh-garimella, @k15r, @johannesdoberer, @marynakhromova, @aszecowka, @PK85, @mszostok, @piotrmiskiewicz, @polskikiel, @jasiu001, @parostatkiem, @kazydek, @klaudiagrz, @tomekpapiernik, @bszwarc, @mmitoraj, @suleymanakbas91, @clebs, @a-thaler

CODEOWNERS:

# Default owners of the repository
* @akucharska @michal-hudy @aerfio @m00g3n @magicmatatjahu @pekura @maxmarkus @jesusreal @kwiatekus @dariadomagala @hardl @y-kkamil @antiheld @joek @lilitgh @venturasr @sayanh @rakesh-garimella @k15r @johannesdoberer @marynakhromova

/catalog/ @akucharska @michal-hudy @aerfio @m00g3n @magicmatatjahu
/instances/ @akucharska @michal-hudy @aerfio @m00g3n @magicmatatjahu
/brokers/ @akucharska @michal-hudy @aerfio @m00g3n @magicmatatjahu @aszecowka @PK85 @mszostok @piotrmiskiewicz @polskikiel @jasiu001
/content/ @akucharska @michal-hudy @aerfio @m00g3n @magicmatatjahu
/components/angular/ @pekura @maxmarkus @jesusreal @kwiatekus @dariadomagala @hardl @y-kkamil @antiheld @johannesdoberer @marynakhromova
/components/react/ @akucharska @michal-hudy @aerfio @m00g3n @magicmatatjahu
/core/ @pekura @maxmarkus @jesusreal @kwiatekus @dariadomagala @hardl @y-kkamil @antiheld @parostatkiem @johannesdoberer @marynakhromova
/tests/ @akucharska @michal-hudy @aerfio @m00g3n @magicmatatjahu @pekura @maxmarkus @jesusreal @kwiatekus @dariadomagala @hardl @y-kkamil @antiheld @johannesdoberer @marynakhromova
/lambda/ @rakesh-garimella @joek @sayanh @venturasr @lilitgh @k15r @pekura @maxmarkus @jesusreal @kwiatekus @dariadomagala @hardl @y-kkamil @antiheld @parostatkiem @johannesdoberer @marynakhromova

# Owners of all .md files in the repository
*.md @kazydek @klaudiagrz @tomekpapiernik @bszwarc @mmitoraj

# Owners of config file for MILV - milv.config.yaml
milv.config.yaml @akucharska @michal-hudy @aerfio @m00g3n @magicmatatjahu

# Owners of governance file
governance.Jenkinsfile @suleymanakbas91 @clebs @a-thaler @lilitgh @akucharska @michal-hudy @aerfio @m00g3n @magicmatatjahu

Move local domains
  core/src/luigi-config/luigi-config.js
  core/src/luigi-config/microfrontend-converter.js
Owners: @pekura, @maxmarkus, @jesusreal, @kwiatekus, @dariadomagala, @hardl, @y-kkamil, @antiheld, @parostatkiem, @johannesdoberer, @marynakhromova

filter lambda logs by container name
  lambda/src/app/lambdas/lambda-details/lambda-details.component.ts
  logging/src/app/search-form/search-form.component.ts
Owners: @rakesh-garimella, @joek, @sayanh, @venturasr, @lilitgh, @k15r, @pekura, @maxmarkus, @jesusreal, @kwiatekus, @dariadomagala, @hardl, @y-kkamil, @antiheld, @parostatkiem, @johannesdoberer, @marynakhromova, @akucharska, @michal-hudy, @aerfio, @m00g3n, @magicmatatjahu

revert changes to doc.source
  catalog/src/commons/helpers.js
  components/react/src/components/ReactMarkdown/components/Blockquote.js
  content/src/components/DocsContent/DocsProcessor.js
  instances/src/commons/helpers.js
Owners: @akucharska, @michal-hudy, @aerfio, @m00g3n, @magicmatatjahu

add missing {Fragment}
  components/react/src/components/ReactMarkdown/components/Blockquote.js
Owners: @akucharska, @michal-hudy, @aerfio, @m00g3n, @magicmatatjahu

Update react to satisfy peerDeps
  components/react/package-lock.json
  components/react/package.json
Owners: @akucharska, @michal-hudy, @aerfio, @m00g3n, @magicmatatjahu

update css
  components/react/src/components/NotePanel/styled.js
Owners: @akucharska, @michal-hudy, @aerfio, @m00g3n, @magicmatatjahu

Fix bullet points in note/catution/tip (#852)
  components/react/package-lock.json
  components/react/package.json
  components/react/src/components/NotePanel/styled.js
  components/react/src/components/ReactMarkdown/components/Blockquote.js
Owners: @akucharska, @michal-hudy, @aerfio, @m00g3n, @magicmatatjahu

Unify camelcase microfrontend->microFrontend
  core/src/luigi-config/luigi-config.js
Owners: @pekura, @maxmarkus, @jesusreal, @kwiatekus, @dariadomagala, @hardl, @y-kkamil, @antiheld, @parostatkiem, @johannesdoberer, @marynakhromova

Remove content domain from catalog-ui and instances-ui (#828)
  catalog/src/commons/helpers.js
  catalog/src/components/ServiceClassDetails/ServiceClassDetails.component.js
  catalog/src/components/ServiceClassDetails/ServiceClassTabs/ServiceClassTabs.component.js
  catalog/src/components/ServiceClassDetails/queries.js
  components/react/src/components/Markdown/Readme.md
  components/react/src/components/Markdown/index.js
  components/react/src/components/index.js
  instances/src/components/DataProvider/fragments.js
  instances/src/components/ServiceInstanceDetails/ServiceInstanceDetails.component.js
  instances/src/components/ServiceInstanceDetails/ServiceInstanceTabs/ServiceInstanceTabs.component.js
Owners: @akucharska, @michal-hudy, @aerfio, @m00g3n, @magicmatatjahu, @kazydek, @klaudiagrz, @tomekpapiernik, @bszwarc, @mmitoraj

Unify camelcase microfrontend->microFrontend
  core/src/luigi-config/luigi-config.js
Owners: @pekura, @maxmarkus, @jesusreal, @kwiatekus, @dariadomagala, @hardl, @y-kkamil, @antiheld, @parostatkiem, @johannesdoberer, @marynakhromova

Consume external link and requiredPermissions (#862)
  core/src/luigi-config/luigi-config.js
Owners: @pekura, @maxmarkus, @jesusreal, @kwiatekus, @dariadomagala, @hardl, @y-kkamil, @antiheld, @parostatkiem, @johannesdoberer, @marynakhromova

Add provisioned instances to catalog view (#838)
  catalog/src/components/ServiceClassDetails/ServiceClassInstancesTable/ServiceClassInstancesTable.component.js
  catalog/src/components/ServiceClassDetails/ServiceClassInstancesTable/styled.js
  catalog/src/components/ServiceClassDetails/ServiceClassTabs/ServiceClassTabs.component.js
  catalog/src/components/ServiceClassDetails/ServiceClassTabs/styled.js
  catalog/src/components/ServiceClassDetails/queries.js
  catalog/src/components/ServiceClassList/ServiceClassList.component.js
  catalog/src/components/ServiceClassList/styled.js
  catalog/src/variables.js
  components/react/src/commons/index.js
  components/react/src/commons/instance-status-color.js
  components/react/src/components/InstanceStatus/README.md
  components/react/src/components/InstanceStatus/index.js
  components/react/src/components/InstanceStatus/styled.js
  components/react/src/components/NotificationMessage/components.js
  components/react/src/components/NotificationMessage/index.js
  components/react/src/components/Status/README.md
  components/react/src/components/Status/StatusWrapper/index.js
  components/react/src/components/Status/index.js
  components/react/src/components/index.js
  core/src/app/content/namespaces/configuration/resources/resources.component.html
  instances/src/commons/helpers.js
  instances/src/components/ServiceInstanceDetails/ServiceInstanceBindings/ServiceInstanceBindings.component.js
  instances/src/components/ServiceInstanceDetails/ServiceInstanceBindings/StatusIndicator/StatusIndicator.component.js
  instances/src/components/ServiceInstanceDetails/ServiceInstanceInfo/ServiceInstanceInfo.component.js
  instances/src/components/ServiceInstances/ServiceInstances.component.js
  instances/src/components/ServiceInstances/ServiceInstancesTable/ServiceInstancesTable.component.js
  instances/src/components/ServiceInstances/styled.js
Owners: @akucharska, @michal-hudy, @aerfio, @m00g3n, @magicmatatjahu, @kazydek, @klaudiagrz, @tomekpapiernik, @bszwarc, @mmitoraj, @pekura, @maxmarkus, @jesusreal, @kwiatekus, @dariadomagala, @hardl, @y-kkamil, @antiheld, @parostatkiem, @johannesdoberer, @marynakhromova

filter lambda logs by container name (#864)
  lambda/src/app/lambdas/lambda-details/lambda-details.component.ts
  logging/src/app/search-form/search-form.component.ts
Owners: @rakesh-garimella, @joek, @sayanh, @venturasr, @lilitgh, @k15r, @pekura, @maxmarkus, @jesusreal, @kwiatekus, @dariadomagala, @hardl, @y-kkamil, @antiheld, @parostatkiem, @johannesdoberer, @marynakhromova, @akucharska, @michal-hudy, @aerfio, @m00g3n, @magicmatatjahu

Fix regexp error in FF
  logging/src/app/search-form/search-form.component.ts
Owners: @akucharska, @michal-hudy, @aerfio, @m00g3n, @magicmatatjahu, @pekura, @maxmarkus, @jesusreal, @kwiatekus, @dariadomagala, @hardl, @y-kkamil, @antiheld, @joek, @lilitgh, @venturasr, @sayanh, @rakesh-garimella, @k15r, @johannesdoberer, @marynakhromova

Fix error on label click
  logging/src/app/search-form/search-form.component.html
Owners: @akucharska, @michal-hudy, @aerfio, @m00g3n, @magicmatatjahu, @pekura, @maxmarkus, @jesusreal, @kwiatekus, @dariadomagala, @hardl, @y-kkamil, @antiheld, @joek, @lilitgh, @venturasr, @sayanh, @rakesh-garimella, @k15r, @johannesdoberer, @marynakhromova

Fix log ui in Firefox (#872)
  logging/src/app/search-form/search-form.component.html
  logging/src/app/search-form/search-form.component.ts
Owners: @akucharska, @michal-hudy, @aerfio, @m00g3n, @magicmatatjahu, @pekura, @maxmarkus, @jesusreal, @kwiatekus, @dariadomagala, @hardl, @y-kkamil, @antiheld, @joek, @lilitgh, @venturasr, @sayanh, @rakesh-garimella, @k15r, @johannesdoberer, @marynakhromova

Draft modal
  core/src/app/content/namespaces/namespace-create/namespace-create.component.html
  core/src/app/content/namespaces/namespace-create/namespace-create.component.ts
Owners: @pekura, @maxmarkus, @jesusreal, @kwiatekus, @dariadomagala, @hardl, @y-kkamil, @antiheld, @parostatkiem, @johannesdoberer, @marynakhromova

Add icons to hostname column
  core/src/app/content/namespaces/configuration/apis/api-definition-entry-renderer/api-definition-entry-renderer.component.html
  core/src/app/content/namespaces/configuration/apis/api-definition-header-renderer/api-definition-header-renderer.component.html
  core/src/styles.scss
Owners: @pekura, @maxmarkus, @jesusreal, @kwiatekus, @dariadomagala, @hardl, @y-kkamil, @antiheld, @parostatkiem, @johannesdoberer, @marynakhromova

Make 'hostname' cell fully functional
  core/src/app/content/namespaces/configuration/apis/api-definition-entry-renderer/api-definition-entry-renderer.component.html
  core/src/app/content/namespaces/configuration/apis/api-definition-entry-renderer/api-definition-entry-renderer.component.ts
  core/src/app/content/namespaces/configuration/apis/api-definition-header-renderer/api-definition-header-renderer.component.html
  core/src/styles.scss
Owners: @pekura, @maxmarkus, @jesusreal, @kwiatekus, @dariadomagala, @hardl, @y-kkamil, @antiheld, @parostatkiem, @johannesdoberer, @marynakhromova

Add help tooltip to 'port' column
  core/src/app/content/namespaces/configuration/apis/api-definition-entry-renderer/api-definition-entry-renderer.component.html
  core/src/app/content/namespaces/configuration/apis/api-definition-entry-renderer/api-definition-entry-renderer.component.ts
  core/src/app/shared/constants/constants.ts
  core/src/styles.scss
Owners: @pekura, @maxmarkus, @jesusreal, @kwiatekus, @dariadomagala, @hardl, @y-kkamil, @antiheld, @parostatkiem, @johannesdoberer, @marynakhromova

Add inline help for 'port' in API details page
  core/src/app/content/namespaces/operation/services/service-details/expose-api/expose-api.component.html
  core/src/app/content/namespaces/operation/services/service-details/expose-api/expose-api.component.ts
Owners: @pekura, @maxmarkus, @jesusreal, @kwiatekus, @dariadomagala, @hardl, @y-kkamil, @antiheld, @parostatkiem, @johannesdoberer, @marynakhromova

Change order and add tooltip to Exposed APIs table
  core/src/app/content/namespaces/configuration/apis/filtered-apis/filtered-apis-entry-renderer/filtered-apis-entry-renderer.component.html
  core/src/app/content/namespaces/configuration/apis/filtered-apis/filtered-apis-entry-renderer/filtered-apis-entry-renderer.component.ts
  core/src/app/content/namespaces/configuration/apis/filtered-apis/filtered-apis-header-renderer/filtered-apis-header-renderer.component.html
Owners: @pekura, @maxmarkus, @jesusreal, @kwiatekus, @dariadomagala, @hardl, @y-kkamil, @antiheld, @parostatkiem, @johannesdoberer, @marynakhromova

Remove adding testing bundle
  tests/README.md
  tests/ui-tests/setup/helm-broker/config.js
  tests/ui-tests/setup/helm-broker/configurer.js
  tests/ui-tests/setup/namespace-manager.js
  tests/ui-tests/setup/test-bundle-installer.js
  tests/ui-tests/tests/catalog-ui-test.js
Owners: @kazydek, @klaudiagrz, @tomekpapiernik, @bszwarc, @mmitoraj, @akucharska, @michal-hudy, @aerfio, @m00g3n, @magicmatatjahu, @pekura, @maxmarkus, @jesusreal, @kwiatekus, @dariadomagala, @hardl, @y-kkamil, @antiheld, @johannesdoberer, @marynakhromova

Fix missing content-type header when authorization is off
  lambda/src/app/lambdas/lambda-details/lambda-details.component.ts
Owners: @rakesh-garimella, @joek, @sayanh, @venturasr, @lilitgh, @k15r, @pekura, @maxmarkus, @jesusreal, @kwiatekus, @dariadomagala, @hardl, @y-kkamil, @antiheld, @parostatkiem, @johannesdoberer, @marynakhromova

Add inputs for limits
  core/src/app/content/namespaces/namespace-create/namespace-create.component.html
  core/src/app/content/namespaces/namespace-create/namespace-create.component.scss
  core/src/app/content/namespaces/namespace-create/namespace-create.component.ts
Owners: @pekura, @maxmarkus, @jesusreal, @kwiatekus, @dariadomagala, @hardl, @y-kkamil, @antiheld, @parostatkiem, @johannesdoberer, @marynakhromova

Update tests/README.md
  tests/README.md
Owners: @kazydek, @klaudiagrz, @tomekpapiernik, @bszwarc, @mmitoraj

Clean form on cancel
  core/src/app/content/namespaces/namespace-create/namespace-create.component.html
  core/src/app/content/namespaces/namespace-create/namespace-create.component.ts
Owners: @pekura, @maxmarkus, @jesusreal, @kwiatekus, @dariadomagala, @hardl, @y-kkamil, @antiheld, @parostatkiem, @johannesdoberer, @marynakhromova

Small cleanup
  core/src/app/content/namespaces/namespace-create/namespace-create.component.ts
Owners: @pekura, @maxmarkus, @jesusreal, @kwiatekus, @dariadomagala, @hardl, @y-kkamil, @antiheld, @parostatkiem, @johannesdoberer, @marynakhromova

Use gql to create namespace
  core/src/app/content/namespaces/namespace-create/namespace-create.component.ts
  core/src/app/content/namespaces/services/namespaces.service.ts
Owners: @pekura, @maxmarkus, @jesusreal, @kwiatekus, @dariadomagala, @hardl, @y-kkamil, @antiheld, @parostatkiem, @johannesdoberer, @marynakhromova

Fix error handling
  core/src/app/content/namespaces/namespace-create/namespace-create.component.ts
  core/src/app/shared/services/graphql-client-service.ts
Owners: @pekura, @maxmarkus, @jesusreal, @kwiatekus, @dariadomagala, @hardl, @y-kkamil, @antiheld, @parostatkiem, @johannesdoberer, @marynakhromova

Remove adding testing bundle (#880)
  tests/README.md
  tests/ui-tests/setup/helm-broker/config.js
  tests/ui-tests/setup/helm-broker/configurer.js
  tests/ui-tests/setup/namespace-manager.js
  tests/ui-tests/setup/test-bundle-installer.js
  tests/ui-tests/tests/catalog-ui-test.js
Owners: @kazydek, @klaudiagrz, @tomekpapiernik, @bszwarc, @mmitoraj, @akucharska, @michal-hudy, @aerfio, @m00g3n, @magicmatatjahu, @pekura, @maxmarkus, @jesusreal, @kwiatekus, @dariadomagala, @hardl, @y-kkamil, @antiheld, @johannesdoberer, @marynakhromova

Create resource quotas for namespace, small fixes
  core/src/app/content/namespaces/namespace-create/namespace-create.component.html
  core/src/app/content/namespaces/namespace-create/namespace-create.component.ts
  core/src/app/content/namespaces/services/namespaces.service.ts
Owners: @pekura, @maxmarkus, @jesusreal, @kwiatekus, @dariadomagala, @hardl, @y-kkamil, @antiheld, @parostatkiem, @johannesdoberer, @marynakhromova

Improve auto-hiding of JSON parse error notification
  lambda/package-lock.json
  lambda/src/app/lambdas/lambda-details/lambda-details.component.ts
Owners: @rakesh-garimella, @joek, @sayanh, @venturasr, @lilitgh, @k15r, @pekura, @maxmarkus, @jesusreal, @kwiatekus, @dariadomagala, @hardl, @y-kkamil, @antiheld, @parostatkiem, @johannesdoberer, @marynakhromova

Lambda "Test" tab (#867)
  lambda/package-lock.json
  lambda/package.json
  lambda/src/app/app.module.ts
  lambda/src/app/lambdas/lambda-details/lambda-details.component.html
  lambda/src/app/lambdas/lambda-details/lambda-details.component.scss
  lambda/src/app/lambdas/lambda-details/lambda-details.component.ts
  lambda/src/app/lambdas/list/lambdas.component.ts
  lambda/src/app/shared/components/notification/notification.component.html
  lambda/src/app/shared/components/notification/notification.component.scss
  lambda/src/app/shared/components/notification/notification.component.ts
  lambda/src/tsconfig.app.json
  lambda/tsconfig.json
Owners: @rakesh-garimella, @joek, @sayanh, @venturasr, @lilitgh, @k15r, @pekura, @maxmarkus, @jesusreal, @kwiatekus, @dariadomagala, @hardl, @y-kkamil, @antiheld, @parostatkiem, @johannesdoberer, @marynakhromova

Create limit ranges for the namespace
  core/src/app/content/namespaces/namespace-create/namespace-create.component.html
  core/src/app/content/namespaces/namespace-create/namespace-create.component.ts
  core/src/app/content/namespaces/services/namespaces.service.ts
Owners: @pekura, @maxmarkus, @jesusreal, @kwiatekus, @dariadomagala, @hardl, @y-kkamil, @antiheld, @parostatkiem, @johannesdoberer, @marynakhromova

Adjust config files to work with 'console-dev.{cluster}...' domain (#715)
  config.js
  core/src/app/app.config.ts
  core/src/luigi-config/luigi-config.js
  core/src/luigi-config/microfrontend-converter.js
Owners: @akucharska, @michal-hudy, @aerfio, @m00g3n, @magicmatatjahu, @pekura, @maxmarkus, @jesusreal, @kwiatekus, @dariadomagala, @hardl, @y-kkamil, @antiheld, @joek, @lilitgh, @venturasr, @sayanh, @rakesh-garimella, @k15r, @johannesdoberer, @marynakhromova, @parostatkiem
