Repository kyma-project/console, changes with the owners that CODEOWNERS names for each.
All owners: @akucharska, @michal-hudy, @pkosiec, @aerfio, @magicmatatjahu, @pekura, @maxmarkus, @jesusreal, @kwiatekus, @dariadomagala, @hardl, @y-kkamil, @antiheld, @joek, @lilitgh, @venturasr, @sayanh, @rakesh-garimella, @k15r, @johannesdoberer, @marynakhromova, @aszecowka, @PK85, @mszostok, @piotrmiskiewicz, @polskikiel, @jasiu001, @parostatkiem, @kazydek, @klaudiagrz, @tomekpapiernik, @bszwarc, @mmitoraj, @suleymanakbas91, @clebs, @a-thaler

CODEOWNERS:

# Default owners of the repository
* @akucharska @michal-hudy @pkosiec @aerfio @magicmatatjahu @pekura @maxmarkus @jesusreal @kwiatekus @dariadomagala @hardl @y-kkamil @antiheld @joek @lilitgh @venturasr @sayanh @rakesh-garimella @k15r @johannesdoberer @marynakhromova

/catalog/ @akucharska @michal-hudy @pkosiec @aerfio @magicmatatjahu
/instances/ @akucharska @michal-hudy @pkosiec @aerfio @magicmatatjahu
/brokers/ @akucharska @michal-hudy @pkosiec @aerfio @magicmatatjahu @aszecowka @PK85 @mszostok @piotrmiskiewicz @polskikiel @jasiu001
/content/ @akucharska @michal-hudy @pkosiec @aerfio @magicmatatjahu
/components/angular/ @pekura @maxmarkus @jesusreal @kwiatekus @dariadomagala @hardl @y-kkamil @antiheld @johannesdoberer @marynakhromova
/components/react/ @akucharska @michal-hudy @pkosiec @aerfio @magicmatatjahu
/core/ @pekura @maxmarkus @jesusreal @kwiatekus @dariadomagala @hardl @y-kkamil @antiheld @parostatkiem @johannesdoberer @marynakhromova
/tests/ @akucharska @michal-hudy @pkosiec @aerfio @magicmatatjahu @pekura @maxmarkus @jesusreal @kwiatekus @dariadomagala @hardl @y-kkamil @antiheld @johannesdoberer @marynakhromova
/lambda/ @rakesh-garimella @joek @sayanh @venturasr @lilitgh @k15r @pekura @maxmarkus @jesusreal @kwiatekus @dariadomagala @hardl @y-kkamil @antiheld @parostatkiem @johannesdoberer @marynakhromova

# Owners of all .md files in the repository
*.md @kazydek @klaudiagrz @tomekpapiernik @bszwarc @mmitoraj

# Owners of config file for MILV - milv.config.yaml
milv.config.yaml @akucharska @michal-hudy @pkosiec @aerfio @magicmatatjahu

# Owners of governance file
governance.Jenkinsfile @suleymanakbas91 @clebs @a-thaler @lilitgh @akucharska @michal-hudy @pkosiec @aerfio @magicmatatjahu

Return new object instead of mutating the old one
  core/src/app/content/namespaces/operation/graphql-data-provider.ts
Owners: @pekura, @maxmarkus, @jesusreal, @kwiatekus, @dariadomagala, @hardl, @y-kkamil, @antiheld, @parostatkiem, @johannesdoberer, @marynakhromova

Fix
  core/src/app/content/namespaces/operation/graphql-data-provider.ts
Owners: @pekura, @maxmarkus, @jesusreal, @kwiatekus, @dariadomagala, @hardl, @y-kkamil, @antiheld, @parostatkiem, @johannesdoberer, @marynakhromova

Fix Markdown rendering of lists and images in Catalog and Instances (#820)
  catalog/src/commons/helpers.js
  catalog/src/components/ServiceClassList/ServiceClassList.component.js
  components/react/package.json
  components/react/src/components/ReactMarkdown/components/Link.js
  components/react/src/components/ReactMarkdown/components/Strong.js
  components/react/src/components/ReactMarkdown/helpers.js
  components/react/src/components/ReactMarkdown/index.js
  components/react/src/components/ReactMarkdown/styled.js
  content/src/components/DocsContent/DocsProcessor.js
  instances/src/commons/helpers.js
Owners: @akucharska, @michal-hudy, @pkosiec, @aerfio, @magicmatatjahu

Small improvement
  core/src/app/content/namespaces/operation/graphql-data-provider.ts
Owners: @pekura, @maxmarkus, @jesusreal, @kwiatekus, @dariadomagala, @hardl, @y-kkamil, @antiheld, @parostatkiem, @johannesdoberer, @marynakhromova

Fix websockets in console core lists views (#824)
  core/src/app/content/namespaces/operation/graphql-data-provider.ts
Owners: @pekura, @maxmarkus, @jesusreal, @kwiatekus, @dariadomagala, @hardl, @y-kkamil, @antiheld, @parostatkiem, @johannesdoberer, @marynakhromova

Fix linting error
  tests/ui-tests/tests/lambda-ui-test.js
Owners: @akucharska, @michal-hudy, @pkosiec, @aerfio, @magicmatatjahu, @pekura, @maxmarkus, @jesusreal, @kwiatekus, @dariadomagala, @hardl, @y-kkamil, @antiheld, @johannesdoberer, @marynakhromova

Update vulnerable dependencies (#823)
  components/angular/generic-list/package-lock.json
  lambda/package-lock.json
Owners: @pekura, @maxmarkus, @jesusreal, @kwiatekus, @dariadomagala, @hardl, @y-kkamil, @antiheld, @johannesdoberer, @marynakhromova, @rakesh-garimella, @joek, @sayanh, @venturasr, @lilitgh, @k15r, @parostatkiem

Fetch cluster microfrontends via graphql
  core/src/luigi-config/luigi-config.js
  core/src/luigi-config/microfrontend-converter.js
Owners: @pekura, @maxmarkus, @jesusreal, @kwiatekus, @dariadomagala, @hardl, @y-kkamil, @antiheld, @parostatkiem, @johannesdoberer, @marynakhromova

Fetch cluster microfrontends via graphql
  core/src/luigi-config/luigi-config.js
Owners: @pekura, @maxmarkus, @jesusreal, @kwiatekus, @dariadomagala, @hardl, @y-kkamil, @antiheld, @parostatkiem, @johannesdoberer, @marynakhromova

Remove content domain from catalog-ui and instances-ui
  catalog/src/commons/helpers.js
  catalog/src/components/ServiceClassDetails/ServiceClassDetails.component.js
  catalog/src/components/ServiceClassDetails/ServiceClassTabs/ServiceClassTabs.component.js
  catalog/src/components/ServiceClassDetails/queries.js
  components/react/src/components/Markdown/Readme.md
  components/react/src/components/Markdown/index.js
  components/react/src/components/index.js
  instances/src/components/DataProvider/fragments.js
  instances/src/components/ServiceInstanceDetails/ServiceInstanceDetails.component.js
  instances/src/components/ServiceInstanceDetails/ServiceInstanceTabs/ServiceInstanceTabs.component.js
Owners: @akucharska, @michal-hudy, @pkosiec, @aerfio, @magicmatatjahu, @kazydek, @klaudiagrz, @tomekpapiernik, @bszwarc, @mmitoraj

Prettier
  catalog/src/components/ServiceClassDetails/ServiceClassDetails.component.js
  catalog/src/components/ServiceClassDetails/ServiceClassTabs/ServiceClassTabs.component.js
  instances/src/components/ServiceInstanceDetails/ServiceInstanceDetails.component.js
  instances/src/components/ServiceInstanceDetails/ServiceInstanceTabs/ServiceInstanceTabs.component.js
Owners: @akucharska, @michal-hudy, @pkosiec, @aerfio, @magicmatatjahu

Fetch all init data with one gql request (#827)
  core/src/luigi-config/luigi-config.js
  core/src/luigi-config/microfrontend-converter.js
Owners: @pekura, @maxmarkus, @jesusreal, @kwiatekus, @dariadomagala, @hardl, @y-kkamil, @antiheld, @parostatkiem, @johannesdoberer, @marynakhromova

Fix catalog-ui filter position
  catalog/src/components/ServiceClassList/FilterList/FilterList.component.js
Owners: @akucharska, @michal-hudy, @pkosiec, @aerfio, @magicmatatjahu

Fix catalog-ui filter position (#841)
  catalog/src/components/ServiceClassList/FilterList/FilterList.component.js
Owners: @akucharska, @michal-hudy, @pkosiec, @aerfio, @magicmatatjahu

Fix RegExp for Firefox
  catalog/src/commons/helpers.js
  components/react/src/components/ReactMarkdown/helpers.js
  content/src/components/DocsContent/DocsProcessor.js
  instances/src/commons/helpers.js
Owners: @akucharska, @michal-hudy, @pkosiec, @aerfio, @magicmatatjahu

remove console.log
  instances/src/commons/helpers.js
Owners: @akucharska, @michal-hudy, @pkosiec, @aerfio, @magicmatatjahu

remove comment
  components/react/src/components/ReactMarkdown/helpers.js
Owners: @akucharska, @michal-hudy, @pkosiec, @aerfio, @magicmatatjahu

Fix RegExp for Firefox (#844)
  catalog/src/commons/helpers.js
  components/react/src/components/ReactMarkdown/helpers.js
  content/src/components/DocsContent/DocsProcessor.js
  instances/src/commons/helpers.js
Owners: @akucharska, @michal-hudy, @pkosiec, @aerfio, @magicmatatjahu
