Repository kyma-project/console, changes with the owners that CODEOWNERS names for each.
All owners: @akucharska, @kwiatekus, @dariadomagala, @y-kkamil, @antiheld, @parostatkiem, @sjanota, @michal-hudy, @aerfio, @m00g3n, @magicmatatjahu, @kazydek, @klaudiagrz, @tomekpapiernik, @bszwarc, @mmitoraj, @suleymanakbas91, @clebs, @a-thaler, @lilitgh

Fix not hiding backdrop issue
  lambda/src/app/lambdas/lambda-details/event-trigger-chooser/event-trigger-chooser.component.ts
  lambda/src/app/lambdas/lambda-details/http-trigger/http-trigger.component.ts
Owners: @kwiatekus, @dariadomagala, @y-kkamil, @parostatkiem, @akucharska, @sjanota

Update after merge
  compass/src/components/Application/ApplicationDetails/ApplicationDetails.component.js
  compass/src/components/Application/ApplicationDetails/ApplicationScenarioDisplay/ApplicationScenarioDisplay.component.js
  compass/src/components/Application/ApplicationDetails/ApplicationScenarioDisplay/ApplicationScenarioModal/ApplicationScenarioModal.component.js
  compass/src/components/Application/ApplicationDetails/ApplicationScenarioDisplay/ApplicationScenarioModal/style.scss
  compass/src/shared/components/GenericList/GenericList.js
Owners: @kwiatekus, @dariadomagala, @y-kkamil, @akucharska, @parostatkiem, @sjanota

Fix runtimeDetailsHeader
  compass/src/components/Runtimes/RuntimeDetails/RuntimeDetailsHeader/RuntimeDetailsHeader.component.js
Owners: @kwiatekus, @dariadomagala, @y-kkamil, @akucharska, @parostatkiem, @sjanota

Extract modal for next tasks
  compass/src/components/Application/ApplicationDetails/ApplicationScenarioDisplay/ApplicationScenarioDisplay.component.js
  compass/src/components/Application/ApplicationDetails/ApplicationScenarioDisplay/ApplicationScenarioModal.container.js
  compass/src/components/Application/gql.js
  compass/src/components/Shared/AssignScenarioModal/AssignScenarioModal.component.js
  compass/src/components/Shared/AssignScenarioModal/style.scss
  compass/src/components/Shared/gql.js
Owners: @kwiatekus, @dariadomagala, @y-kkamil, @akucharska, @parostatkiem, @sjanota

compass-ui serve mutliple react apps
  compass/Dockerfile
  compass/nginx.conf
Owners: @kwiatekus, @dariadomagala, @y-kkamil, @akucharska, @parostatkiem, @sjanota

Change router to hashrouter
  compass/src/App.component.js
Owners: @kwiatekus, @dariadomagala, @y-kkamil, @akucharska, @parostatkiem, @sjanota

byle co
  compass/nginx.conf
  compass/package-lock.json
  compass/package.json
  compass/public/config/config.js
  compass/public/index.html
  compass/public/luigi-core/0072d92bfeaf57f02de04342d06a3463.woff2
  compass/public/luigi-core/15d69c7c6c46af899033b881f0786328.woff2
  compass/public/luigi-core/1abad19983bc369ee086769a8d503050.ttf
  compass/public/luigi-core/1e678655fe64a8a126dd51619f22edde.woff
  compass/public/luigi-core/1f13fc6d938b5cda6bde9229f722ea8c.woff
  compass/public/luigi-core/2bf8d215e6d4ac1b622728c4d2f06d4a.ttf
  compass/public/luigi-core/317cde33cde273c643e2f4bfe788eefe.ttf
  compass/public/luigi-core/3ab665b6d2fbcc13822abf07520f3972.ttf
  compass/public/luigi-core/48cb3e07e7e509d6c81c420507d7916b.woff
  compass/public/luigi-core/56af1d33fbd8bf1d80afd53f3f1d01ca.woff2
  compass/public/luigi-core/7f6c7cb94c0d8088b023553d46a64e07.woff2
  compass/public/luigi-core/85e09d643e5d4b5f98c3aaf365bd1c02.woff2
  compass/public/luigi-core/909707d4c2808b374157094c2950925e.woff
  compass/public/luigi-core/9b4487708ef140ace9dbc396a39bbf44.woff
  compass/public/luigi-core/README.md
  compass/public/luigi-core/a055c920fa3948666fc4412d72aa94f3.ttf
  compass/public/luigi-core/ab363ac31002ac1293658c71a84eef29.woff
  compass/public/luigi-core/auth/oauth2/callback.html
  compass/public/luigi-core/auth/oidc/oidc-client.min.js
  compass/public/luigi-core/auth/oidc/silent-callback.html
  compass/public/luigi-core/c1ba0da78d7f6586cf5b00d5ef5eb806.woff
  compass/public/luigi-core/c58be3ff685e0c820c8438bbf1579351.ttf
  compass/public/luigi-core/c5f39800983eb3eb97ed2ba72a5be4b7.woff
  compass/public/luigi-core/e2f76695560366054ce11dc7efc046fd.ttf
  compass/public/luigi-core/luigi.css
  compass/public/luigi-core/luigi.js
  compass/public/luigi-core/package.json
  compass/public/luigi-index.html
  compass/src/config/luigi-config/navigation.js
  compass/webpack-generateConfig.config.js
  components/react/package-lock.json
Owners: @kwiatekus, @dariadomagala, @y-kkamil, @akucharska, @parostatkiem, @sjanota, @kazydek, @klaudiagrz, @tomekpapiernik, @bszwarc, @mmitoraj

Update fundamentls, fix app binding dropdown
  components/angular/generic-list/src/app/modules/list/list-element-actions/list-element-actions.component.scss
  core/package-lock.json
  core/package.json
  core/src/app/content/settings/applications/application-details/create-bindings-modal/create-binding-modal.component.html
  core/src/app/content/settings/applications/application-details/create-bindings-modal/create-binding-modal.component.scss
  core/src/app/content/settings/applications/application-details/create-bindings-modal/create-binding-modal.component.ts
Owners: @kwiatekus, @dariadomagala, @y-kkamil, @akucharska, @parostatkiem, @sjanota

Add compass-system to the list of system namespaces
  core/src/luigi-config/luigi-config.js
Owners: @kwiatekus, @dariadomagala, @y-kkamil, @parostatkiem, @akucharska, @sjanota

Apply renaming, fix css issues
  compass/src/components/Application/ApplicationDetails/ApplicationDetails.component.js
  compass/src/components/Application/ApplicationDetails/ApplicationDetailsScenarios/ApplicationDetailsScenarios.component.js
  compass/src/components/Application/ApplicationDetails/ApplicationDetailsScenarios/ApplicationDetailsScenarios.container.js
  compass/src/components/Application/ApplicationDetails/ApplicationDetailsScenarios/ApplicationScenarioModal.container.js
  compass/src/components/Shared/AssignScenarioModal/AssignScenarioModal.component.js
  compass/src/components/Shared/AssignScenarioModal/style.scss
Owners: @kwiatekus, @dariadomagala, @y-kkamil, @akucharska, @parostatkiem, @sjanota

Refactor after review
  compass/package-lock.json
  compass/package.json
  compass/src/components/Application/ApplicationDetails/ApplicationDetailsApis/ApplicationDetailsApis.component.js
  compass/src/components/Application/ApplicationDetails/ApplicationDetailsEventApis/ApplicationDetailsEventApis.component.js
  compass/src/components/Application/ApplicationDetails/CreateAPIModal/APICreationHelper.js
  compass/src/components/Application/ApplicationDetails/CreateAPIModal/CreateAPIModal.component.js
  compass/src/components/Application/ApplicationDetails/CreateAPIModal/Forms/APIUploadHelper.js
  compass/src/components/Application/ApplicationDetails/CreateAPIModal/Forms/ApiDataForm.js
  compass/src/components/Application/ApplicationDetails/CreateAPIModal/Forms/CredentialsForm.js
  compass/src/components/Application/ApplicationDetails/CreateAPIModal/Forms/FileInput.js
  compass/src/components/Application/ApplicationDetails/CreateAPIModal/Forms/TextFormItem.js
  compass/src/components/Application/ApplicationDetails/CreateAPIModal/style.scss
Owners: @kwiatekus, @dariadomagala, @y-kkamil, @akucharska, @parostatkiem, @sjanota

Fix roles binding dropdown
  core/src/app/shared/components/role-binding-modal/role-binding-modal.component.html
  core/src/app/shared/components/role-binding-modal/role-binding-modal.component.ts
Owners: @kwiatekus, @dariadomagala, @y-kkamil, @parostatkiem, @akucharska, @sjanota

compass-ui configurable
  compass/nginx.conf
  compass/public/config/config.js
  compass/public/luigi-index.html
  compass/src/config/luigi-config/helpers/navigation-helpers.js
  compass/src/config/luigi-config/navigation.js
  compass/src/config/luigi-config/settings.js
Owners: @kwiatekus, @dariadomagala, @y-kkamil, @akucharska, @parostatkiem, @sjanota

Update after review
  compass/src/components/Application/ApplicationDetails/CreateAPIModal/APICreationHelper.js
Owners: @kwiatekus, @dariadomagala, @y-kkamil, @akucharska, @parostatkiem, @sjanota

Add comment for future generations
  compass/src/components/Application/ApplicationDetails/CreateAPIModal/style.scss
Owners: @kwiatekus, @dariadomagala, @y-kkamil, @akucharska, @parostatkiem, @sjanota

Change after review
  compass/src/components/Application/ApplicationDetails/ApplicationDetails.component.js
Owners: @kwiatekus, @dariadomagala, @y-kkamil, @akucharska, @parostatkiem, @sjanota

compass-ui configurable
  compass/src/config/config.js
  compass/src/store/index.js
Owners: @kwiatekus, @dariadomagala, @y-kkamil, @akucharska, @parostatkiem, @sjanota

compass-ui mf
  compass/src/config/config.js
  compass/src/config/luigi-config/helpers/navigation-helpers.js
Owners: @kwiatekus, @dariadomagala, @y-kkamil, @akucharska, @parostatkiem, @sjanota

revert react components package.lock
  components/react/package-lock.json
Owners: @akucharska, @kwiatekus, @dariadomagala, @y-kkamil, @parostatkiem, @sjanota

revert README.md
  compass/public/luigi-core/README.md
Owners: @kazydek, @klaudiagrz, @tomekpapiernik, @bszwarc, @mmitoraj

CODEOWNERS:

# Default owners of the repository
* @akucharska @kwiatekus @dariadomagala @y-kkamil @antiheld @parostatkiem @sjanota

/catalog/ @akucharska @kwiatekus @dariadomagala @y-kkamil @parostatkiem @sjanota
/instances/ @akucharska @kwiatekus @dariadomagala @y-kkamil @parostatkiem @sjanota
/brokers/ @akucharska @kwiatekus @dariadomagala @y-kkamil @parostatkiem @sjanota
/content/ @michal-hudy @aerfio @m00g3n @magicmatatjahu
/compass/ @kwiatekus @dariadomagala @y-kkamil @akucharska @parostatkiem @sjanota
/components/angular/ @kwiatekus @dariadomagala @y-kkamil @akucharska @parostatkiem @sjanota
/components/react/ @akucharska  @kwiatekus @dariadomagala @y-kkamil @parostatkiem @sjanota
/core/ @kwiatekus @dariadomagala @y-kkamil @parostatkiem @akucharska @sjanota
/tests/ @akucharska  @kwiatekus @dariadomagala @y-kkamil @parostatkiem @sjanota
/lambda/ @kwiatekus @dariadomagala @y-kkamil @parostatkiem @akucharska @sjanota

# Owners of all .md files in the repository
*.md @kazydek @klaudiagrz @tomekpapiernik @bszwarc @mmitoraj

# Owners of config file for MILV - milv.config.yaml
milv.config.yaml @michal-hudy @aerfio @m00g3n @magicmatatjahu

# Owners of governance file
governance.Jenkinsfile @suleymanakbas91 @clebs @a-thaler @lilitgh @michal-hudy @aerfio @m00g3n @magicmatatjahu
