Repository kyma-project/console, changes with the owners that CODEOWNERS names for each.
All owners: @akucharska, @michal-hudy, @pkosiec, @mjasinski5, @magicmatatjahu, @pekura, @maxmarkus, @jesusreal, @kwiatekus, @dariadomagala, @hardl, @y-kkamil, @antiheld, @joek, @lilitgh, @venturasr, @sayanh, @rakesh-garimella, @kazydek, @klaudiagrz, @tomekpapiernik, @bszwarc, @suleymanakbas91, @clebs, @a-thaler

Improve binding resources queries (#198)
  instances/src/components/ServiceInstanceDetails/ServiceInstanceBindings/CreateBindingModal/CreateBindingModal.component.js
  instances/src/components/ServiceInstanceDetails/queries.js
Owners: @akucharska, @michal-hudy, @pkosiec, @mjasinski5, @magicmatatjahu

It works!
  core/src/app/content/environments/operation/pods/pods-entry-renderer/pods-entry-renderer.component.html
  core/src/app/content/environments/operation/pods/pods-entry-renderer/pods-entry-renderer.component.ts
  core/src/app/content/environments/operation/pods/pods-header-renderer/pods-header-renderer.component.html
  core/src/app/shared/components/status-label/status-label.component.html
  core/src/app/shared/components/status-label/status-label.component.scss
  core/src/app/shared/components/status-label/status-label.component.ts
Owners: @pekura, @maxmarkus, @jesusreal, @kwiatekus, @dariadomagala, @hardl, @y-kkamil, @antiheld

Remove unneeded padding value for navigation block
  core/src/app/navigation/navigation.component.scss
Owners: @pekura, @maxmarkus, @jesusreal, @kwiatekus, @dariadomagala, @hardl, @y-kkamil, @antiheld

Fix wrong structure of containers in navigation component
  core/src/app/navigation/navigation.component.html
Owners: @pekura, @maxmarkus, @jesusreal, @kwiatekus, @dariadomagala, @hardl, @y-kkamil, @antiheld

Revert "In progress 1"
  content/src/commons/manifest.yaml
  core/src/app/app.config.ts
Owners: @akucharska, @michal-hudy, @pkosiec, @mjasinski5, @magicmatatjahu, @pekura, @maxmarkus, @jesusreal, @kwiatekus, @dariadomagala, @hardl, @y-kkamil, @antiheld

Remove the example description
  core/src/app/content/environments/operation/pods/pods-entry-renderer/pods-entry-renderer.component.html
Owners: @pekura, @maxmarkus, @jesusreal, @kwiatekus, @dariadomagala, @hardl, @y-kkamil, @antiheld

Fix indentation for navigation component markup
  core/src/app/navigation/navigation.component.html
Owners: @pekura, @maxmarkus, @jesusreal, @kwiatekus, @dariadomagala, @hardl, @y-kkamil, @antiheld

Revert changes on navigation links
  core/src/app/navigation/navigation.component.html
Owners: @pekura, @maxmarkus, @jesusreal, @kwiatekus, @dariadomagala, @hardl, @y-kkamil, @antiheld

Remove unnecessary css styling
  core/src/app/navigation/navigation.component.html
  core/src/styles/toolbar.scss
Owners: @pekura, @maxmarkus, @jesusreal, @kwiatekus, @dariadomagala, @hardl, @y-kkamil, @antiheld

Make nav footer sticky by adding sf-toolbar__content
  core/src/app/navigation/navigation.component.html
  core/src/app/navigation/navigation.component.scss
  core/src/styles/toolbar.scss
Owners: @pekura, @maxmarkus, @jesusreal, @kwiatekus, @dariadomagala, @hardl, @y-kkamil, @antiheld

Enable external links validation on PRs (#194)
  governance.Jenkinsfile
Owners: @suleymanakbas91, @clebs, @a-thaler, @lilitgh, @akucharska, @michal-hudy, @pkosiec, @mjasinski5, @magicmatatjahu

Fix linting errors
  core/src/app/navigation/navigation.component.html
Owners: @pekura, @maxmarkus, @jesusreal, @kwiatekus, @dariadomagala, @hardl, @y-kkamil, @antiheld

Fix resource limit info on an error (#212)
  core/src/app/content/environments/environments-container/environments-container.component.ts
Owners: @pekura, @maxmarkus, @jesusreal, @kwiatekus, @dariadomagala, @hardl, @y-kkamil, @antiheld

CODEOWNERS:

# Default owners of the repository
* @akucharska @michal-hudy @pkosiec @mjasinski5 @magicmatatjahu @pekura @maxmarkus @jesusreal @kwiatekus @dariadomagala @hardl @y-kkamil @antiheld @joek @lilitgh @venturasr @sayanh @rakesh-garimella

/catalog/ @akucharska @michal-hudy @pkosiec @mjasinski5 @magicmatatjahu
/instances/ @akucharska @michal-hudy @pkosiec @mjasinski5 @magicmatatjahu
/content/ @akucharska @michal-hudy @pkosiec @mjasinski5 @magicmatatjahu
/components/angular/ @pekura @maxmarkus @jesusreal @kwiatekus @dariadomagala @hardl @y-kkamil @antiheld
/components/react/ @akucharska @michal-hudy @pkosiec @mjasinski5 @magicmatatjahu
/core/ @pekura @maxmarkus @jesusreal @kwiatekus @dariadomagala @hardl @y-kkamil @antiheld
/tests/ @akucharska @michal-hudy @pkosiec @mjasinski5 @magicmatatjahu @pekura @maxmarkus @jesusreal @kwiatekus @dariadomagala @hardl @y-kkamil @antiheld
/lambda/ @rakesh-garimella @joek @sayanh @venturasr @lilitgh

# Owners of specific acceptance tests
/tests/ui-tests/commands/catalog.js @akucharska @michal-hudy @pkosiec @mjasinski5 @magicmatatjahu
/tests/ui-tests/commands/console.js @pekura @maxmarkus @jesusreal @kwiatekus @dariadomagala @hardl @y-kkamil @antiheld
/tests/ui-tests/commands/docs.js @akucharska @michal-hudy @pkosiec @mjasinski5 @magicmatatjahu
/tests/ui-tests/commands/lambdas.js @rakesh-garimella @joek @sayanh @venturasr @lilitgh
/tests/ui-tests/tests/catalog-ui-test.js @akucharska @michal-hudy @pkosiec @mjasinski5 @magicmatatjahu
/tests/ui-tests/tests/console-basic-test.js @pekura @maxmarkus @jesusreal @kwiatekus @dariadomagala @hardl @y-kkamil @antiheld
/tests/ui-tests/tests/docs-ui-test.js @akucharska @michal-hudy @pkosiec @mjasinski5 @magicmatatjahu
/tests/ui-tests/tests/lambda-ui-test.js @rakesh-garimella @joek @sayanh @venturasr @lilitgh

# Owners of all .md files in the repository
*.md @kazydek @klaudiagrz @tomekpapiernik @bszwarc

# Owners of config file for MILV - milv.config.yaml
milv.config.yaml @akucharska @michal-hudy @pkosiec @mjasinski5 @magicmatatjahu

# Owners of governance file
governance.Jenkinsfile @suleymanakbas91 @clebs @a-thaler @lilitgh @akucharska @michal-hudy @pkosiec @mjasinski5 @magicmatatjahu
