Repository kyma-project/console, changes with the owners that CODEOWNERS names for each.
All owners: @akucharska, @michal-hudy, @aerfio, @m00g3n, @magicmatatjahu, @pekura, @maxmarkus, @jesusreal, @kwiatekus, @dariadomagala, @hardl, @y-kkamil, @antiheld, @joek, @lilitgh, @venturasr, @sayanh, @rakesh-garimella, @k15r, @johannesdoberer, @marynakhromova, @parostatkiem, @aszecowka, @PK85, @mszostok, @piotrmiskiewicz, @polskikiel, @jasiu001, @kazydek, @klaudiagrz, @tomekpapiernik, @bszwarc, @mmitoraj, @suleymanakbas91, @clebs, @a-thaler

Move filtering logic from adding labels to filtering streams
  logging/src/app/app.config.ts
  logging/src/app/search-form/data/search-form-data.ts
  logging/src/app/search-form/search-form.component.html
  logging/src/app/search-form/search-form.component.ts
Owners: @akucharska, @michal-hudy, @aerfio, @m00g3n, @magicmatatjahu, @pekura, @maxmarkus, @jesusreal, @kwiatekus, @dariadomagala, @hardl, @y-kkamil, @antiheld, @joek, @lilitgh, @venturasr, @sayanh, @rakesh-garimella, @k15r, @johannesdoberer, @marynakhromova

Fix lambda exposure FQDN
  lambda/src/app/lambdas/lambda-details/http-trigger/http-trigger.component.ts
Owners: @rakesh-garimella, @joek, @sayanh, @venturasr, @lilitgh, @k15r, @kwiatekus, @dariadomagala, @y-kkamil, @parostatkiem, @akucharska

Remove obsolete lines
  config.js
  logging/src/app/search-form/search-form.component.ts
Owners: @akucharska, @michal-hudy, @aerfio, @m00g3n, @magicmatatjahu, @pekura, @maxmarkus, @jesusreal, @kwiatekus, @dariadomagala, @hardl, @y-kkamil, @antiheld, @joek, @lilitgh, @venturasr, @sayanh, @rakesh-garimella, @k15r, @johannesdoberer, @marynakhromova

Reset unwanted changes
  config.js
Owners: @akucharska, @michal-hudy, @aerfio, @m00g3n, @magicmatatjahu, @pekura, @maxmarkus, @jesusreal, @kwiatekus, @dariadomagala, @hardl, @y-kkamil, @antiheld, @joek, @lilitgh, @venturasr, @sayanh, @rakesh-garimella, @k15r, @johannesdoberer, @marynakhromova

Remove containerInstancesService leftovers
  lambda/src/app/app.module.ts
  lambda/src/app/container-instances/container-instances.service.spec.ts
  lambda/src/app/container-instances/container-instances.service.ts
  lambda/src/app/lambdas/lambda-details/lambda-details.component.ts
Owners: @rakesh-garimella, @joek, @sayanh, @venturasr, @lilitgh, @k15r, @kwiatekus, @dariadomagala, @y-kkamil, @parostatkiem, @akucharska

Minor changes
  lambda/src/app/lambdas/lambda-details/lambda-details.component.ts
  logging/package-lock.json
  logging/package.json
  logging/src/app/search-form/search-form.component.html
  logging/src/app/search-form/search-form.component.ts
Owners: @rakesh-garimella, @joek, @sayanh, @venturasr, @lilitgh, @k15r, @kwiatekus, @dariadomagala, @y-kkamil, @parostatkiem, @akucharska, @michal-hudy, @aerfio, @m00g3n, @magicmatatjahu, @pekura, @maxmarkus, @jesusreal, @hardl, @antiheld, @johannesdoberer, @marynakhromova

Add configuration for XS lambda
  lambda/src/app/app.config.ts
Owners: @rakesh-garimella, @joek, @sayanh, @venturasr, @lilitgh, @k15r, @kwiatekus, @dariadomagala, @y-kkamil, @parostatkiem, @akucharska

Fix linter errors
  logging/src/app/search-form/search-form.component.ts
  logging/src/app/search-form/service/pods-subscription/pods-subscription.service.ts
Owners: @akucharska, @michal-hudy, @aerfio, @m00g3n, @magicmatatjahu, @pekura, @maxmarkus, @jesusreal, @kwiatekus, @dariadomagala, @hardl, @y-kkamil, @antiheld, @joek, @lilitgh, @venturasr, @sayanh, @rakesh-garimella, @k15r, @johannesdoberer, @marynakhromova

Fix tests; Minor improvements
  logging/src/app/app.component.spec.ts
  logging/src/app/app.module.ts
  logging/src/app/search-form/search-form.component.spec.ts
  logging/src/app/search-form/search-form.component.ts
  logging/src/app/search-form/service/pods-subscription/pods-subscription.service.ts
Owners: @akucharska, @michal-hudy, @aerfio, @m00g3n, @magicmatatjahu, @pekura, @maxmarkus, @jesusreal, @kwiatekus, @dariadomagala, @hardl, @y-kkamil, @antiheld, @joek, @lilitgh, @venturasr, @sayanh, @rakesh-garimella, @k15r, @johannesdoberer, @marynakhromova

Rework service class details header
  catalog/src/components/ServiceClassDetails/ServiceClassDetails.component.js
  catalog/src/components/ServiceClassDetails/ServiceClassDetailsHeader/ServiceClassDetailsHeader.component.js
  catalog/src/components/ServiceClassDetails/ServiceClassInfo/ServiceClassInfo.component.js
  catalog/src/components/ServiceClassDetails/ServiceClassInfo/styled.js
  catalog/src/components/ServiceClassDetails/ServiceClassToolbar/ServiceClassToolbar.component.js
  components/react/src/components/Tile/index.js
  components/react/src/components/Toolbar/index.js
  components/react/src/components/index.js
Owners: @akucharska, @michal-hudy, @aerfio, @m00g3n, @magicmatatjahu, @kwiatekus, @dariadomagala, @y-kkamil, @parostatkiem

Apply prettier
  catalog/src/components/ServiceClassDetails/ServiceClassInfo/ServiceClassInfo.component.js
  catalog/src/components/ServiceClassDetails/ServiceClassInfo/styled.js
Owners: @akucharska, @michal-hudy, @aerfio, @m00g3n, @magicmatatjahu, @kwiatekus, @dariadomagala, @y-kkamil, @parostatkiem

Fix prettier errors
  catalog/src/components/ServiceClassDetails/ServiceClassInfo/ServiceClassInfo.component.js
Owners: @akucharska, @michal-hudy, @aerfio, @m00g3n, @magicmatatjahu, @kwiatekus, @dariadomagala, @y-kkamil, @parostatkiem

Minor fixes
  catalog/src/components/ServiceClassDetails/ServiceClassDetails.component.js
  catalog/src/components/ServiceClassDetails/ServiceClassDetailsHeader/ServiceClassDetailsHeader.component.js
  catalog/src/components/ServiceClassDetails/ServiceClassInfo/ServiceClassInfo.component.js
  catalog/src/components/ServiceClassDetails/ServiceClassInfo/styled.js
  catalog/src/components/ServiceClassDetails/ServiceClassToolbar/ServiceClassToolbar.component.js
Owners: @akucharska, @michal-hudy, @aerfio, @m00g3n, @magicmatatjahu, @kwiatekus, @dariadomagala, @y-kkamil, @parostatkiem

CODEOWNERS:

# Default owners of the repository
* @akucharska @michal-hudy @aerfio @m00g3n @magicmatatjahu @pekura @maxmarkus @jesusreal @kwiatekus @dariadomagala @hardl @y-kkamil @antiheld @joek @lilitgh @venturasr @sayanh @rakesh-garimella @k15r @johannesdoberer @marynakhromova

/catalog/ @akucharska @michal-hudy @aerfio @m00g3n @magicmatatjahu @kwiatekus @dariadomagala @y-kkamil @parostatkiem
/instances/ @akucharska @michal-hudy @aerfio @m00g3n @magicmatatjahu @kwiatekus @dariadomagala @y-kkamil @parostatkiem
/brokers/ @akucharska @michal-hudy @aerfio @m00g3n @magicmatatjahu @aszecowka @PK85 @mszostok @piotrmiskiewicz @polskikiel @jasiu001 @kwiatekus @dariadomagala @y-kkamil @parostatkiem
/content/ @akucharska @michal-hudy @aerfio @m00g3n @magicmatatjahu
/components/angular/ @kwiatekus @dariadomagala @y-kkamil @akucharska @parostatkiem
/components/react/ @akucharska @michal-hudy @aerfio @m00g3n @magicmatatjahu @kwiatekus @dariadomagala @y-kkamil @parostatkiem
/core/ @kwiatekus @dariadomagala @y-kkamil @parostatkiem @akucharska
/tests/ @akucharska @michal-hudy @aerfio @m00g3n @magicmatatjahu @kwiatekus @dariadomagala @y-kkamil
/lambda/ @rakesh-garimella @joek @sayanh @venturasr @lilitgh @k15r @kwiatekus @dariadomagala @y-kkamil @parostatkiem @akucharska

# Owners of all .md files in the repository
*.md @kazydek @klaudiagrz @tomekpapiernik @bszwarc @mmitoraj

# Owners of config file for MILV - milv.config.yaml
milv.config.yaml @akucharska @michal-hudy @aerfio @m00g3n @magicmatatjahu

# Owners of governance file
governance.Jenkinsfile @suleymanakbas91 @clebs @a-thaler @lilitgh @akucharska @michal-hudy @aerfio @m00g3n @magicmatatjahu
