Repository kyma-project/console, changes with the owners that CODEOWNERS names for each.
All owners: @akucharska, @michal-hudy, @pkosiec, @aerfio, @magicmatatjahu, @pekura, @maxmarkus, @jesusreal, @kwiatekus, @dariadomagala, @hardl, @y-kkamil, @antiheld, @joek, @lilitgh, @venturasr, @sayanh, @rakesh-garimella, @k15r, @johannesdoberer, @marynakhromova, @aszecowka, @PK85, @mszostok, @piotrmiskiewicz, @polskikiel, @jasiu001, @parostatkiem, @kazydek, @klaudiagrz, @tomekpapiernik, @bszwarc, @mmitoraj, @suleymanakbas91, @clebs, @a-thaler

CODEOWNERS:

# Default owners of the repository
* @akucharska @michal-hudy @pkosiec @aerfio @magicmatatjahu @pekura @maxmarkus @jesusreal @kwiatekus @dariadomagala @hardl @y-kkamil @antiheld @joek @lilitgh @venturasr @sayanh @rakesh-garimella @k15r @johannesdoberer @marynakhromova

/catalog/ @akucharska @michal-hudy @pkosiec @aerfio @magicmatatjahu
/instances/ @akucharska @michal-hudy @pkosiec @aerfio @magicmatatjahu
/brokers/ @akucharska @michal-hudy @pkosiec @aerfio @magicmatatjahu @aszecowka @PK85 @mszostok @piotrmiskiewicz @polskikiel @jasiu001
/content/ @akucharska @michal-hudy @pkosiec @aerfio @magicmatatjahu
/components/angular/ @pekura @maxmarkus @jesusreal @kwiatekus @dariadomagala @hardl @y-kkamil @antiheld @johannesdoberer @marynakhromova
/components/react/ @akucharska @michal-hudy @pkosiec @aerfio @magicmatatjahu
/core/ @pekura @maxmarkus @jesusreal @kwiatekus @dariadomagala @hardl @y-kkamil @antiheld @parostatkiem @johannesdoberer @marynakhromova
/tests/ @akucharska @michal-hudy @pkosiec @aerfio @magicmatatjahu @pekura @maxmarkus @jesusreal @kwiatekus @dariadomagala @hardl @y-kkamil @antiheld @johannesdoberer @marynakhromova
/lambda/ @rakesh-garimella @joek @sayanh @venturasr @lilitgh @k15r @pekura @maxmarkus @jesusreal @kwiatekus @dariadomagala @hardl @y-kkamil @antiheld @parostatkiem @johannesdoberer @marynakhromova

# Owners of all .md files in the repository
*.md @kazydek @klaudiagrz @tomekpapiernik @bszwarc @mmitoraj

# Owners of config file for MILV - milv.config.yaml
milv.config.yaml @akucharska @michal-hudy @pkosiec @aerfio @magicmatatjahu

# Owners of governance file
governance.Jenkinsfile @suleymanakbas91 @clebs @a-thaler @lilitgh @akucharska @michal-hudy @pkosiec @aerfio @magicmatatjahu

Remove random-names-data from catalog
  add-ons/src/helpers/random-names-generator.ts
  catalog/src/commons/random-names-data.js
Owners: @akucharska, @michal-hudy, @pkosiec, @aerfio, @magicmatatjahu, @pekura, @maxmarkus, @jesusreal, @kwiatekus, @dariadomagala, @hardl, @y-kkamil, @antiheld, @joek, @lilitgh, @venturasr, @sayanh, @rakesh-garimella, @k15r, @johannesdoberer, @marynakhromova

Run lint-fix
  components/react/src/commons/random-names-generator.js
Owners: @akucharska, @michal-hudy, @pkosiec, @aerfio, @magicmatatjahu

Update constants for add-ons view
  add-ons/src/constants.ts
Owners: @akucharska, @michal-hudy, @pkosiec, @aerfio, @magicmatatjahu, @pekura, @maxmarkus, @jesusreal, @kwiatekus, @dariadomagala, @hardl, @y-kkamil, @antiheld, @joek, @lilitgh, @venturasr, @sayanh, @rakesh-garimella, @k15r, @johannesdoberer, @marynakhromova

Fix dependencies
  core/package-lock.json
  core/package.json
Owners: @pekura, @maxmarkus, @jesusreal, @kwiatekus, @dariadomagala, @hardl, @y-kkamil, @antiheld, @parostatkiem, @johannesdoberer, @marynakhromova

Update constants
  add-ons/src/constants.ts
Owners: @akucharska, @michal-hudy, @pkosiec, @aerfio, @magicmatatjahu, @pekura, @maxmarkus, @jesusreal, @kwiatekus, @dariadomagala, @hardl, @y-kkamil, @antiheld, @joek, @lilitgh, @venturasr, @sayanh, @rakesh-garimella, @k15r, @johannesdoberer, @marynakhromova

Fix reload issue and small refactor
  core/package-lock.json
  core/package.json
  core/src/app/content/namespaces/operation/abstract-graphql-element-list.component.ts
Owners: @pekura, @maxmarkus, @jesusreal, @kwiatekus, @dariadomagala, @hardl, @y-kkamil, @antiheld, @parostatkiem, @johannesdoberer, @marynakhromova

update query
  content/src/components/MainPage/MainPage.container.js
  content/src/components/MainPage/queries.js
Owners: @akucharska, @michal-hudy, @pkosiec, @aerfio, @magicmatatjahu

Fix MainPage.container
  content/src/components/MainPage/MainPage.container.js
Owners: @akucharska, @michal-hudy, @pkosiec, @aerfio, @magicmatatjahu

fix html warning
  content/public/index.html
Owners: @akucharska, @michal-hudy, @pkosiec, @aerfio, @magicmatatjahu

Update LeftNavigation to handle more groupNames
  content/src/commons/helpers.js
  content/src/components/DocsContent/DocsContent.component.js
  content/src/components/DocsContent/DocsContent.container.js
  content/src/components/MainPage/MainPage.component.js
  content/src/components/MainPage/queries.js
  content/src/components/Navigation/LeftNavigation/NavigationList/NavigationList.js
Owners: @akucharska, @michal-hudy, @pkosiec, @aerfio, @magicmatatjahu

remove unnecesary import
  content/src/components/MainPage/MainPage.component.js
Owners: @akucharska, @michal-hudy, @pkosiec, @aerfio, @magicmatatjahu

fix nasty typo and make content fetching easier
  content/src/components/DocsContent/DocsContent.container.js
  content/src/components/MainPage/MainPage.container.js
Owners: @akucharska, @michal-hudy, @pkosiec, @aerfio, @magicmatatjahu

remove unused import
  content/src/components/MainPage/MainPage.container.js
Owners: @akucharska, @michal-hudy, @pkosiec, @aerfio, @magicmatatjahu

remove comments
  content/src/components/DocsContent/DocsContent.container.js
  content/src/components/Navigation/LeftNavigation/NavigationList/NavigationList.js
Owners: @akucharska, @michal-hudy, @pkosiec, @aerfio, @magicmatatjahu

add temporary console.logs
  content/src/components/Navigation/LeftNavigation/NavigationList/NavigationList.js
Owners: @akucharska, @michal-hudy, @pkosiec, @aerfio, @magicmatatjahu

show "Components" tab as first one after "Kyma" in left nav
  content/src/components/DocsContent/DocsContent.container.js
  content/src/components/Navigation/LeftNavigation/NavigationList/NavigationGroup.js
  content/src/components/Navigation/LeftNavigation/NavigationList/NavigationList.js
Owners: @akucharska, @michal-hudy, @pkosiec, @aerfio, @magicmatatjahu

remove unneded console,logs and handle array of files
  content/src/components/Navigation/LeftNavigation/NavigationList/NavigationGroup.js
  content/src/components/Navigation/LeftNavigation/NavigationList/NavigationSections.js
Owners: @akucharska, @michal-hudy, @pkosiec, @aerfio, @magicmatatjahu

Fix scrollspy issue
  content/src/components/MainPage/MainPage.component.js
Owners: @akucharska, @michal-hudy, @pkosiec, @aerfio, @magicmatatjahu

Update docs nav sections to be collapsible
  content/package-lock.json
  content/package.json
  content/src/components/Navigation/LeftNavigation/NavigationList/NavigationGroup.js
  content/src/components/Navigation/LeftNavigation/NavigationList/styled.js
  package-lock.json
Owners: @akucharska, @michal-hudy, @pkosiec, @aerfio, @magicmatatjahu, @pekura, @maxmarkus, @jesusreal, @kwiatekus, @dariadomagala, @hardl, @y-kkamil, @antiheld, @joek, @lilitgh, @venturasr, @sayanh, @rakesh-garimella, @k15r, @johannesdoberer, @marynakhromova

Add dropdown icon and fix scrollspy
  content/src/components/Navigation/LeftNavigation/NavigationList/NavigationGroup.js
  content/src/components/Navigation/LeftNavigation/NavigationList/styled.js
  content/src/components/Navigation/ScrollSpy/ScrollSpy.component.js
Owners: @akucharska, @michal-hudy, @pkosiec, @aerfio, @magicmatatjahu

remove leftover types
  content/src/components/Navigation/ScrollSpy/ScrollSpy.component.js
Owners: @akucharska, @michal-hudy, @pkosiec, @aerfio, @magicmatatjahu

Small refactor pt2
  core/src/app/content/namespaces/operation/abstract-graphql-element-list.component.ts
Owners: @pekura, @maxmarkus, @jesusreal, @kwiatekus, @dariadomagala, @hardl, @y-kkamil, @antiheld, @parostatkiem, @johannesdoberer, @marynakhromova

Update console
  catalog/src/commons/helpers.js
Owners: @akucharska, @michal-hudy, @pkosiec, @aerfio, @magicmatatjahu

Improve tests
  catalog/src/commons/commons.spec.js
Owners: @akucharska, @michal-hudy, @pkosiec, @aerfio, @magicmatatjahu

Update text for Labels
  add-ons/src/constants.ts
Owners: @akucharska, @michal-hudy, @pkosiec, @aerfio, @magicmatatjahu, @pekura, @maxmarkus, @jesusreal, @kwiatekus, @dariadomagala, @hardl, @y-kkamil, @antiheld, @joek, @lilitgh, @venturasr, @sayanh, @rakesh-garimella, @k15r, @johannesdoberer, @marynakhromova

Improve extractIsDevelopmentModeFlag in add-ons-ui
  add-ons/src/constants.ts
  add-ons/src/helpers/helm-broker-development-mode.ts
Owners: @akucharska, @michal-hudy, @pkosiec, @aerfio, @magicmatatjahu, @pekura, @maxmarkus, @jesusreal, @kwiatekus, @dariadomagala, @hardl, @y-kkamil, @antiheld, @joek, @lilitgh, @venturasr, @sayanh, @rakesh-garimella, @k15r, @johannesdoberer, @marynakhromova

Update constants
  add-ons/src/components/Table/TableContent.component.tsx
  add-ons/src/components/Toolbar/Toolbar.component.tsx
  add-ons/src/constants.ts
Owners: @akucharska, @michal-hudy, @pkosiec, @aerfio, @magicmatatjahu, @pekura, @maxmarkus, @jesusreal, @kwiatekus, @dariadomagala, @hardl, @y-kkamil, @antiheld, @joek, @lilitgh, @venturasr, @sayanh, @rakesh-garimella, @k15r, @johannesdoberer, @marynakhromova

Fix showing add-ons
  catalog/src/store/Filter/resolvers.js
  instances/src/store/Filter/resolvers.js
Owners: @akucharska, @michal-hudy, @pkosiec, @aerfio, @magicmatatjahu

Fix showing add-ons (#792)
  catalog/src/store/Filter/resolvers.js
  instances/src/store/Filter/resolvers.js
Owners: @akucharska, @michal-hudy, @pkosiec, @aerfio, @magicmatatjahu

Update descriptions of in toolbar
  add-ons/src/constants.ts
Owners: @akucharska, @michal-hudy, @pkosiec, @aerfio, @magicmatatjahu, @pekura, @maxmarkus, @jesusreal, @kwiatekus, @dariadomagala, @hardl, @y-kkamil, @antiheld, @joek, @lilitgh, @venturasr, @sayanh, @rakesh-garimella, @k15r, @johannesdoberer, @marynakhromova

Update description of view again...
  add-ons/src/constants.ts
Owners: @akucharska, @michal-hudy, @pkosiec, @aerfio, @magicmatatjahu, @pekura, @maxmarkus, @jesusreal, @kwiatekus, @dariadomagala, @hardl, @y-kkamil, @antiheld, @joek, @lilitgh, @venturasr, @sayanh, @rakesh-garimella, @k15r, @johannesdoberer, @marynakhromova

Again...
  add-ons/src/constants.ts
Owners: @akucharska, @michal-hudy, @pkosiec, @aerfio, @magicmatatjahu, @pekura, @maxmarkus, @jesusreal, @kwiatekus, @dariadomagala, @hardl, @y-kkamil, @antiheld, @joek, @lilitgh, @venturasr, @sayanh, @rakesh-garimella, @k15r, @johannesdoberer, @marynakhromova

update query
  content/src/components/MainPage/MainPage.container.js
  content/src/components/MainPage/queries.js
Owners: @akucharska, @michal-hudy, @pkosiec, @aerfio, @magicmatatjahu

Fix MainPage.container
  content/src/components/MainPage/MainPage.container.js
Owners: @akucharska, @michal-hudy, @pkosiec, @aerfio, @magicmatatjahu

fix html warning
  content/public/index.html
Owners: @akucharska, @michal-hudy, @pkosiec, @aerfio, @magicmatatjahu

Update LeftNavigation to handle more groupNames
  content/src/commons/helpers.js
  content/src/components/DocsContent/DocsContent.component.js
  content/src/components/DocsContent/DocsContent.container.js
  content/src/components/MainPage/MainPage.component.js
  content/src/components/MainPage/queries.js
  content/src/components/Navigation/LeftNavigation/NavigationList/NavigationList.js
Owners: @akucharska, @michal-hudy, @pkosiec, @aerfio, @magicmatatjahu

remove unnecesary import
  content/src/components/MainPage/MainPage.component.js
Owners: @akucharska, @michal-hudy, @pkosiec, @aerfio, @magicmatatjahu

fix nasty typo and make content fetching easier
  content/src/components/DocsContent/DocsContent.container.js
  content/src/components/MainPage/MainPage.container.js
Owners: @akucharska, @michal-hudy, @pkosiec, @aerfio, @magicmatatjahu

remove unused import
  content/src/components/MainPage/MainPage.container.js
Owners: @akucharska, @michal-hudy, @pkosiec, @aerfio, @magicmatatjahu

remove comments
  content/src/components/DocsContent/DocsContent.container.js
  content/src/components/Navigation/LeftNavigation/NavigationList/NavigationList.js
Owners: @akucharska, @michal-hudy, @pkosiec, @aerfio, @magicmatatjahu
